<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title ellipsable" style="max-width: 90%;">
      {{'ADMINISTRATION.DATASETS.SETTINGS.DATASET_SETTINGS'|translate}}
      <span class="text-body-secondary">({{project.getLabel()}})</span>
    </h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="card vbox">
      <div class="card-body vbox p-0">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" (click)="changeTab('languages')" [ngClass]="{ active: activeTab == 'languages' }">
              {{'COMMONS.LANGUAGE.LANGUAGES'|translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="changeTab('resview')" [ngClass]="{ active: activeTab == 'resview' }">
              {{'Resource View'|translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="changeTab('other')" [ngClass]="{ active: activeTab == 'other' }">
              {{'COMMONS.OTHER'|translate}}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane" [ngClass]="{ active: activeTab == 'languages' }">
            <div *ngIf="initializing" class="spinner-border text-info p-3"></div>
            <rendering-editor *ngIf="renderingLangs" style="min-height: 300px;" [project]="project" [(ngModel)]="renderingLangs"
              (ngModelChange)="onRenderingChange()" [alert]="'ADMINISTRATION.DATASETS.SETTINGS.RENDERING_LANG_INFO'|translate">
            </rendering-editor>
          </div>

          <div class="tab-pane" [ngClass]="{ active: activeTab == 'resview' }">
            <res-view-project-settings *ngIf="projSettingsReady" [project]="project">
            </res-view-project-settings>
          </div>

          <div class="tab-pane overflow-auto" [ngClass]="{ active: activeTab == 'other' }" style="gap: 6px">

            <dataset-tabs-settings *ngIf="hiddenDatasetTabsPref" [(ngModel)]="hiddenDatasetTabsPref" (ngModelChange)="onHiddenDatasetTabChanged()"></dataset-tabs-settings>

            <data-panels-settings *ngIf="hiddenDataPanelsPref" [(ngModel)]="hiddenDataPanelsPref" [project]="project" (ngModelChange)="onHiddenDataPanelChanged()">
              <div toolbar>
                <button class="btn btn-sm btn-light" (click)="editDataPanelsNames()" [title]="'PREFERENCES.DATA_PANEL_LABELS.EDIT'|translate">
                  <span class="fas fa-pencil-alt"></span>
                </button>
              </div>
            </data-panels-settings>

            <div *ngIf="isSkos" class="card">
              <div class="card-body">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="xkosTabEnabled" (ngModelChange)="onXkosTabEnabledChanged()">
                  <label class="form-check-label text-nowrap">{{'CORRESPONDENCES.SETTINGS.ENABLE_TAB'|translate}}</label>
                </div>
              </div>
            </div>

            <ng-container *ngIf="projSettingsReady">
              <div *ngIf="isSkos || isOntolex" class="card">
                <div class="card-header">{{'DATA.CONCEPT.SETTINGS.CONCEPT_TREE_SETTINGS'|translate}}</div>
                <div class="card-body">
                  <div class="alert alert-info mb-1">
                    {{'ADMINISTRATION.DATASETS.SETTINGS.CONCEPT_VISUALIZATION_INFO'|translate}}
                  </div>
                  <concept-tree-settings [(ngModel)]="concTreePref" [project]="project" [administration]="true" (ngModelChange)="onConceptTreePrefChanged()"></concept-tree-settings>
                </div>
              </div>
              <div *ngIf="isOwl" class="card">
                <div class="card-header">{{'DATA.INSTANCE.SETTINGS.INSTANCE_LIST_SETTINGS'|translate}}</div>
                <div class="card-body">
                  <div class="alert alert-info mb-1">
                    {{'ADMINISTRATION.DATASETS.SETTINGS.INSTANCE_LIST_VISUALIZATION_INFO'|translate}}
                  </div>
                  <instance-list-settings [(ngModel)]="instListPref" [project]="project" [administration]="true" (ngModelChange)="onInstanceListPrefChanged()"></instance-list-settings>
                </div>
              </div>
              <div *ngIf="isOntolex" class="card">
                <div class="card-header">{{'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRY_SETTINGS'|translate}}</div>
                <div class="card-body">
                  <div class="alert alert-info mb-1">
                    {{'ADMINISTRATION.DATASETS.SETTINGS.LEX_ENTRY_VISUALIZATION_INFO'|translate}}
                  </div>
                  <lex-entry-list-settings [(ngModel)]="lexEntryListPref" [project]="project" [administration]="true" (ngModelChange)="onLexEntryListPrefChanged()"></lex-entry-list-settings>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>




  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>