<div class="overflow-auto">

  <div class="card">
    <div class="card-body">

      <res-view-template-editor *ngIf="rvSettings" class="vbox" style="max-height: 40vh;"
        [(ngModel)]="rvSettings.templates" (ngModelChange)="updateResViewSettingsWithTimeout()" [customSections]="customSectionsIDs">
      </res-view-template-editor>

      <div class="card vbox mt-2" style="min-height: 150px; max-height: 50vh;">
        <div class="card-header">
          <label>{{'RESOURCE_VIEW.CUSTOM_SECTIONS.CUSTOM_SECTIONS'|translate}}</label>
        </div>
        <div class="card-body hbox">
          <div class="card vbox">
            <div class="card-header d-flex align-items-center">
              <label style="flex: 1;">{{'RESOURCE_VIEW.SECTIONS.SECTIONS'|translate}}</label>
              <div class="btn-toolbar">
                <button class="btn btn-light btn-xs" (click)="renameCustomSection()" [disabled]="!selectedCustomSection">
                  <span class="fas fa-pencil-alt"></span>
                </button>
                <div class="btn-group btn-group-xs">
                  <button class="btn btn-light" (click)="addCustomSection()">
                    <span class="fas fa-plus"></span>
                  </button>
                  <button class="btn btn-light" (click)="deleteCustomSection()" [disabled]="!selectedCustomSection">
                    <span class="fas fa-minus"></span>
                  </button>
                </div>
              </div>
            </div>
            <div class="card-body scrollableContainer">
              <div *ngFor="let cs of customSectionsIDs" class="listItem" (click)="selectCustomSection(cs)" [ngClass]="{ active: cs == selectedCustomSection }">
                {{cs}}
              </div>
            </div>
          </div>

          <div class="card vbox ms-2">
            <div class="card-header d-flex align-items-center">
              <label style="flex: 1;">{{'RESOURCE_VIEW.CUSTOM_SECTIONS.MANAGED_PROPERTIES'|translate}}</label>

              <ng-container *ngIf="selectedCustomSection">
                <span *ngIf="!project.isOpen()" class="fas fa-exclamation-triangle" [title]="'RESOURCE_VIEW.CUSTOM_SECTIONS.PROP_ADDITION_OTHER_PROJECT_WARN'|translate"></span>
                <div class="btn-group btn-group-xs ms-2">
                  <button class="btn btn-light" (click)="addManagedProperty()">
                    <span class="fas fa-plus"></span>
                  </button>
                  <button class="btn btn-light" (click)="deleteManagedProperty()" [disabled]="!selectedManagedProperty">
                    <span class="fas fa-minus"></span>
                  </button>
                </div>
              </ng-container>
            </div>
            <div class="card-body scrollableContainer">
              <ng-container *ngIf="selectedCustomSection">
                <div *ngFor="let p of customSections[selectedCustomSection]" class="listItem" (click)="selectManagedProperty(p)" [ngClass]="{ active: p == selectedManagedProperty }">
                  {{p.toNT()}}
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-end">
      <div *ngIf="isAdmin" class="btn-group" style="position: static;" ngbDropdown placement="top-right" container="body">
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
          {{'COMMONS.STATUS.DEFAULT'|translate}}
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" (click)="setAsSystemDefault()">{{'COMMONS.ACTIONS.SET_AS_SYSTEM_DEFAULT'|translate}}</button>
          <button class="dropdown-item" (click)="restoreSystemDefault()">{{'COMMONS.ACTIONS.RESTORE_SYSTEM_DEFAULT'|translate}}</button>
        </div>
      </div>
      <button *ngIf="!isAdmin" class="btn btn-light" (click)="restoreSystemDefault()">{{'COMMONS.ACTIONS.RESTORE_SYSTEM_DEFAULT'|translate}}</button>
    </div>
  </div>

  <div class="card vbox mt-2" style="min-height: 420px;">
    <div class="card-header">
      <label style="flex: 1;">
        {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY_PROJ_DEFAULT'|translate}}
      </label>
    </div>
    <div class="card-body vbox">
      <div class="alert alert-info mb-2">
        {{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY_PROJ_DEFAULT_INFO'|translate}}
      </div>
      <section-filter [(ngModel)]="sectionVisibilityDefault" [template]="rvSettings?.templates"
        (ngModelChange)="onSectionVisibilityDefaultChanged()">
      </section-filter>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="showHeaderCheck" type="checkbox" [(ngModel)]="showSectionHeader" (ngModelChange)="onShowSectionHeaderChange()">
          <label class="form-check-label" for="showHeaderCheck">
            {{'RESOURCE_VIEW.SETTINGS.SHOW_SECTION_HEADER'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_SECTION_HEADER_INFO'|translate">
            </span>
          </label>
        </div>
        <button class="btn btn-sm btn-light ms-2" (click)="editSectionDetails()" [title]="'PREFERENCES.RES_VIEW_SECTIONS_DISPLAY_INFO.EDIT_SECTIONS_DISPLAY_INFO'|translate">
          <span class="fas fa-pencil-alt"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="renderPredCheck" type="checkbox" [(ngModel)]="predLabelSettings.enabled" (ngModelChange)="onRenderPredicateChange()">
          <label class="form-check-label" for="renderPredCheck">
            {{'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS_INFO'|translate">
            </span>
          </label>
        </div>
        <div [ngbTooltip]="(!project.isOpen()) ? 'This setting cannot be edited when the dataset is closed' : ''">
          <button class="btn btn-sm btn-light ms-2" (click)="editPredicateLabels()"
            [title]="'COMMONS.ACTIONS.EDIT'|translate" [disabled]="!project.isOpen()">
            <span class="fas fa-pencil-alt"></span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <div class="d-flex align-items-center">
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="hideLangCheck" type="checkbox" [(ngModel)]="hideLiteralLang" (ngModelChange)="onHideLiteralLangChange()">
          <label class="form-check-label" for="hideLangCheck">
            {{'RESOURCE_VIEW.SETTINGS.HIDE_LITERAL_LANG'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.HIDE_LITERAL_LANG_INFO'|translate">
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <lang-value-filter-pref class="vbox mt-2" style="max-height: 50vh;"
    [project]="project" [(ngModel)]="langValueFilter" (ngModelChange)="onLangValueFilterChange()">
  </lang-value-filter-pref>

</div>