<div class="container my-3">
  <h1>{{'DATASETS.BROWSE_DATASETS'|translate:translationParam}}</h1>

  <div class="hbox">

    <div class="vbox overflow-auto pe-1" style="flex: 1; gap: 6px;">
      <div *ngFor="let f of facetsFilters" class="card">
        <div class="card-header d-flex align-items-center clickable" (click)="f.open = !f.open">
          <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right': !f.open}">
          <label class="ellipsable ms-2">
            {{f.displayName | titlecase }}
          </label>
        </div>
        <div class="card-body">
          <ng-container *ngIf="f.open">
            <div *ngFor="let v of f.values" class="form-check">
              <label class="form-check-label w-100">
                <input class="form-check-input" type="checkbox" [(ngModel)]="v.active" (ngModelChange)="onFacetToggled()">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="ellipsable" [title]="v.value">
                    {{v.displayValue}}
                  </div>
                  <span class="badge bg-info ms-2">{{v.count}}</span>
                </div>
              </label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="card vbox ms-2" style="flex: 4;">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1">{{'DATASETS.DATASETS'|translate}}</label>

        <div *ngIf="projVisualizationPref.mode == 'facet'" class="btn-toolbar me-3">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPAND_ALL'|translate" (click)="expandAll()">
              <i class="fas fa-expand-arrows-alt"></i>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.COLLAPSE_ALL'|translate" (click)="collapseAll()">
              <i class="fas fa-compress-arrows-alt"></i>
            </button>
          </div>
        </div>

        <button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
          <i class="fas fa-font"></i>
        </button>
        <button class="btn btn-light btn-sm ms-1" (click)="refresh()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
          <span class="fas fa-sync"></span>
        </button>
        <button class="btn btn-light btn-sm ms-1" (click)="settings()" [title]="'COMMONS.SETTINGS'|translate">
          <span class="fas fa-cog"></span>
        </button>
      </div>
      <div class="card-body scrollableContainer p-2">
        <ng-container *ngIf="loading; then spinnerBlock; else contentBlock"></ng-container>
        <ng-template #spinnerBlock>
          <div class="spinner-border text-info"></div>
        </ng-template>
        <ng-template #contentBlock>
          <datasets-list *ngIf="projVisualizationPref.mode == 'list'" [projectBags]="projectBags" [filters]="filters"></datasets-list>
          <datasets-dirs *ngIf="projVisualizationPref.mode == 'facet'" [projectBags]="projectBags" [filters]="filters"></datasets-dirs>
        </ng-template>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [(ngModel)]="filters.stringFilter" [placeholder]="'COMMONS.FILTER'|translate">
          <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-right" autoClose="outside">
            <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
              <div class="d-inline-block position-relative">
                <span class="fas fa-filter"></span>
                <span *ngIf="filters.open || filters.favorite" class="fas fa-circle position-absolute text-danger" style="font-size: .5rem; top:0px; right: -3px;"></span>
              </div>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="toggleOnlyOpen()">
                <div class="d-flex align-items-center justify-content-between">
                  <span>{{'DATASETS.FILTERS.ONLY_OPEN'|translate}}</span>
                  <span [class]="'far fa-' + (filters.open ? 'check-' : '') + 'square ms-2'"></span>
                </div>
              </button>
              <button class="dropdown-item" (click)="toggleOnlyFavorites()">
                <div class="d-flex align-items-center justify-content-between">
                  <span>{{'DATASETS.FILTERS.ONLY_FAVORITES'|translate}}</span>
                  <span [class]="'far fa-' + (filters.favorite ? 'check-' : '') + 'square ms-2'"></span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>