<div class="vbox" style="gap: 10px;">
    <div *ngFor="let dir of datasetDirs" class="card">
        <div class="card-header clickable" (click)="toggleDirectory(dir)">
            <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right': !dir.open}">
            <label class="clickable ms-2">
                <ng-container *ngIf="dir.dirName">{{dir.dirDisplayName}}</ng-container>
                <ng-container *ngIf="!dir.dirName">Unclassified</ng-container>
            </label>
        </div>
        <div class="card-body vbox" style="gap: 8px;">
            <ng-container *ngIf="dir.open">
                <ng-container *ngFor="let d of dir.datasets">
                    <dataset-card *ngIf="isDatasetVisible(d)" [project]="d"></dataset-card>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>