<div class="card">
  <div class="card-body p-2">

    <!-- Dataset name -->
    <h5 #cardTitle class="card-title mb-0">
      <div class="d-flex align-items-center" [ngStyle]="{ 'max-width': titleMaxWidth }">
        <button #favoriteBtn class="btn btn-xs btn-outline-light rounded-circle me-2" (click)="toggleFavorite(); favoriteBtn.blur()" [title]="'COMMONS.FAVORITE'|translate">
          <i [ngClass]="isFavorite ? 'fas' : 'far'" class="fa-star text-info"></i>
        </button>
        <a [routerLink]="" class="ellipsable d-inline-block" [ngClass]="{ 'disabled text-body-secondary': !project.isOpen() }" [title]="project.getName()" (click)="goToProject(project)">
          {{project.getLabel()}}
        </a>
      </div>
    </h5>

    <!-- Model + Lexicalization box -->
    <div #modelBadge class="d-flex align-items-center p-1 border-start border-bottom" style="position: absolute; top: 0; right: 0; border-bottom-left-radius: 5px; gap: 8px">
      <div class="d-flex align-items-center">
        <span class="me-1">{{'COMMONS.MODEL'|translate}}:</span>
        <span class="badge bg-info">{{project.getModelType(true)}}</span>
      </div>
      <div class="d-flex align-items-center">
        <span class="me-1">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}:</span>
        <span class="badge bg-info">{{project.getLexicalizationModelType(true)}}</span>
      </div>
    </div>

    <!-- Base URI -->
    <div class="card-text text-secondary mt-1" style="font-size: 13px;">{{project.getBaseURI()}}</div>

    <!-- Description -->
    <div *ngIf="project.getDescription()" class="card-text text-dark mt-2">
      <ng-container *ngIf="descriptionWithLink; else plainDescriptionBlock">
        <ng-container *ngFor="let s of splitDescr; let even = even">
          <ng-container *ngIf="even; then renderNormal; else renderAsLink"></ng-container>
          <ng-template #renderNormal>
            <span style="white-space: pre-wrap">{{s}}</span>
          </ng-template>
          <ng-template #renderAsLink>
            <a [href]="s" class="clickable" target="_blank">{{s}}</a>
          </ng-template>
        </ng-container>
      </ng-container>
      <ng-template #plainDescriptionBlock>
        {{project.getDescription()}}
      </ng-template>
    </div>


    <!-- facets -->
    <div *ngIf="facets">
      <hr class="mt-3 mb-1">
      <div class="d-flex align-items-center flex-wrap row-gap-2 column-gap-3">
        <div *ngFor="let f of facets | keyvalue" class="d-flex align-items-center flex-wrap">
          <small class="text-body-secondary me-2">{{f.key | titlecase}}:</small>
          <ng-container *ngIf="isArray(f.value); else plainValue">
            <span *ngFor="let item of f.value" class="badge bg-light text-bg-light ellipsable me-2" style="max-width: 200px;" [title]="item">{{item}}</span>
          </ng-container>
          <ng-template #plainValue>
            <span class="badge bg-light text-bg-light ellipsable" style="max-width: 200px;" [title]="f.value">{{f.value}}</span>
          </ng-template>
        </div>
      </div>
    </div>

  </div>
</div>