<div style="display: flex; align-items: center; position: relative">
    <lang-item [language]="lang" [showName]="false" style="position: absolute; left: 6px; z-index: 1" class="clickable" (click)="editLanguage()"></lang-item>
    <input type="text" [class]="'form-control' + inputCls" style="padding-left: 28px; z-index: 0;"
        [(ngModel)]="stringValue" (ngModelChange)="onStringValueChanged()" [disabled]="disabled">
</div>
