<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body vbox">

    <div class="card vbox">
      <div class="card-body table-responsive" style="min-height: 80px;">
        <table class="table table-sm table-hoverable">
          <colgroup>
            <col style="width: 70%">
            <col style="width: 30%">
            <col style="width: 1%">
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>{{'COMMONS.SCOPE'|translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let ref of references">
              <tr *ngIf="isReferenceVisible(ref)" (click)="selectReference(ref)" [ngClass]="{ 'table-primary': selectedRef == ref }">
                <td>
                  <input-editable *ngIf="ref['renameAllowed']" class="me-2" style="flex: 1;" editBtnClass="btn-light" editInputStyle="background-color: #fff; border: 1px solid white;"
                    [value]="ref.identifier" (valueEdited)="onReferenceRenamed(ref, $event)">
                  </input-editable>
                  <div *ngIf="!ref['renameAllowed']">
                    {{ref.identifier}}
                  </div>
                </td>
                <td>{{ref.getReferenceScope()}}</td>
                <td>
                  <button *ngIf="ref['deleteAllowed']" class="btn btn-sm btn-light" (click)="deleteReference(ref)" [title]="'COMMONS.ACTIONS.DELETE'|translate">
                    <span class="far fa-trash-alt"></span>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let ref of additionalReferences">
              <tr *ngIf="isReferenceVisible(ref)" (click)="selectReference(ref)" [ngClass]="{ 'table-primary': selectedRef == ref }">
                <td>{{ref.identifier}}</td>
                <td>APPLICATION</td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [(ngModel)]="filter">
          <span class="input-group-text">
            <span class="fas fa-filter"></span>
          </span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedRef">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>