<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body vbox">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td nowrap>
            <label>ID:</label>
          </td>
          <td>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="identifier">
          </td>
        </tr>
        <tr>
          <td nowrap>
            <label>{{'COMMONS.SCOPE'|translate}}:</label>
          </td>
          <td>
            <select class="form-select form-select-sm" style="display: inline-block" [(ngModel)]="selectedScope">
              <option *ngFor="let s of scopes">{{s}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card vbox mt-2">
      <div class="card-body table-responsive" style="min-height: 80px;">
        <table class="table table-sm table-hoverable">
          <colgroup>
            <col>
          </colgroup>
          <thead>
            <tr>
              <th>Stored configurations</th>
              <th>{{'COMMONS.SCOPE'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{ 'table-primary': selectedRef == ref }">
              <td>{{ref.identifier}}</td>
              <td>{{ref.getReferenceScope()}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!identifier">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>