<div class="container">
  <div class="card vbox">
    <div class="card-header d-flex align-items-center">
      <label style="flex: 1;">{{'Multiverse manager'|translate}}</label>
      <button class="btn btn-sm btn-light" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="init()">
        <span class="fas fa-redo"></span>
      </button>
      <button class="btn btn-sm btn-light" (click)="createWorld()">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-sm table-borderless">
        <colgroup>
          <col style="width: 1%;">
          <col>
          <col style="width: 1%;">
        </colgroup>
        <thead>
          <tr>
            <th class="px-3">{{'COMMONS.STATUS.ACTIVE'|translate}}</th>
            <th>{{'MULTIVERSE.WORLD'|translate}}</th>
            <th><!-- Actions --></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <input type="radio" name="worldRadio" [checked]="!activeWorldName" (click)="activateWorld(null)">
            </td>
            <td>main</td>
            <td>
              <button class="btn btn-light" disabled [title]="'MULTIVERSE.DELTE_WORLD_MAIN_WARN'|translate">
                <span class="fas fa-trash"></span>
              </button>
            </td>
          </tr>
          <tr *ngFor="let w of worlds">
            <td class="text-center">
              <input type="radio" name="worldRadio" [checked]="w.worldName == activeWorldName" (click)="activateWorld(w)">
            </td>
            <td>
              <div class="d-flex align-items-center">
                <span style="flex: 1;">{{w.worldName}}</span>
                <div class="d-flex align-items-center justify-content-center mx-4" style="gap: 6px;" [title]="'MULTIVERSE.ACTIVE_USERS'|translate">
                  <ng-container *ngIf="w.userCount > 0">
                    <i class="fas fa-user text-success"></i>
                    <span class="badge rounded-pill bg-primary">{{w.userCount}}</span>
                  </ng-container>
                  <ng-container *ngIf="w.userCount == 0">
                    <i class="far fa-user"></i>
                    <span class="badge rounded-pill bg-secondary">0</span>
                  </ng-container>
                </div>
              </div>
            </td>
            <td>
              <button class="btn btn-light" (click)="deleteWorld(w)" [disabled]="w.worldName == activeWorldName"
                [title]="(w.worldName == activeWorldName ? 'MULTIVERSE.CANNOT_DELETE_ACTIVE_WORLD': 'COMMONS.ACTIONS.DELETE')|translate">
                <span class="fas fa-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>