<div class="card vbox">
    <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'CUSTOM_SERVICES.CUSTOM_SERVICES'|translate}}</label>
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <button class="btn btn-light" (click)="createService()" [title]="'COMMONS.ACTIONS.CREATE'|translate">
                    <span class="fas fa-plus"></span>
                </button>
                <button class="btn btn-light" (click)="deleteService()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedServiceId">
                    <span class="fas fa-minus"></span>
                </button>
            </div>

            <div class="btn-group btn-group-sm ms-2">
                <button class="btn btn-light" (click)="exportCustomService()" [title]="'COMMONS.ACTIONS.EXPORT'|translate" [disabled]="!selectedServiceId">
                    <span class="fas fa-download"></span>
                </button>
                <button class="btn btn-light" (click)="importCustomService()" [title]="'COMMONS.ACTIONS.IMPORT'|translate">
                    <span class="fas fa-upload"></span>
                </button>
            </div>

            <div class="btn-group btn-group-sm ms-2">
                <button class="btn btn-light" (click)="initServices()" [title]="'COMMONS.ACTIONS.REFRESH'|translate">
                    <span class="fas fa-redo"></span>
                </button>
                <div class="btn-group btn-group-sm" ngbDropdown>
                    <button class="btn btn-light dropdown-toggle" style="padding: 1px 3px;" data-toggle="dropdown" ngbDropdownToggle>
                        <!-- <span class="fas fa-caret-down fa-sm"></span> -->
                    </button>
                    <div class="dropdown-menu float-end" ngbDropdownMenu>
                        <a class="dropdown-item" (click)="reload()" [title]="'CUSTOM_SERVICES.FORCE_RELOAD_INFO'|translate">
                            {{'CUSTOM_SERVICES.FORCE_RELOAD'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body vbox scrollableContainer">
        <div *ngFor="let id of serviceIds" class="listItem ellipsable-left" [title]="id" [ngClass]="{ active: selectedServiceId == id }" (click)="selectService(id)">
            {{id}}
        </div>
    </div>
</div>
<custom-service *ngIf="selectedServiceId" style="flex: 4; margin-left: 6px;" [id]="selectedServiceId"></custom-service>