<div class="hbox">

  <!--
  Extension selector visible if: 
  * there are multiple extensions;
  * there is one extension (immediately selected) and it has 0 or 1 configuration
  Configuration selector visible if the selected extension has multiple configurations.
  -->
  <select *ngIf="extensions.length > 1 || !selectedExtension.configurations || selectedExtension.configurations.length == 1"
    class="form-select form-select-sm me-1" [(ngModel)]="selectedExtension" (ngModelChange)="onChangeExtension()"
    [title]="selectedExtension.description" [disabled]="disabled">
    <option *ngFor="let ext of extensions" [ngValue]="ext" [title]="ext.description">
      {{ext.name}}
    </option>
  </select>
  <select *ngIf="selectedExtension.configurations?.length > 1" class="form-select form-select-sm ms-1"
    [(ngModel)]="selectedConfiguration" (ngModelChange)="onChangeConfig()" [disabled]="disabled">
    <option *ngFor="let cfg of selectedExtension.configurations" [ngValue]="cfg">{{cfg.shortName}}</option>
  </select>

  <span *ngIf="selectedExtension.configurations" class="btn-group btn-group-sm ms-1" style="display: flex">
    <button class="btn btn-light" (click)="configure()" [disabled]="disabled">{{'COMMONS.CONFIG.CONFIGURE'|translate}}</button>
    <ng-container *ngIf="storeable">
      <button class="btn btn-light" [title]="'COMMONS.CONFIG.SAVE_CONFIGURATION'|translate" (click)="saveConfig()" [disabled]="disabled">
        <span class="fas fa-download"></span>
      </button>
      <button class="btn btn-light" [title]="'COMMONS.CONFIG.LOAD_CONFIGURATION'|translate" (click)="loadConfig()" [disabled]="disabled">
        <span class="fas fa-upload"></span>
      </button>
    </ng-container>
  </span>

</div>