<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.ADV_SEARCH.ADVANCED_SEARCH'|translate}}</h5>
  </div>
  <div class="modal-body scrollableContainer">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td nowrap><label>{{'SEARCH.ADV_SEARCH.SEARCH_STRING'|translate}}:</label></td>
          <td><input class="form-control form-control-sm" [(ngModel)]="searchString"></td>
        </tr>
        <tr>
          <td><label>{{'COMMONS.STATUS.STATUS'|translate}}:</label></td>
          <td>
            <select class="form-select form-select-sm" [(ngModel)]="selectedStatus">
              <option *ngFor="let s of statuses" [value]="s.value">{{s.show}}</option>
            </select>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="card mt-2">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.SEARCH_MODE'|translate}}</label>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <label style="white-space: nowrap; margin-right: 4px;">{{'SEARCH.SETTINGS.STRING_MATCH_MODE'|translate}}:</label>
          <select class="form-select form-select-sm" [(ngModel)]="activeStringMatchMode">
            <option *ngFor="let sm of stringMatchModes" [value]="sm.value">{{sm.labelTranslationKey|translate}}</option>
          </select>
        </div>
        <div class="mt-2">
          <div class="form-check form-check-inline">
            <input class="form-check-input" id="uriCheck" type="checkbox" [(ngModel)]="useURI">
            <label class="form-check-label" for="uriCheck">{{'SEARCH.SETTINGS.SEARCH_IN_URI'|translate}}</label>
          </div>
          <div class="form-check form-check-inline ms-2">
            <input class="form-check-input" id="localNameCheck" type="checkbox" [(ngModel)]="useLocalName">
            <label class="form-check-label" for="localNameCheck">{{'SEARCH.SETTINGS.SEARCH_IN_LOCAL_NAME'|translate}}</label>
          </div>
          <div class="form-check form-check-inline ms-2">
            <input class="form-check-input" id="notesCheck" type="checkbox" [(ngModel)]="useNotes">
            <label class="form-check-label" for="notesCheck">{{'SEARCH.SETTINGS.SEARCH_IN_NOTES'|translate}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.LEXICALIZATIONS_SEARCH'|translate}}</label>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="form-check">
            <input class="form-check-input" id="langCheck" type="checkbox" [(ngModel)]="restrictLang">
            <label class="form-check-label" for="langCheck">{{'SEARCH.SETTINGS.RESTRICT_TO_LANGUAGES'|translate}}</label>
          </div>
          <div class="ms-2" style="flex: 1;">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" [ngModel]="languages" disabled>
              <button class="btn btn-outline-info" (click)="selectRestrictionLanguages()" [title]="'COMMONS.ACTIONS.SELECT_LANGUAGES'|translate" [disabled]="!restrictLang">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-check mt-2">
          <input class="form-check-input" id="localeCheck" type="checkbox" [(ngModel)]="includeLocales" [disabled]="!restrictLang">
          <label class="form-check-label" for="localeCheck">{{'SEARCH.SETTINGS.INCLUDE_LOCALES'|translate}}</label>
        </div>
      </div>
    </div>

    <!-- Types -->
    <div class="card mt-2">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'SEARCH.ADV_SEARCH.TYPES'|translate}}</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="addTypesGroup()" [title]="'COMMONS.ACTIONS.ADD'|translate">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let group of typesGroups; let lastGroup = last; let indexGroup = index">
          <div class="hbox" style="align-items: center; margin: 2px 0;">
            <div class="hbox tile-group">
              <div *ngFor="let t of group; let indexType=index; let lastType = last" class="hbox" style="align-items: center; flex: initial">
                <span class="tile">
                  <rdf-resource [resource]="t"></rdf-resource>
                  <span class="far fa-times-circle clickable" (click)="deleteType(group, indexType)"
                    onmouseover="this.className='fas fa-times-circle';"
                    onmouseout="this.className='far fa-times-circle';">
                  </span>
                </span>
                <span *ngIf="!lastType">AND</span>
              </div>
              <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                <button class="btn btn-light btn-xs" (click)="addType(group)">
                  <span class="fas fa-plus"></span>
                </button>
              </div>
            </div>
            <button class="btn btn-sm btn-light" (click)="deleteTypesGroup(indexGroup)" style="margin-left: 4px;">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <span *ngIf="!lastGroup">OR</span>
        </div>
      </div>
    </div>

    <!-- Schemes -->
    <div *ngIf="showSchemeSelector" class="card mt-2">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'SEARCH.ADV_SEARCH.SCHEMES'|translate}}</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="addSchemesGroup()" [title]="'COMMONS.ACTIONS.ADD'|translate">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let group of schemesGroups; let lastGroup = last; let indexGroup = index">
          <div class="hbox" style="align-items: center; margin: 2px 0;">
            <div class="hbox tile-group">
              <div *ngFor="let s of group; let indexScheme=index; let lastScheme = last" class="hbox" style="align-items: center; flex: initial">
                <span class="tile">
                  <rdf-resource [resource]="s"></rdf-resource>
                  <span class="far fa-times-circle clickable" (click)="deleteScheme(group, indexScheme)"
                    onmouseover="this.className='fas fa-times-circle';"
                    onmouseout="this.className='far fa-times-circle';">
                  </span>
                </span>
                <span *ngIf="!lastScheme">AND</span>
              </div>
              <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                <button class="btn btn-light btn-xs" (click)="addScheme(group)">
                  <span class="fas fa-plus"></span>
                </button>
              </div>
            </div>
            <button class="btn btn-sm btn-light" (click)="deleteSchemesGroup(indexGroup)" style="margin-left: 4px;">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <span *ngIf="!lastGroup">OR</span>
        </div>
      </div>
    </div>

    <!-- Ingoing links -->
    <div class="card mt-2">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'SEARCH.ADV_SEARCH.INGOING_LINKS'|translate}}</label>
        <div class="btn-group btn-group-xs">
          <button class="btn btn-light" (click)="addIngoingGroup()" [title]="'COMMONS.ACTIONS.ADD'|translate">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div *ngFor="let group of ingoingLinks; let lastGroup = last; let indexGroup = index">
          <div class="hbox" style="align-items: center; margin: 3px 0;">
            <div class="card" style="flex: 1;">
              <div class="card-body">
                <div class="hbox tile-group mb-2">
                  <div *ngFor="let v of group.second; let indexValue = index; let lastValue = last" class="hbox" style="align-items: center; flex: initial">
                    <span class="tile">
                      <rdf-resource [resource]="v"></rdf-resource>
                      <span class="far fa-times-circle clickable" (click)="deleteIngoingValue(group, indexValue)"
                        onmouseover="this.className='fas fa-times-circle';"
                        onmouseout="this.className='far fa-times-circle';">
                      </span>
                    </span>
                    <span *ngIf="!lastValue">OR</span>
                  </div>
                  <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                    <button class="btn btn-light btn-xs" (click)="addIngoingValue(group)">
                      <span class="fas fa-plus"></span>
                    </button>
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <label style="margin-right: 4px;">{{'MODELS.RESOURCE.PREDICATE'|translate}}:</label>
                  <resource-picker style="flex: 1;" [resource]="group.first" [config]="{ roles: [RDFResourceRolesEnum.property] }" size="sm" [editable]="true"
                    (resourceChanged)="updatePropIngoing(group, $event)">
                  </resource-picker>
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-light" (click)="deleteIngoingGroup(indexGroup)" style="margin-left: 4px;">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <span *ngIf="!lastGroup">AND</span>
        </div>
      </div>
    </div>


    <!-- Outgoing links -->
    <div class="card mt-2">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'SEARCH.ADV_SEARCH.OUTGOING_LINKS'|translate}}</label>
        <div class="btn-group btn-group-xs" ngbDropdown container="body" placement="top-right">
          <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
            <span class="fas fa-plus"></span>
          </button>
          <div class="dropdown-menu float-end" ngbDropdownMenu>
            <button class="dropdown-item" (click)="addOutgoingGroupValue()">{{'SEARCH.ADV_SEARCH.ADD_SET_OF_VALUES'|translate}}</button>
            <button class="dropdown-item" (click)="addOutgoingGroupFreeText()">{{'SEARCH.ADV_SEARCH.ADD_FREE_TEXT'|translate}}</button>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div *ngFor="let group of outgoingLinksValue; let lastGroup = last; let indexGroup = index">
          <div class="hbox" style="align-items: center; margin: 3px 0;">
            <div class="card" style="flex: 1;">
              <div class="card-body">
                <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                  <label style="margin-right: 4px;">{{'MODELS.RESOURCE.PREDICATE'|translate}}:</label>
                  <resource-picker style="flex: 1;" [resource]="group.first" [config]="{ roles: [RDFResourceRolesEnum.property] }" size="sm" [editable]="true"
                    (resourceChanged)="updatePropOutgoingValue(group, $event)">
                  </resource-picker>
                </div>
                <div class="hbox tile-group">
                  <div *ngFor="let v of group.second; let indexValue = index; let lastValue = last" class="hbox" style="align-items: center; flex: initial">
                    <span class="tile">
                      <rdf-resource [resource]="v"></rdf-resource>
                      <span class="far fa-times-circle clickable" (click)="deleteOutgoingValue(group, indexValue)"
                        onmouseover="this.className='fas fa-times-circle';"
                        onmouseout="this.className='far fa-times-circle';">
                      </span>
                    </span>
                    <span *ngIf="!lastValue">OR</span>
                  </div>
                  <div class="hbox" style="align-items: center; flex: initial; margin-left: 2px;">
                    <div class="btn-group btn-group-xs" ngbDropdown container="body" placement="top-left">
                      <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
                        <span class="fas fa-plus"></span>
                      </button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item" (click)="addOutgoingValue(group, RDFTypesEnum.resource)">{{'SEARCH.ADV_SEARCH.ADD_RESOURCE'|translate}}</button>
                        <button class="dropdown-item" (click)="addOutgoingValue(group, RDFTypesEnum.literal)">{{'SEARCH.ADV_SEARCH.ADD_LITERAL'|translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-light" (click)="deleteOutgoingGroupValue(indexGroup)" style="margin-left: 4px;">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <span *ngIf="!lastGroup">AND</span>
        </div>

        <span *ngIf="outgoingLinksValue.length > 0 && outgoingLinksFreeText.length > 0">AND</span>

        <div *ngFor="let group of outgoingLinksFreeText; let lastGroup = last; let indexGroup = index">
          <div class="hbox" style="align-items: center; margin: 3px 0;">
            <div class="card" style="flex: 1;">
              <div class="card-body">
                <div class="hbox" style="align-items: center; margin-bottom: 4px;">
                  <label style="margin-right: 4px;">{{'MODELS.RESOURCE.PREDICATE'|translate}}:</label>
                  <resource-picker style="flex: 1;" [resource]="group.predicate" [config]="{ roles: [RDFResourceRolesEnum.property] }" size="sm" [editable]="true"
                    (resourceChanged)="updatePropOutgoingFreeText(group, $event)">
                  </resource-picker>
                </div>
                <div class="hbox">
                  <select class="form-select form-select-sm" style="width: initial; margin-right: 4px;" [(ngModel)]="group.mode">
                    <option *ngFor="let sm of stringMatchModes" [value]="sm.value">{{sm.labelTranslationKey|translate}}</option>
                  </select>
                  <input class="form-control form-control-sm" [(ngModel)]="group.searchString">
                </div>
              </div>
            </div>
            <button class="btn btn-sm btn-light" (click)="deleteOutgoingGroupFreeText(indexGroup)" style="margin-left: 4px;">
              <span class="far fa-trash-alt"></span>
            </button>
          </div>
          <span *ngIf="!lastGroup">AND</span>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">{{'COMMONS.ACTIONS.SEARCH'|translate}}</button>
    <button class="btn btn-light btn-sm" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>