<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.CUSTOM_SEARCH.LOAD_CUSTOM_SEARCH'|translate}}</h5>
  </div>
  <div class="modal-body vbox">

    <div class="d-flex align-items-center">
      <label>{{'COMMONS.LEVEL'|translate}}:</label>
      <select class="form-select form-select-sm" style="display: inline-block; margin-left: 4px;" [(ngModel)]="selectedScope" (ngModelChange)="onScopeChanged()">
        <option *ngFor="let s of scopes">{{s}}</option>
      </select>
    </div>

    <div class="card vbox mt-2">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">{{'SEARCH.CUSTOM_SEARCH.STORE_CUSTOM_SEARCH'|translate}}</label>
        <button *ngIf="isUpdateAuthorized" class="btn btn-sm btn-light" (click)="add()" [title]="'COMMONS.ACTIONS.DELETE'|translate">
          <span class="fas fa-plus"></span>
        </button>
      </div>

      <div class="card-body table-responsive" style="min-height: 80px;">
        <table class="table table-sm table-hoverable">
          <colgroup>
            <col>
            <col style="width: 1%;">
          </colgroup>
          <tbody>
            <tr *ngFor="let ref of references" (click)="selectReference(ref)" [ngClass]="{ 'table-primary': selectedRef == ref }">
              <td>{{ref.identifier}}</td>
              <td>
                <button *ngIf="isDeleteAuthorized" class="btn btn-xs btn-light" (click)="deleteReference(ref)" [title]="'COMMONS.ACTIONS.DELETE'|translate">
                  <span class="far fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedRef">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>