<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.SETTINGS.SEARCH_SETTINGS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer" style="gap: 4px;">
    <div class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.STRING_MATCH_MODE'|translate}}</label>
      </div>
      <div class="card-body">
        <div *ngFor="let mode of stringMatchModes" class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="searchMode" [value]="mode.value"
              [(ngModel)]="activeStringMatchMode" (ngModelChange)="updateSettings()"> {{mode.show}}
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.SEARCH_MODE'|translate}}</label>
        <i class="fas fa-info-circle float-end" [title]="'SEARCH.SETTINGS.SEARCH_MODE_INFO'|translate"></i>
      </div>
      <div class="card-body">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="useURI" (ngModelChange)="updateSettings()">
            {{'SEARCH.SETTINGS.SEARCH_IN_URI'|translate}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="useLocalName" (ngModelChange)="updateSettings()">
            {{'SEARCH.SETTINGS.SEARCH_IN_LOCAL_NAME'|translate}}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="useNotes" (ngModelChange)="updateSettings()">
            {{'SEARCH.SETTINGS.SEARCH_IN_NOTES'|translate}}
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.LEXICALIZATIONS_SEARCH'|translate}}</label>
      </div>
      <div class="card-body">
        <div class="d-flex">
          <div class="form-check mt-2">
            <input class="form-check-input" id="langCheck" type="checkbox" [(ngModel)]="restrictLang" (ngModelChange)="updateSettings()">
            <label class="form-check-label" for="langCheck">{{'SEARCH.SETTINGS.RESTRICT_TO_LANGUAGES'|translate}}</label>
          </div>
          <div class="d-flex align-items-center ms-3" style="flex: 1">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" [ngModel]="languages" disabled>
              <button class="btn btn-outline-secondary" (click)="selectRestrictionLanguages()" [title]="'COMMONS.ACTIONS.SELECT_LANGUAGES'|translate" [disabled]="!restrictLang">
                <span class="fas fa-pencil-alt"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-check mt-2">
          <input class="form-check-input" id="localeCheck" type="checkbox" [(ngModel)]="includeLocales" (ngModelChange)="updateSettings()">
          <label class="form-check-label" for="localeCheck">{{'SEARCH.SETTINGS.INCLUDE_LOCALES'|translate}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="showAutocompletionSetting" class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.AUTOCOMPLETION'|translate}}</label>
        <span class="fas fa-info-circle ms-2"
          [title]="'SEARCH.SETTINGS.AUTOCOMPLETION_INFO'|translate"></span>
      </div>
      <div class="card-body">
        <div class="form-check mt-2">
          <input class="form-check-input" id="autocomplCheck" type="checkbox" [(ngModel)]="useAutocompletion" (ngModelChange)="updateSettings()">
          <label class="form-check-label" for="autocomplCheck">{{'SEARCH.SETTINGS.ENABLE_AUTOCOMPLETION'|translate}}</label>
        </div>
      </div>
    </div>

    <div *ngIf="settingsForConceptPanel" class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.CONCEPTS_SEARCH'|translate}}</label>
      </div>
      <div class="card-body">
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="restrictConceptSchemes" (ngModelChange)="updateSettings()">
            {{'SEARCH.SETTINGS.RESTRICT_TO_SCHEME'|translate}}
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="settingsForClassInstancePanel" class="card">
      <div class="card-header">
        <label>{{'SEARCH.SETTINGS.CLS_INSTANCE_SEARCH'|translate}}</label>
      </div>
      <div class="card-body">
        <div *ngFor="let mode of clsIndSearchMode" class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="clsIndSearchMode" [value]="mode.value"
              [(ngModel)]="activeClsIndSearchMode" (ngModelChange)="updateSettings()">{{mode.show}}
          </label>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
  </div>
</div>