<div class="hbox">

  <ng-container *ngIf="searchSettings.useAutocompletion">
    <div style="flex: 1;" (keyup.enter)="doSearch()">
      <ng-autocomplete #autocompleter [(ngModel)]="searchStr" (ngModelChange)='onAutocompleteChange()'
        [heading]="completerLimitExceeded ? ('SEARCH.SEARCH_SUGGESTIONS_LIMIT_EXCEEDED'|translate:{limit:completerLimit}) : null"
        [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate"
        [data]="completerData" [isLoading]="isCompleterLoading" [itemTemplate]="itemTemplate" [disabled]="disabled">
      </ng-autocomplete>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item"></a>
      </ng-template>
    </div>
  </ng-container>

  <input *ngIf="!searchSettings.useAutocompletion" #inputField type="text" class="form-control form-control-sm" [(ngModel)]="searchStr" (keydown.enter)="doSearch()" [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate" [disabled]="disabled">


  <div class="btn-toolbar ms-1" style="flex-wrap: nowrap">
    <div class="btn-group btn-group-sm" ngbDropdown placement="top-right" container="body">
      <button class="btn btn-info" (click)="doSearch()" [disabled]="disabled || loading">
        <i *ngIf="!loading" class="fas fa-search"></i>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      </button>
      <ng-container *ngIf="context == 'dataPanel'">
        <button class="btn btn-outline-info dropdown-toggle px-1" [disabled]="disabled" data-toggle="dropdown" ngbDropdownToggle></button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" (click)="advancedSearch()">{{'SEARCH.ADV_SEARCH.ADVANCED_SEARCH'|translate}}</button>
          <button class="dropdown-item" (click)="customSearch()">{{'SEARCH.CUSTOM_SEARCH.CUSTOM_SEARCH'|translate}}</button>
        </div>
      </ng-container>
    </div>

    <div class="btn-group btn-group-sm ms-1">
      <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-right" autoClose="outside">
        <button class="btn btn-outline-info dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
          <b style="display: block; width: 17px;">{{stringMatchModesMap[searchSettings.stringMatchMode].symbol}}</b>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let mode of stringMatchModesMap | keyvalue" class="dropdown-item" (click)="updateSearchMode(mode.key)">
            <b class="me-2" style="display: inline-block; width: 24px;">{{mode.value.symbol}}</b>
            <span>{{mode.value.labelTranslationKey|translate}}</span>
            <span *ngIf="searchSettings.stringMatchMode == mode.key" class="fas fa-check ms-2"></span>
          </button>
        </div>
      </div>
      <button class="btn btn-outline-info" (click)="settings()">
        <i class="fas fa-cog"></i>
      </button>
    </div>
  </div>

</div>