<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
  <div class="col-sm-10">
    <div class="input-group input-group-sm">
      <input class="form-control" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
      <button class="btn btn-info" (click)="discover()" [disabled]="!baseURI || loading">
        {{'COMMONS.ACTIONS.DISCOVER'|translate}}
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>
    </div>
  </div>
</div>

<hr class="separator">

<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate}}</label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="resourceName" [placeholder]="'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    {{'DATASETS.ATTR.IDENTITY'|translate}} <span>*</span>
    <span class="fas fa-info-circle ms-2" [title]="'CONTRIBUTIONS.FORM.METADATA.IDENTITY_INFO'|translate"></span>
  </label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="identity" [placeholder]="'DATASETS.ATTR.IDENTITY_IRI'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.DEREF_SYSTEM'|translate}} <span>*</span></label>
  <div class="col-sm-10">
    <select class="form-select form-select-sm" [(ngModel)]="dereferenciationSystem">
      <option *ngFor="let opt of dereferenciationOpts" [ngValue]="opt.uri">{{opt.show}}</option>
    </select>
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.SPARQL_ENDPOINT'|translate}} <span>*</span></label>
  <div class="col-sm-10 d-flex">
    <input class="form-control form-control-sm" [(ngModel)]="sparqlEndpoint" [placeholder]="'DATASETS.ATTR.SPARQL_ENDPOINT_URL'|translate">
    <div class="form-check form-check-inline ms-2">
      <input class="form-check-input" type="checkbox" [(ngModel)]="sparqlNoAggregation" [disabled]="!sparqlEndpoint">
      <label class="form-check-label text-nowrap">{{'CONTRIBUTIONS.FORM.COMMONS.NO_AGGREGATION'|translate}}</label>
    </div>
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.URI_SPACE'|translate}} <span>*</span></label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="uriSpace" [placeholder]="'DATASETS.ATTR.URI_SPACE'|translate">
  </div>
</div>