<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'COMMONS.DETAILS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer">

    <div class="card mb-3">
      <div class="card-header">{{'CONTRIBUTIONS.CONTRIBUTOR'|translate}}</div>
      <div class="card-body">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.GIVEN_NAME'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorName" disabled>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.FAMILY_NAME'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorLastName" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control form-control-sm" [ngModel]="contribution.contributorEmail" disabled>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.ORGANIZATION'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorOrganization" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">{{'CONTRIBUTIONS.CONTRIBUTION'|translate}}</div>
      <div class="card-body">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.resourceName" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.baseURI.toNT()" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.IDENTITY'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.identity?.toNT()" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.DEREF_SYSTEM'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="dereferenciationSystem" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.SPARQL_ENDPOINT'|translate}}</label>
          <div class="col-sm-10 d-flex">
            <input class="form-control form-control-sm" [ngModel]="contribution.sparqlEndpoint?.toNT()" disabled>
            <div class="form-check form-check-inline ms-2">
              <input class="form-check-input" type="checkbox" [ngModel]="sparqlNoAggregation" disabled>
              <label class="form-check-label text-nowrap">{{'CONTRIBUTIONS.FORM.COMMONS.NO_AGGREGATION'|translate}}</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.URI_SPACE'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.uriSpace" disabled>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>