<div class="card vbox">
    <div class="card-header d-flex">
        <div *ngIf="context == 'dataPanel'" class="btn-toolbar">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-outline-info" style="width: 28px;" (click)="activateAllScheme()" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                    <span class="far fa-check-square"></span>
                </button>
                <button type="button" class="btn btn-outline-info" style="width: 28px;" (click)="deactivateAllScheme()" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                    <span class="far fa-square"></span>
                </button>
            </div>
        </div>
        <span style="flex: 1;"></span>
        <div class="btn-toolbar">
            <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-no-arrow" [title]="'COMMONS.ACTIONS.SORT_BY_X'|translate">
                    <i class="fas fa-sort-alpha-down"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item d-flex align-items-center" (click)="sortByRendering()">
                        <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'COMMONS.RENDERING'|translate}}</span>
                        <i *ngIf="sortBy == 'show'" class="fas fa-check float-end"></i>
                    </button>
                    <button class="dropdown-item d-flex align-items-center" (click)="sortByUri()">
                        <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} URI</span>
                        <i *ngIf="sortBy == 'value'" class="fas fa-check float-end"></i>
                    </button>
                </div>
            </div>
            <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
                <i class="fas fa-font"></i>
            </button>
            <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-sync"></span>
            </button>
            <div *ngIf="isSetDefaultSchemeAuthorized" class="btn-group btn-group-sm ms-1" ngbDropdown>
                <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle">
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="setAsProjectDefault()">
                        {{'DATA.SCHEME.SET_AS_PROJECT_DEFAULT'|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card-body vbox">
        <scheme-list [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
        </scheme-list>
    </div>

    <div *ngIf="!hideSearch" class="card-footer">
        <search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
            [roles]="[panelRole]" [context]="context"></search-bar>
    </div>
</div>