<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body vbox">

    <div *ngIf="showAspectSelector" class="btn-group" style="align-self: flex-end; margin-bottom: 6px;">
      <button *ngFor="let selector of aspectSelectors" class="btn btn-light" [ngClass]="{ active: selectedAspectSelector == selector }"
        (click)="selectedAspectSelector = selector">{{selector}}</button>
    </div>

    <div *ngIf="selectedAspectSelector == typedLiteralAspectSelector">
      <div class="hbox" style="align-items: flex-end;">
        <typed-literal-input [allowedDatatypes]="allowedDatatypes" [datatype]="datatype?.getValue()" [(ngModel)]="value"
          (datatypeChange)="onDatatypeChange($event)" style="flex: 1;">
        </typed-literal-input>
      </div>
    </div>

    <div *ngIf="selectedAspectSelector == dataRangeAspectSelector">
      <select *ngIf="dataRanges.length > 1" class="form-select" [(ngModel)]="selectedDataRange">
        <option *ngFor="let dr of dataRanges" [ngValue]="dr">
          {{getDataRangePreview(dr)}}
        </option>
      </select>
      <div class="hbox" style="align-items: center; margin-top: 6px;">
        <select class="form-select" [(ngModel)]="value">
          <option *ngFor="let v of selectedDataRange" [ngValue]="v">{{v.toNT()}}</option>
        </select>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>