<table class="table table-sm table-borderless">
  <colgroup>
    <col style="width: 1%;">
    <col style="width: 1%;">
    <col>
  </colgroup>
  <tbody>
    <tr>
      <td></td>
      <td nowrap>
        <label>{{'DATA.COMMONS.VISUALIZATION_MODE.MODE'|translate}}:</label>
      </td>
      <td>
        <select class="form-select form-select-sm" [(ngModel)]="visualization" (ngModelChange)="onModelChange()" [disabled]="!allowVisualizationChange && !administration">
          <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.labelTranslationKey|translate}}</option>
        </select>
      </td>
    </tr>
    <ng-container *ngIf="visualization == 'indexBased'">
      <tr>
        <td>
          <span class="fas fa-info-circle" [title]="'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRIES_LIMIT_INFO'|translate"></span>
        </td>
        <td nowrap>
          <label>
            {{'DATA.LEX_ENTRY.SETTINGS.LEX_ENTRIES_LIMIT'|translate}}:

          </label>
        </td>
        <td>
          <input class="form-control form-control-sm" type="number" min="1" [(ngModel)]="safeToGoLimit" (ngModelChange)="onModelChange()">
        </td>
      </tr>
      <tr>
        <td></td>
        <td nowrap>
          <label>{{'DATA.LEX_ENTRY.SETTINGS.INDEX_LENGTH'|translate}}:</label>
        </td>
        <td>
          <select class="form-select form-select-sm" [(ngModel)]="indexLength" (ngModelChange)="onModelChange()" [disabled]="!allowIndexLengthChange && !administration">
            <option *ngFor="let l of lengthChoices">{{l}}</option>
          </select>
        </td>
      </tr>
    </ng-container>
    <ng-container *ngIf="administration">
      <tr>
        <td>
          <span class="fas fa-info-circle" [title]="'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_VISUALIZATION_CHANGE_INFO'|translate"></span>
        </td>
        <td nowrap>
          <label>{{'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_VISUALIZATION_CHANGE'|translate}}:</label>
        </td>
        <td>
          <div class="form-check form-switch" (click)="toggleAllowVisualizationModeChange()">
            <input class="form-check-input" type="checkbox" [ngModel]="allowVisualizationChange">
          </div>
        </td>
      </tr>
      <tr *ngIf="visualization == 'indexBased'">
        <td>
          <span class="fas fa-info-circle" [title]="'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_INDEX_CHANGE_INFO'|translate"></span>
        </td>
        <td nowrap>
          <label>{{'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_INDEX_CHANGE'|translate}}:</label>
        </td>
        <td>
          <div class="form-check form-switch" (click)="toggleAllowIndexChange()">
            <input class="form-check-input" type="checkbox" [ngModel]="allowIndexLengthChange">
          </div>
        </td>
      </tr>
    </ng-container>

  </tbody>
</table>