<resizable-layout orientation="H">

  <structure-tabset main
    (nodeSelected)="onNodeSelected($event)"
    (linksetSelected)="onLinksetSelected($event)"
    (correspondenceSelected)="onCorrespondenceSelected($event)">
  </structure-tabset>

  <ng-container secondary>
    <resizable-layout *ngIf="selectedResource || sideResource" orientation="H" [mainFlex]="4">

      <resource-view-tabset *ngIf="selectedResource" main #mainTabset shiftKey ctrlKey
        (empty)="onMainTabsetEmpty()" (valueClick)="onValueClick($event)">
      </resource-view-tabset>

      <resource-view-tabset *ngIf="sideResource" secondary #sideTabset ctrlKey
        (empty)="onSideTabsetEmpty()">
      </resource-view-tabset>

    </resizable-layout>

    <alignments-view *ngIf="selectedLinkset" [linkset]="selectedLinkset" [source]="selectedLinkset.sourceDatasetProject"></alignments-view>

    <correspondences-view *ngIf="selectedCorrespondence" [correspondence]="selectedCorrespondence"></correspondences-view>
  </ng-container>

</resizable-layout>