<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'PREFERENCES.LANG.RENDERING.RENDERING_LANGS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="alert alert-info mb-2">
      {{'PREFERENCES.LANG.RENDERING.DESCRIPTION'|translate}}
    </div>

    <rendering-editor [(ngModel)]="renderingLangs" (ngModelChange)="onRenderingChange()">
      <div footer class="card-footer text-end">
        <div class="btn-group" style="position: static;" ngbDropdown placement="top-right" container="body">
          <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
            {{'COMMONS.STATUS.DEFAULT'|translate}}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="setAsUserDefault()">{{'COMMONS.ACTIONS.SET_AS_DEFAULT_FOR_ALL_PROJECTS'|translate}}</button>
            <button class="dropdown-item" (click)="restoreDefault()">{{'COMMONS.ACTIONS.RESTORE_DEFAULT'|translate}}</button>
          </div>
        </div>
      </div>
    </rendering-editor>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>