<div class="card vbox">
    <div class="card-header d-flex align-items-center">
        <label style="flex: 1">{{'PREFERENCES.LANG.RENDERING.RENDERING_LANGS'|translate}}</label>
        <span *ngIf="getActiveLanguageItems().length == 0" class="fas fa-exclamation-triangle text-body-secondary me-2" 
            [title]="'COMMONS.LANGUAGE.NO_LANG_INFO'|translate">
        </span>
        <div class="btn-toolbar">
            <div class="btn-group btn-group-xs">
                <button class="btn btn-outline-info" (click)="changeAllLangStatus(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
                    <span class="far fa-check-square"></span>
                </button>
                <button class="btn btn-outline-info" (click)="changeAllLangStatus(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
                    <span class="far fa-square"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body vbox">
        <div *ngIf="alert" class="alert alert-info mb-1">
            {{alert}}
        </div>
        <div class="table-responsive vbox border rounded p-1">
            <table class="table table-sm table-hover" style="flex: 1">
                <colgroup>
                    <col style="width: 1%">
                    <col style="width: 1%">
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center">{{'COMMONS.STATUS.ACTIVE'|translate}}</th>
                        <th class="text-center" nowrap>
                            {{'COMMONS.POSITION'|translate}}
                            <button class="btn btn-xs btn-default" [ngSwitch]="sortOrder" (click)="changePositionOrder()">
                                <span class="fas fa-sort-numeric-down" *ngSwitchCase="'position_ascending'" ></span>
                                <span class="fas fa-sort-numeric-up" *ngSwitchCase="'position_descending'"></span>
                                <span class="fas fa-sort" *ngSwitchDefault></span>
                            </button>
                        </th>
                        <th class="text-center" nowrap>
                            {{'COMMONS.LANGUAGE.ISO_CODE'|translate}}
                            <button class="btn btn-xs btn-default" [ngSwitch]="sortOrder" (click)="changeIsocodeOrder()">
                                <span class="fas fa-sort-alpha-down" *ngSwitchCase="'isocode_ascending'" ></span>
                                <span class="fas fa-sort-alpha-up" *ngSwitchCase="'isocode_descending'"></span>
                                <span class="fas fa-sort" *ngSwitchDefault></span>
                            </button>
                        </th>
                        <th class="text-center" nowrap>
                            {{'COMMONS.LANGUAGE.LANGUAGE'|translate}}
                            <button class="btn btn-xs btn-default" [ngSwitch]="sortOrder" (click)="changeLanguageOrder()">
                                <span class="fas fa-sort-alpha-down" *ngSwitchCase="'language_ascending'"></span>
                                <span class="fas fa-sort-alpha-up" *ngSwitchCase="'language_descending'"></span>
                                <span class="fas fa-sort" *ngSwitchDefault></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let l of renderingLanguages">
                        <td class="text-center">
                            <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active" (ngModelChange)="onActiveChange(l)">
                        </td>
                        <td>
                            <input #pos type="number" class="form-control form-control-sm" style="width: 100%; text-align: right" 
                                [ngModel]="l.position" [disabled]="!l.active" (input)="onPositionChange(l, pos.value);" 
                                onkeydown="return false" min="1" [max]="countActiveLangs()">
                        </td>
                        <td class="text-center" nowrap>{{l.lang.tag}}</td>
                        <td class="text-center">
                            <lang-item [language]="l.lang"></lang-item>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <ng-content select="[footer]">
    </ng-content>
</div>