<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'GRAPHS.SETTINGS.DATA_GRAPH_SETTINGS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="hbox">
      <lang-value-filter-pref class="vbox" [(ngModel)]="langValueFilter" (ngModelChange)="onLangValueFilterChange()"></lang-value-filter-pref>

      <section-filter class="vbox ms-1" [(ngModel)]="sectionFilter" [template]="template" (ngModelChange)="onSectionFilterChange()">
        <div info class="alert alert-info mb-1">
          {{'GRAPHS.SETTINGS.SECTIONS_FILTER_INFO'|translate}}
        </div>
      </section-filter>
    </div>

    <div class="card mt-1">
      <div class="card-body">

        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="hideLiteralNodes" (ngModelChange)="onHideLiteralChange()">
            {{'GRAPHS.SETTINGS.HIDE_LITERAL_NODES'|translate}}
            <span class="fas fa-info-circle" [title]="'GRAPHS.SETTINGS.HIDE_LITERAL_NODES_INFO'|translate"></span>
          </label>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
  </div>
</div>