<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
  </div>
  <div class="modal-body vbox">

    <div class="row mb-2">
      <div class="col-2">
        <label class="col-form-label">{{'COMMONS.NAME'|translate}}</label>
      </div>
      <div class="col-10">
        <input class="form-control" [(ngModel)]="name" [disabled]="ref || readOnly">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-2">
        <label class="col-form-label">{{'COMMONS.CATEGORY'|translate}}</label>
      </div>
      <div class="col-4">
        <select class="form-select" style="flex: 1" [(ngModel)]="selectedCategory" (ngModelChange)="onCategoryChanged()">
          <option *ngFor="let c of categories" [value]="c.id">{{c.translationKey|translate}}</option>
        </select>
      </div>
      <div class="col-2">
        <label class="col-form-label ">{{'COMMONS.MODEL'|translate}}</label>
      </div>
      <div class="col-4">
        <select class="form-select" [(ngModel)]="selectedModel" (ngModelChange)="onModelChanged()" [disabled]="!selectedCategory">
          <option *ngFor="let m of models[selectedCategory]" [value]="m.id">{{m.translationKey|translate}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="selectedModel" class="vbox mt-2">

      <area-view-editor #areaEditor *ngIf="selectedModel == 'area'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></area-view-editor>
      <point-view-editor #pointEditor *ngIf="selectedModel == 'point'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></point-view-editor>
      <route-view-editor #routeEditor *ngIf="selectedModel == 'route'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></route-view-editor>
      <series-view-editor #seriesEditor *ngIf="selectedModel == 'series'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></series-view-editor>
      <series-collection-view-editor #seriesCollEditor *ngIf="selectedModel == 'series_collection'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></series-collection-view-editor>
      <property-chain-view-editor #propChainEditor *ngIf="selectedModel == 'property_chain'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></property-chain-view-editor>
      <adv-single-value-view-editor #advSingleValueEditor *ngIf="selectedModel == 'adv_single_value'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></adv-single-value-view-editor>
      <static-vector-view-editor #staticVectorEditor *ngIf="selectedModel == 'static_vector'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></static-vector-view-editor>
      <dynamic-vector-view-editor #dynamicVectorEditor *ngIf="selectedModel == 'dynamic_vector'" [cvDef]="$any(customViewDef)" (changed)="onCvDefChanged($event)"></dynamic-vector-view-editor>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isOkEnabled()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>