<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">{{'COMMONS.ACTIONS.IMPORT'|translate}}</h5>
    </div>
    <div class="modal-body">

        <table class="table table-borderless">
            <colgroup>
                <col style="width: 1%">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <td nowrap><label>{{'COMMONS.NAME'|translate}}:</label></td>
                    <td><input class="form-control" [(ngModel)]="name"></td>
                </tr>
                <tr>
                    <td nowrap><label>{{'COMMONS.FILE'|translate}}:</label></td>
                    <td><file-picker (fileChanged)="fileChangeEvent($event)" accept=".cfg"></file-picker></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>