<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body" style="min-height: 100px;">

    <div class="panel panel-default scrollableContainer">
      <table class="table table-sm table-hoverable" style="font-size: 12px;">
        <thead>
          <tr>
            <th class="text-center" style="width: 1%">ID</th>
            <th class="text-center">{{'MODELS.PROJECT.LOCATION'|translate}}</th>
            <th class="text-center">{{'COMMONS.DESCRIPTION'|translate}}</th>
            <th class="text-center" style="width: 1%">Readable</th>
            <th class="text-center" style="width: 1%">Writeable</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let repo of repoList" (click)="selectedRepo = repo" [ngClass]="{ 'table-info' : selectedRepo == repo}">
            <td style="font-weight: bold;">{{repo.id}}</td>
            <td class="text-center">{{repo.location}}</td>
            <td class="text-center">{{repo.description}}</td>
            <td class="text-center">{{repo.readable}}</td>
            <td class="text-center">{{repo.writable}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!selectedRepo">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>