<div class="card vbox">

  <div class="card-header d-flex align-items-center">
    <label style="flex: 1;">{{'ADMINISTRATION.USERS.USERS_MANAGER'|translate}}</label>
    <div class="btn-toolbar">
      <button class="btn btn-light btn-sm" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createUser()">
        <span class="fas fa-plus"></span>
      </button>
      <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="initUsers()">
        <span class="fas fa-sync"></span>
      </button>
    </div>
  </div>

  <div class="card-body d-flex" style="gap: 8px;">

    <div class="card" style="flex: 1;">
      <div class="card-body table-responsive">
        <table class="table table-sm table-borderless table-hover">
          <colgroup>
            <col>
            <col style="width: 1%;">
            <col style="width: 1%;">
          </colgroup>
          <tbody>
            <tr *ngFor="let u of users" [ngClass]="{ 'table-primary': u == selectedUser }">
              <td style="white-space: nowrap" (click)="selectUser(u)">
                <b>{{u.getShow()}}</b>
                <span class="text-body-secondary">&nbsp;({{u.getEmail()}})</span>
              </td>
              <td class="text-center">
                <div class="d-flex align-items-center justify-content-end text-nowrap px-3" style="gap: 8px;">
                  <span *ngIf="u.isAdmin()" class="fas fa-wrench text-success" [title]="'USER.ADMINISTRATOR'|translate"></span>
                  <span *ngIf="u.isSuperUser(true)" class="badge rounded-pill bg-primary px-2" [title]="'USER.SUPER_USER'|translate">S</span>
                  <span *ngIf="u.getStatus() == 'NEW'" class="fas fa-exclamation-circle inactive" [title]="'COMMONS.STATUS.NEW'|translate"></span>
                  <span *ngIf="u.getStatus() == 'INACTIVE'" class="fas fa-ban inactive" [title]="'COMMONS.STATUS.INACTIVE'|translate"></span>
                  <span *ngIf="u.getStatus() == 'ACTIVE'" class="fas fa-user" [ngClass]="{ online: u.isOnline(), offline: !u.isOnline()}" [title]="u.isOnline() ? 'Online' : 'Offline'"></span>
                </div>
              </td>
              <td>
                <button class="btn btn-sm btn-light" (click)="deleteUser(u)" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="u.getIri().equals(currentUser.getIri())">
                  <span class="fas fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" [(ngModel)]="filterString" (ngModelChange)="applyFilters()" [placeholder]="'COMMONS.FILTER'|translate">
          <span class="input-group-text">
            <i class="fas fa-filter"></i>
          </span>
        </div>
      </div>
    </div>


    <user-details *ngIf="selectedUser" [user]="selectedUser" style="min-width: 400px; flex: 1">

      <div header class="d-flex align-items-center justify-content-end" style="flex: 1; gap: 8px">
        <div *ngIf="!isChangeStatusButtonDisabled()" class="d-flex align-items-center">
          <label>{{'COMMONS.STATUS.STATUS'|translate}}:</label>
          <div class="btn-group btn-group-sm ms-2">
            <button #activeBtn class="btn btn-light" (click)="changeUserStatus(); activeBtn.blur()"
              [ngClass]="{'active': selectedUser.getStatus() == 'ACTIVE'}" style="color: green">
              {{'COMMONS.STATUS.ACTIVE'|translate}}
            </button>
            <button #inactiveBtn class="btn btn-light" (click)="changeUserStatus(); inactiveBtn.blur()"
              [ngClass]="{'active': selectedUser.getStatus() != 'ACTIVE'}" style="color: red">
              {{'COMMONS.STATUS.INACTIVE'|translate}}
            </button>
          </div>
        </div>

        <div class="btn-group btn-group-sm" ngbDropdown>
          <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-outline-info dropdown-toggle" [disabled]="selectedUser.getIri().equals(currentUser.getIri())">
            <span *ngIf="selectedUser.isAdmin()">
              {{'USER.ADMINISTRATOR'|translate}}
            </span>
            <span *ngIf="selectedUser.isSuperUser(true)">
              {{'USER.SUPER_USER'|translate}}
            </span>
            <span *ngIf="!selectedUser.isSuperUser(true) && !selectedUser.isAdmin()">{{'USER.USER'|translate}}</span>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item d-flex align-items-center" (click)="changeUserType(UserType.admin)" [disabled]="selectedUser.isAdmin()">
              <span style="flex: 1;">{{'USER.ADMINISTRATOR'|translate}}</span>
              <span *ngIf="selectedUser.isAdmin()" class="fas fa-check ms-2"></span>
            </button>
            <button class="dropdown-item d-flex align-items-center" (click)="changeUserType(UserType.su)" [disabled]="selectedUser.isSuperUser(true)">
              <span style="flex: 1;">{{'USER.SUPER_USER'|translate}}</span>
              <span *ngIf="selectedUser.isSuperUser(true)" class="fas fa-check ms-2"></span>
            </button>
            <button class="dropdown-item d-flex align-items-center" (click)="changeUserType(UserType.user)" [disabled]="!selectedUser.isSuperUser(true) && !selectedUser.isAdmin()">
              <span style="flex: 1;">{{'USER.USER'|translate}}</span>
              <span *ngIf="!selectedUser.isSuperUser(true) && !selectedUser.isAdmin()" class="fas fa-check ms-2"></span>
            </button>
          </div>
        </div>
      </div>
    </user-details>

  </div>
</div>