<div class="vbox my-3">
  <div class="container vbox">
    <div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.GIVEN_NAME'|translate}}</label>
        <div class="col-sm-4">
          <input class="form-control form-control-sm" [(ngModel)]="name" [placeholder]="'USER.ATTR.GIVEN_NAME'|translate">
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.FAMILY_NAME'|translate}}</label>
        <div class="col-sm-4">
          <input class="form-control form-control-sm" [(ngModel)]="lastName" [placeholder]="'USER.ATTR.FAMILY_NAME'|translate">
        </div>
      </div>
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label col-form-label-sm">
          {{'USER.ATTR.EMAIL_ADDRESS'|translate}}
          <span class="fas fa-info-circle" [title]="'CONTRIBUTIONS.FORM.COMMONS.EMAIL_INFO'|translate"></span>
        </label>
        <div class="col-sm-4">
          <input type="email" class="form-control form-control-sm" [(ngModel)]="email" [placeholder]="'USER.ATTR.EMAIL_ADDRESS'|translate">
        </div>
        <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.ORGANIZATION'|translate}} <span>*</span></label>
        <div class="col-sm-4">
          <input class="form-control form-control-sm" [(ngModel)]="organization" [placeholder]="'COMMONS.ORGANIZATION'|translate">
        </div>
      </div>
      <hr class="separator">
      <div class="row mb-2">
        <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.CONTRIBUTION'|translate}}</label>
        <div class="col-sm-10">
          <select class="form-select form-select-sm" [(ngModel)]="selectedContribution">
            <option *ngFor="let o of contributionOpts" [ngValue]="o.type">{{o.show}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card vbox">
      <div class="card-body p-3 scrollableContainer">
        <stable-contribution *ngIf="selectedContribution == 'stable'"></stable-contribution>
        <metadata-contribution *ngIf="selectedContribution == 'metadata'"></metadata-contribution>
        <development-contribution *ngIf="selectedContribution == 'development'"></development-contribution>
      </div>
    </div>

    <div class="d-flex align-items-center mt-2">
      <small class="form-text text-body-secondary" style="flex: 1;">(*) {{'COMMONS.OPTIONAL_FIELD'|translate}}</small>
      <button class="btn btn-info" (click)="submit()" [disabled]="!selectedContribution || loading">
        {{'CONTRIBUTIONS.ACTIONS.SUBMIT_REQUEST'|translate}}
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
      </button>
    </div>

  </div>
</div>