<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{title}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="allowShowAll" class="form-check form-check-inline mb-1">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [(ngModel)]="showAll" (ngModelChange)="onShowAllChanged()">{{'DATA.ACTIONS.SHOW_ALL_PROPS'|translate}}
      </label>
    </div>
    <property-tree-panel [roots]="rootProps" [resource]="domainRes" [project]="project" (nodeSelected)="onNodeSelected($event)">
    </property-tree-panel>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!selectedNode">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>