<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">{{'PREFERENCES.PRED_LABEL_MAPPING.PREDICATE_LABEL_SETTINGS'|translate}}</h5>
    </div>
    <div class="modal-body vbox">

        <pred-label-settings class="vbox" [(ngModel)]="predLabelMappings" [project]="project"></pred-label-settings>

    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
        <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
    </div>
</div>