<div [class]="inputGroupClass">
  <input type="text" class="form-control" [ngModel]="literalNT" disabled>
  <button class="btn btn-outline-info" (click)="pickLiteral()" [disabled]="disabled">
    <span class="fas fa-pencil-alt"></span>
  </button>
</div>