<div [class]="inputGroupClass">
  <input class="form-control" [(ngModel)]="resourceIRI" (ngModelChange)="onIriChanged()" [placeholder]="placeholder ? placeholder : ''" [disabled]="disabled || !editable">
  <button class="btn btn-outline-info" (click)="pickLocalResource()" [disabled]="disabled || !projectAccessed">
    <span class="fas fa-pencil-alt"></span>
  </button>
</div>