<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'DATASETS.ACTIONS.CREATE_DATASET'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-end mb-1">
          <div class="form-check form-switch" [title]="lockTooltip">
            <input class="form-check-input" type="checkbox" role="switch" id="formLockSwitch" [(ngModel)]="formLocked">
            <label class="form-check-label" for="formLockSwitch">
              <span [class]="'fas fa-' + (formLocked ? 'lock' : 'unlock-alt')"></span>
            </label>
          </div>
        </div>
        <fieldset [disabled]="formLocked">
          <div class="row mb-2">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.NAME'|translate}}</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" [(ngModel)]="projectName" [placeholder]="'DATASETS.ATTR.DATASET_NAME'|translate">
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
            <div class="col-sm-10">
              <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
            </div>
          </div>
          <div class="row mb-2">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.MODEL'|translate}}</label>
            <div class="col-sm-4">
              <select class="form-select form-select-sm" [(ngModel)]="selectedSemModel">
                <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
              </select>
            </div>
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
            <div class="col-sm-4">
              <select class="form-select form-select-sm" [(ngModel)]="selectedLexModel">
                <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
              </select>
            </div>
          </div>
        </fieldset>

        <hr class="separator">

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}</label>
          <div class="col-sm-10">
            <div class="hbox">
              <select class="form-select form-select-sm" [ngModel]="selectedRepositoryAccess" disabled>
                <option *ngFor="let ra of repositoryAccessList">{{ra}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.CONFIG.REPO_CONFIGURATION'|translate}}</label>
          <div class="col-sm-10">
            <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions"
              [extensions]="dataRepoExtensions" [storeable]="false"
              (extensionUpdated)="selectedDataRepoExtension = $event"
              (configurationUpdated)="selectedDataRepoConfig = $event">
            </extension-configurator>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="loading">
      Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>