<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'COMMONS.DETAILS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer">

    <div class="card mb-3">
      <div class="card-header">{{'CONTRIBUTIONS.CONTRIBUTOR'|translate}}</div>
      <div class="card-body">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.GIVEN_NAME'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorName" disabled>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'USER.ATTR.FAMILY_NAME'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorLastName" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control form-control-sm" [ngModel]="contribution.contributorEmail" disabled>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.ORGANIZATION'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="contribution.contributorOrganization" disabled>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">{{'CONTRIBUTIONS.CONTRIBUTION'|translate}}</div>
      <div class="card-body">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.resourceName" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.HOME_PAGE'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.homepage" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.DESCRIPTION'|translate}}</label>
          <div class="col-sm-10">
            <textarea class="form-control form-control-sm" [ngModel]="contribution.description" disabled></textarea>
          </div>
        </div>
        <div *ngIf="contribution.format" class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.DEV.CONVERSION_FROM'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.format" disabled>
          </div>
        </div>
        <hr class="separator">
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [ngModel]="contribution.baseURI.toNT()" disabled>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.MODEL'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="modelsLabelMap[contribution.model.getIRI()]" disabled>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
          <div class="col-sm-4">
            <input class="form-control form-control-sm" [ngModel]="modelsLabelMap[contribution.lexicalizationModel.getIRI()]" disabled>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>