<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">
    {{'CONTRIBUTIONS.FORM.DEV.CONVERSION_REQUIRED'|translate}}
  </label>
  <div class="col-sm-10">
    <div class="input-group input-group-sm">
      <div class="input-group-text">
        <input type="checkbox" [(ngModel)]="conversionRequired" [title]="'CONTRIBUTIONS.FORM.DEV.CONVERSION_REQUIRED_INFO'|translate">
      </div>
      <select class="form-select" [(ngModel)]="selectedFormat" [disabled]="!conversionRequired">
        <option *ngFor="let f of inputFormats">{{f}}</option>
      </select>
    </div>
  </div>
</div>

<hr class="separator">

<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.NAME'|translate}}</label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="resourceName" [placeholder]="'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.HOME_PAGE'|translate}} <span>*</span></label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="homepage" [placeholder]="'CONTRIBUTIONS.FORM.COMMONS.HOME_PAGE'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.DESCRIPTION'|translate}}</label>
  <div class="col-sm-10">
    <textarea class="form-control form-control-sm" [(ngModel)]="description" [placeholder]="'COMMONS.DESCRIPTION'|translate"></textarea>
  </div>
</div>

<hr class="separator">

<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.MODEL'|translate}}</label>
  <div class="col-sm-4">
    <select class="form-select form-select-sm" [(ngModel)]="selectedSemModel">
      <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
    </select>
  </div>
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
  <div class="col-sm-4">
    <select class="form-select form-select-sm" [(ngModel)]="selectedLexModel">
      <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
    </select>
  </div>
</div>