<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2" (scroll)="onScroll()">
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>
            <ng-container *ngFor="let n of nodes; let idx = index;">
                <div *ngIf="idx < nodesLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())">
                    <div class="listNodeItem">
                        <input *ngIf="context == 'dataPanel'" type="radio" class="me-1" name="lex_radio" [checked]="n == activeLexicon" (click)="toggleLexicon(n)">
                        <list-node [node]="n" [rendering]="rendering" [sortBy]="sortBy" [context]="context" (nodeSelected)="onNodeSelected($event)" style="flex: 1;">
                        </list-node>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>