<div class="card vbox">
  <div class="card-header">
    <div class="hbox align-items-center">
      <label style="flex: 1; white-space: nowrap;">{{'PREFERENCES.LANG.VALUE_FILTER.VALUE_FILTER_LANGS'|translate}}:</label>
      <span *ngIf="getActiveLanguageItems().length == 0" class="me-2 fas fa-exclamation-triangle" [title]="'COMMONS.LANGUAGE.NO_LANG_INFO'|translate"></span>
      <div class="btn-toolbar">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-outline-info" (click)="changeAllLangStatus(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
            <span class="far fa-check-square"></span>
          </button>
          <button type="button" class="btn btn-outline-info" (click)="changeAllLangStatus(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
            <span class="far fa-square"></span>
          </button>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="filterSwitch"></ng-container>
    </div>
  </div>
  <div class="card-body vbox">

    <div class="alert alert-info mb-2" role="alert">
      {{'PREFERENCES.LANG.VALUE_FILTER.DESCRIPTION'|translate}}
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <colgroup>
          <col style="width: 1%">
          <col style="width: 1%">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th class="text-center py-0 px-2">{{'COMMONS.STATUS.ACTIVE'|translate}}</th>
            <th class="text-center py-0 px-2" nowrap>
              {{'COMMONS.LANGUAGE.ISO_CODE'|translate}}
              <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeIsocodeOrder()">
                <span *ngSwitchCase="'isocode_ascending'" class="fas fa-sort-alpha-down"></span>
                <span *ngSwitchCase="'isocode_descending'" class="fas fa-sort-alpha-up"></span>
                <span *ngSwitchDefault class="fas fa-sort"></span>
              </button>
            </th>
            <th class="text-center py-0 px-2" nowrap>
              {{'COMMONS.LANGUAGE.LANGUAGE'|translate}}
              <button class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="changeLanguageOrder()">
                <span *ngSwitchCase="'language_ascending'" class="fas fa-sort-alpha-down"></span>
                <span *ngSwitchCase="'language_descending'" class="fas fa-sort-alpha-up"></span>
                <span *ngSwitchDefault class="fas fa-sort"></span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let l of filterLanguages" (click)="toggleLang(l)">
            <td class="text-center">
              <input type="checkbox" style="vertical-align: middle" [(ngModel)]="l.active">
            </td>
            <td class="text-center" nowrap>{{l.lang.tag}}</td>
            <td class="text-center">
              <lang-item [language]="l.lang"></lang-item>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="languagesChanged && !filterEnabled" class="alert alert-warning mt-2">
      <span class="fas fa-exclamation-triangle me-2"></span>
      {{'PREFERENCES.LANG.VALUE_FILTER.CHANGE_DETECTED_MSG'|translate}}
      <ng-container *ngTemplateOutlet="filterSwitch"></ng-container>
    </div>
  </div>

  <ng-content select="[footer]">
  </ng-content>

</div>







<ng-template #filterSwitch>
  <div class="form-check form-switch ms-2" (click)="toggleFilter()" [title]="'PREFERENCES.LANG.VALUE_FILTER.ENABLE_FILTER'|translate">
    <input class="form-check-input" type="checkbox" role="switch" [ngModel]="filterEnabled">
    <label class="form-check-label">
      <span class="fas fa-filter"></span>
    </label>
  </div>
</ng-template>