<div [class]="inputClass">
  <input *ngIf="show" type="text" class="form-control" [ngClass]="{invalid: invalid}" [placeholder]="placeholder" [(ngModel)]="value" (ngModelChange)="onModelChanged()" [disabled]="readonly">
  <input *ngIf="!show" type="password" class="form-control" [ngClass]="{invalid: invalid}" [placeholder]="placeholder" [(ngModel)]="value" (ngModelChange)="onModelChanged()" [disabled]="readonly" [autocomplete]="autocomplete">
  <button [class]="btnClass" (mousedown)="show = true" (mouseup)="show = false">
    <i *ngIf="show" class="fas fa-eye"></i>
    <i *ngIf="!show" class="fas fa-eye-slash"></i>
  </button>
</div>