<div class="renderer-row d-flex">
  <div class="property-label">
    <span [title]="predicate.getValue().toNT()">{{predicateLabel}}</span>
  </div>
  <div class="property-value-col">
    <div *ngFor="let obj of objects" class="property-value" (dblclick)="onDblClick(obj)" (click)="onClick(obj, $event)">
      <value-renderer [project]="project" [value]="obj" [rendering]="rendering" (valueClick)="onValueClick($event)">
      </value-renderer>
    </div>

    <ng-container *ngIf="showCustomView && customView">
      <custom-views-renderer [cvData]="customView" [objects]="predObjects.getObjects()" [rendering]="rendering" [section]="section"
        (valueClick)="onValueClick($event)">
      </custom-views-renderer>
    </ng-container>
  </div>
</div>