<fieldset class="border-top p-1" [ngClass]="{ 'pt-2' : showHeader}">

  <ng-container *ngIf="showHeader">
    <legend>
      <div class="section-header text-secondary">
        {{sectionTitle | uppercase}}
      </div>
    </legend>

    <div *ngIf="sectionDescription" class="section-description text-secondary p-2 pb-3">
      <i>{{sectionDescription}}</i>
    </div>
  </ng-container>

  <pred-obj-renderer *ngFor="let po of poList" [resource]="resource" [predObjects]="po" [rendering]="rendering" [project]="project" [section]="section"
    (valueClick)="onValueClick($event)">
  </pred-obj-renderer>

</fieldset>