<!-- In case of collections members list, do not show the manchester expr of the list node, but simply the members -->
<ng-container *ngIf="collMembers; then memberListBlock; else tripleValueBlock"></ng-container>


<ng-template #tripleValueBlock>
  <span [title]="graphTitle" style="flex: 1;">

    <div [ngSwitch]="renderMode">
      <manchester-expr *ngSwitchCase="'manchester'"
        [resource]="value?.asAnnotatedBNode()" [ngClass]="{'bold-value': clickableStyle.bold, 'text-decoration-underline': clickableStyle.underlined }" [class]="clickableStyle.color">
      </manchester-expr>

      <div *ngSwitchCase="'widget'">
        <rdf-resource [resource]="value" [ngClass]="{'bold-value': clickableStyle.bold, 'text-decoration-underline': clickableStyle.underlined }" [class]="clickableStyle.color"
          [rendering]="rendering">
        </rdf-resource>
      </div>

      <ng-container *ngSwitchCase="'plainResource'">
        <span [ngClass]="{'bold-value': clickableStyle.bold, 'text-decoration-underline': clickableStyle.underlined }" [class]="'renderingText ' + clickableStyle.color" [title]="valueTooltip">{{renderedValue}}</span>
        <span *ngIf="lang" class="text-body-secondary ms-1" style="font-size: .9rem;">({{lang}})</span>
      </ng-container>

      <div *ngSwitchCase="'html'" class="d-flex align-items-center">
        <div [innerHTML]="safeHtml" [title]="value.getValue().toNT()"></div>
        <span *ngIf="showDatatypeBadge && datatype" class="badge bg-light text-body-secondary font-weight-normal ms-2" [title]="datatype.getValue().toNT()">^^{{datatype.getAttribute('show')}}</span>
      </div>

      <ng-container *ngSwitchCase="'plainLiteral'">
        <span class="renderingText" [title]="value.getValue().toNT()">{{renderedValue}}</span>
        <span *ngIf="lang" class="text-body-secondary ms-1" style="font-size: .9rem;">({{lang}})</span>
        <span *ngIf="showDatatypeBadge && datatype" class="badge bg-light text-body-secondary font-weight-normal ms-1" [title]="datatype.getValue().toNT()">^^{{datatype.getAttribute('show')}}</span>
      </ng-container>

      <ng-container *ngSwitchCase="'literalWithLink'">
        <ng-container *ngFor="let s of splittedLiteral; let even=even">
          <span *ngIf="even">{{s}}</span>
          <a *ngIf="!even" [href]="s" target="_blank">{{s}}</a>
        </ng-container>
      </ng-container>
    </div>

  </span>
</ng-template>


<ng-template #memberListBlock>
  <div *ngFor="let member of collMembers" class="property-value property-value-nested" (dblclick)="onMemberDblClick(member, $event)" (click)="onMemberClick(member, $event)">
    <value-renderer [value]="member" [rendering]="rendering"></value-renderer>
  </div>
</ng-template>