<!-- <h1>This is a custom content</h1>

<p>
	This document can be edited in order to insert a custom content in the home page of ShowVoc.
	The content will be inserted in the central section of the page, just between the brief description of ShowVoc (on the top)
	and the footer that contains the organizations that contributed to ShowVoc.
	In order to try this feature, you can uncomment the content of this document and see how the home page changes.
</p>

<p>
	It is also possible to insert images simply by adding them to the assets/ext/home/ folder and to use them as follow:
</p>

<img src="./assets/ext/home/example.png"> -->