<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.SEARCH_RESULTS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body vbox">

    <div *ngIf="sourceResults" class="card vbox">
      <div class="card-header">
        <label>{{'ALIGNMENTS.SEARCH.SOURCE_DATASET_MATCHES'|translate}}</label>
      </div>
      <div class="card-body scrollableContainer">
        <div *ngFor="let r of sourceResults">
          <div class="listItem d-flex">
            <rdf-resource [resource]="r" (click)="openSourceResource(r)" class="clickable"></rdf-resource>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="targetResults" class="card vbox mt-2">
      <div class="card-header">
        <label>{{'ALIGNMENTS.SEARCH.TARGET_DATASET_MATCHES'|translate}}</label>
      </div>
      <div class="card-body scrollableContainer">
        <div *ngFor="let r of targetResults">
          <div class="listItem d-flex">
            <rdf-resource [resource]="r" (click)="openTargetResource(r)" class="clickable"></rdf-resource>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
  </div>
</div>