<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 [class]="'modal-title ' + titleClass">{{title}}</h5>
    </div>
    <div class="modal-body">
        <div *ngIf="alertClass" [class]="alertClass + ' vbox'">
            <span style="white-space: pre-line">{{message}}</span>

            <div *ngIf="details" class="vbox mt-1">
                <div (click)="detailsCollapsed = !detailsCollapsed">
                    <div class="expandCollapseBtnContainer" style="display: inline">
                        <img src="./assets/images/icons/arrow.png" [ngClass]="{'arrow-right': detailsCollapsed}">
                    </div>
                    <label>{{'COMMONS.DETAILS'|translate}}:</label>
                </div>
                <div *ngIf="!detailsCollapsed" class="card vbox">
                    <div class="card-body overflow-auto" style="font-size: .8rem;">
                        {{details}}
                    </div>
                </div>
            </div>
            
        </div>
        <p *ngIf="!alertClass" class="m-0">{{message}}</p>
    </div>
    <div class="modal-footer">
        <div *ngIf="checkOpt" class="form-check float-start">
			<label class="form-check-label">
				<input class="form-check-input" type="checkbox" [(ngModel)]="checkOpt.value" [disabled]="checkOpt.disabled">
				{{checkOpt.label}}
				<span *ngIf="checkOpt.info" class="fas fa-info-circle" [title]="checkOpt.info"></span>
				<span *ngIf="checkOpt.warning" class="fas fa-exclamation-triangle" [title]="checkOpt.warning"></span>
			</label>
		</div>
        <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    </div>
</div>