<div class="treeNode" #listNodeElement>
  <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
    [ngClass]="{selectedResource : node.getAttribute('selected')}"></rdf-resource>
</div>