<div class="card">
  <div class="card-body table-responsive">
    <table class="table table-sm table-borderless small">
      <colgroup>
        <col style="width: 1%">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <td colspan="2" class="text-center font-weight-bold"><label>{{'GRAPHS.FORCE_CONTROL.LINKS'|translate}}</label></td>
        </tr>
        <tr>
          <td>{{'GRAPHS.FORCE_CONTROL.STRENGTH'|translate}}:</td>
          <td>
            <input type="range" [(ngModel)]="forces?.link.strength" (ngModelChange)="onForceChange()" class="w-100"
              min="0" max="1" step="0.1" [title]="forces?.link.strength">
          </td>
        </tr>
        <tr>
          <td>{{'GRAPHS.FORCE_CONTROL.LENGTH'|translate}}:</td>
          <td>
            <input type="range" [(ngModel)]="forces?.link.distance" (ngModelChange)="onForceChange()" class="w-100"
              min="100" max="500" step="1" [title]="forces?.link.distance">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>