<div class="table-responsive">
  <table class="table table-sm table-borderless small">
    <colgroup>
      <col style="width: 1%">
      <col>
    </colgroup>
    <tbody>
      <tr>
        <td><label>{{'MODELS.RESOURCE.RESOURCE'|translate}}:</label></td>
        <td><rdf-resource *ngIf="resource" [resource]="resource"></rdf-resource></td>
      </tr>
      <tr *ngIf="resource.getValue().isResource()">
        <td>
          <label *ngIf="resource.getValue().isBNode()">ID:</label>
          <label *ngIf="resource.getValue().isIRI()">IRI:</label>
        </td>
        <td style="max-width: 200px;" class="ellipsable">{{resource.getValue().stringValue()}}</td>
      </tr>
      <tr>
        <td><label>{{'COMMONS.LABEL'|translate}}:</label></td>
        <td>{{resource.getShow()}}</td>
      </tr>
      <tr *ngIf="resource.getValue().isResource()">
        <td><label>{{'MODELS.RESOURCE.ROLE'|translate}}:</label></td>
        <td>{{resource.getRole()}}</td>
      </tr>
      <tr *ngIf="resource.getValue().isResource()">
        <td><label>{{'MODELS.RESOURCE.DEPRECATED'|translate}}:</label></td>
        <td>{{resource.isDeprecated()}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf="resource.getValue().isResource()">
        <td colspan="2" class="border-top">
          {{'GRAPHS.RESOURCE_DETAILS.SHOW_THE_COMPLETE'|translate}} <a (click)="showResourceView(); false" href>ResourceView</a>
        </td>
      </tr>
    </tfoot>
  </table>
</div>