<div class="d-flex align-items-center justify-content-around p-2">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="widgetCheck" [(ngModel)]="style.widget" (ngModelChange)="onClickableStyleChanged()">
        <label class="form-check-label" for="widgetCheck">{{'PREFERENCES.CLICKABLE_VALUE.WIDGET'|translate}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="boldCheck" [(ngModel)]="style.bold" (ngModelChange)="onClickableStyleChanged()">
        <label class="form-check-label" for="boldCheck">{{'PREFERENCES.CLICKABLE_VALUE.BOLD'|translate}}</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="underlinedCheck" [(ngModel)]="style.underlined" (ngModelChange)="onClickableStyleChanged()">
        <label class="form-check-label" for="underlinedCheck">{{'PREFERENCES.CLICKABLE_VALUE.UNDERLINED'|translate}}</label>
    </div>

    <div class="d-flex align-items-center">
        <label class="me-2">{{'PREFERENCES.CLICKABLE_VALUE.TEXT_COLOR'|translate}}</label>
        <div class="btn-group btn-group-sm" ngbDropdown>
            <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle">
                <i [class]="'fas fa-square-full ' + (style.color ? style.color : '')"></i>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
                <button class="dropdown-item" (click)="changeStyleColor()">
                    <div class="p-1 bg-dark" style="height: 12px;"></div>
                </button>
                <button class="dropdown-item" (click)="changeStyleColor('text-primary')">
                    <div class="p-1 bg-primary" style="height: 12px;"></div>
                </button>
                <button class="dropdown-item" (click)="changeStyleColor('text-success')">
                    <div class="p-1 bg-success" style="height: 12px;"></div>
                </button>
                <button class="dropdown-item" (click)="changeStyleColor('text-danger')">
                    <div class="p-1 bg-danger" style="height: 12px;"></div>
                </button>
                <button class="dropdown-item" (click)="changeStyleColor('text-warning')">
                    <div class="p-1 bg-warning" style="height: 12px;"></div>
                </button>
                <button class="dropdown-item" (click)="changeStyleColor('text-info')">
                    <div class="p-1 bg-info" style="height: 12px;"></div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="d-flex align-items-center p-2">
    <label>{{'COMMONS.PREVIEW'|translate}}:</label>
    <div *ngIf="previewRes" class="border rounded d-flex align-items-center justify-content-center ms-2 p-1" style="flex: 1; height: 40px;">
        <ng-container *ngIf="style.widget; then widgetBlock else simpleValueBlock"></ng-container>
        <ng-template #widgetBlock>
            <rdf-resource [resource]="previewRes" [ngClass]="{'bold-value': style.bold, 'text-decoration-underline': style.underlined }" [class]="style.color" style="font-size: 15px;"></rdf-resource>
        </ng-template>
        <ng-template #simpleValueBlock>
            <span [ngClass]="{'bold-value': style.bold, 'text-decoration-underline': style.underlined }"  [class]="style.color">
                {{previewRes.getAttribute('show')}}
            </span>
        </ng-template>
    </div>
</div>