<div class="hbox" style="align-items: center" [title]="language.name + ' (' + language.tag + ')'">
    <div [class]="'flagIcon ' + flagCls">
        <ng-container *ngIf="flagImgSrc.indexOf('unknown') != -1; then unknownFlag; else knownFlag"></ng-container>
        <ng-template #knownFlag>
            <img [src]="flagImgSrc" (error)="onImgError()" [ngClass]="{ disabled : disabled }">
        </ng-template>
        <ng-template #unknownFlag>
            <div class="flagShape bg-info" [ngStyle]="{ opacity: disabled ? 0.5 : 'initial', width: langTagWidth + 'px' }"></div>
            <span class="flagShape langTagSpan" style="color: white;" [ngStyle]="{ width: langTagWidth + 'px' }">{{language.tag}}</span>
        </ng-template>
    </div>
    
    <span *ngIf="showName" [ngClass]="{ 'text-body-secondary': disabled }" style="margin-left: 2px;">{{language.name}}</span>
    <span *ngIf="showTag" [ngClass]="{ 'text-body-secondary': disabled }" style="margin-left: 2px;">({{language.tag}})</span>
</div>