<div class="container-fluid my-3">

    <div class="mb-2" style="position: relative;">
        
        <h3 *ngIf="!hideDatasetName" [ngStyle]="{ 'max-width': titleMaxWidth + 'px' }" class="dataset-name-absolute ellipsable">{{project.getLabel()}}</h3>

        <ul #navtabs class="nav nav-tabs align-items-end justify-content-end pe-1">
            <li *ngIf="!hideDataTab" class="nav-item">
                <a class="nav-link" (click)="goToRoute('data')" [ngClass]="{ active: isActiveRoute('data') }">{{'DATA.DATA'|translate}}</a>
            </li>
            <li *ngIf="isTabVisible(DatasetTab.sparql)" class="nav-item">
                <a class="nav-link" (click)="goToRoute('sparql')" [ngClass]="{ active: isActiveRoute('sparql') }">Sparql</a>
            </li>
            <li *ngIf="isTabVisible(DatasetTab.metadata)" class="nav-item">
                <a class="nav-link" (click)="goToRoute('metadata')" [ngClass]="{ active: isActiveRoute('metadata') }">Metadata</a>
            </li>
            <li *ngIf="isTabVisible(DatasetTab.downloads)" class="nav-item">
                <a class="nav-link" (click)="goToRoute('downloads')" [ngClass]="{ active: isActiveRoute('downloads') }">{{'METADATA.DISTRIBUTIONS.DOWNLOADS'|translate}}</a>
            </li>
            <li *ngIf="(isCustomServiceAuthorized || isCustomViewsAuthorized) && isTabVisible(DatasetTab.tools)" class="nav-item dropdown" ngbDropdown>
                <a  class="nav-link dropdown-toggle" [ngClass]="{ active: isActiveRoute('custom-services') || isActiveRoute('custom-views') }"
                    data-toggle="dropdown" ngbDropdownToggle>{{'COMMONS.TOOLS'|translate}}
                </a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a *ngIf="isCustomServiceAuthorized" class="dropdown-item d-flex align-items-center" (click)="goToRoute('custom-services')">
                        Custom Services and Reports
                        <i *ngIf="isActiveRoute('custom-services')" class="fas fa-check ms-2"></i>
                    </a>
                    <a *ngIf="isCustomViewsAuthorized" class="dropdown-item d-flex align-items-center" (click)="goToRoute('custom-views')">
                        {{'CUSTOM_VIEWS.CUSTOM_VIEWS'|translate}}
                        <i *ngIf="isActiveRoute('custom-views')" class="fas fa-check ms-2"></i>
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a #settingsBtn class="nav-link text-secondary px-1" (click)="tabsSettings(); settingsBtn.blur()">
                    <i class="fas fa-cog"></i>
                </a>
            </li>

        </ul>

    </div>

    <router-outlet></router-outlet>

</div>