<div class="card vbox">
    <div class="card-header">
        <div class="btn-toolbar float-end">

            <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
                <i class="fas fa-font"></i>
            </button>

            <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
                <span class="fas fa-sync"></span>
            </button>

        </div>
    </div>

    <div class="card-body vbox">
        <correspondences-list (nodeSelected)="onNodeSelected($event)" [rendering]="rendering"></correspondences-list>
    </div>

</div>