<div class="treeNode" #listNodeElement>
  <div class="d-flex align-items-center clickable" [ngClass]="{selectedResource : node.getAttribute('selected')}"
    style="flex: 1; border-radius: 2px; padding: 1px 2px;"
    (click)="selectNode($event)">
    <div style="flex: 1;">
      <span style="font-weight: 500;">
        {{correspondenceRendering}}
      </span>
      <div class="d-flex align-items-center" style="gap: 4px;">
        <div style="max-width: 60%;">
          <ng-container *ngIf="sourceScheme; then widgetSourceBlock; else missingSourceBlock"></ng-container>
          <ng-template #widgetSourceBlock>
            <rdf-resource [resource]="sourceScheme" [rendering]="rendering" [showIcon]="false" class="ellipsis-y-2 text-break"></rdf-resource>
          </ng-template>
          <ng-template #missingSourceBlock>
            <span class="mx-1 px-2">?</span>
          </ng-template>
        </div>
        <i class="fas fa-arrows-alt-h"></i>
        <div style="max-width: 60%;">
          <ng-container *ngIf="targetScheme; then widgetTargetBlock; else missingTargetBlock"></ng-container>
          <ng-template #widgetTargetBlock>
            <rdf-resource [resource]="targetScheme" [rendering]="rendering" [showIcon]="false" class="ellipsis-y-2 text-break"></rdf-resource>
          </ng-template>
          <ng-template #missingTargetBlock>
            <span class="mx-1 px-2">?</span>
          </ng-template>
        </div>
      </div>

    </div>
    <span class="badge bg-info ms-2">
      {{node.getAttribute('numAss')}}
    </span>
  </div>
</div>