<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2">
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>

            <correspondences-list-node *ngFor="let n of nodes" [node]="n" [rendering]="rendering" (nodeSelected)="onNodeSelected($event)">
            </correspondences-list-node>

        </div>
    </div>
</div>