<div class="vbox">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active : currentRoute == 'customService' }" (click)="currentRoute = 'customService'">{{'CUSTOM_SERVICES.CUSTOM_SERVICES'|translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{active : currentRoute == 'reporter' }" (click)="currentRoute = 'reporter'">Reports</a>
    </li>
  </ul>

  <!--Tabs content-->
  <div class="tab-content border border-top-0 rounded-bottom">
    <div class="tab-pane" [ngClass]="{active : currentRoute == 'customService'}">
      <custom-services-component></custom-services-component>
    </div>
    <div class="tab-pane" [ngClass]="{active : currentRoute == 'reporter'}">
      <invokable-reporters-component></invokable-reporters-component>
    </div>
  </div>
</div>