<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title ellipsable" style="max-width: 90%;">
      {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_MANAGERS'|translate}}
      <span class="text-body-secondary">({{project.getLabel()}})</span>
    </h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="hbox" style="gap: 6px;">

      <div class="card vbox">
        <div class="card-header">
          <label>{{'ADMINISTRATION.DATASETS.MANAGEMENT.MANAGERS'|translate}}</label>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-sm table-borderless table-hover">
            <colgroup>
              <col>
              <col style="width: 1%;">
              <col style="width: 1%;">
            </colgroup>
            <tbody>
              <tr *ngFor="let u of usersBound">
                <td style="white-space: nowrap">
                  <b>{{u.getShow()}}</b>
                  <span class="text-body-secondary">&nbsp;({{u.getEmail()}})</span>
                </td>
                <td class="text-center">
                  <span *ngIf="u.isAdmin()" class="fas fa-wrench text-success" [title]="'USER.ADMINISTRATOR'|translate"></span>
                  <span *ngIf="u.isSuperUser(true)" class="badge rounded-pill bg-primary" [title]="'USER.SUPER_USER'|translate">S</span>
                </td>
                <td>
                  <button *ngIf="!u.isAdmin()" class="btn btn-sm btn-light" (click)="removeUser(u)" [title]="'COMMONS.ACTIONS.REMOVE'|translate" [disabled]="u.isAdmin()">
                    <span class="fas fa-minus"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card vbox">
        <div class="card-header">
          <label>{{'USER.REGISTERED_USERS'|translate}}</label>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-sm table-borderless table-hover">
            <colgroup>
              <col style="width: 1%;">
              <col>
              <col style="width: 1%;">
            </colgroup>
            <tbody>
              <tr *ngFor="let u of allUsers" [ngStyle]="{'opacity': isBound(u) ? '0.33':'1' }">
                <td>
                  <button class="btn btn-sm btn-light" (click)="addUser(u)" [title]="'COMMONS.ACTIONS.ADD'|translate" [disabled]="isBound(u)">
                    <!-- <span class="fas fa-minus"></span> -->
                    <i class="fas fa-chevron-left"></i>
                  </button>
                </td>
                <td style="white-space: nowrap">
                  <b>{{u.getShow()}}</b>
                  <span class="text-body-secondary">&nbsp;({{u.getEmail()}})</span>
                </td>
                <td class="text-center">
                  <span *ngIf="u.isAdmin()" class="fas fa-wrench text-success" [title]="'USER.ADMINISTRATOR'|translate"></span>
                  <span *ngIf="u.isSuperUser(true)" class="badge rounded-pill bg-primary" [title]="'USER.SUPER_USER'|translate">S</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>