<div class="d-flex flex-column" style="flex: 1; gap: 8px;">

    <div class="card vbox">
        <div class="card-header d-flex align-items-center">
            <h5 class="m-0" style="flex: 1;">{{'METADATA.DISTRIBUTIONS.DISTRIBUTIONS'|translate}}</h5>

            <div *ngIf="isUpdateDownloadsAuthorized" class="btn-group btn-group-sm" ngbDropdown container="body" display="dynamic">
                <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-plus"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-sm" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="createDistribution()">
                        {{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_DIST_DATASET'|translate}}
                    </button>
                    <button class="dropdown-item" (click)="uploadFile(true)">
                        {{'METADATA.DISTRIBUTIONS.UPLOAD_DIST_DATASET'|translate}}
                    </button>
                    <button class="dropdown-item" (click)="addExternalDistribution()">
                        {{'METADATA.DISTRIBUTIONS.ADD_EXTERNAL_DIST_DATASET'|translate}}
                    </button>
                    <button class="dropdown-item" (click)="createAlignmentsDistribution()">
                        {{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_DIST_ALIGN'|translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-sm">
                <colgroup>
                    <col>
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <thead>
                    <th class="border-top-0">{{'COMMONS.NAME'|translate}}</th>
                    <th class="border-top-0">{{'METADATA.DISTRIBUTIONS.CREATION_DATE'|translate}}</th>
                    <th class="border-top-0"></th>
                </thead>
                <tbody>
                    <tr *ngIf="distributions.length == 0">
                        <td colspan="4">
                            {{'METADATA.DISTRIBUTIONS.NO_DISTRIBUTION_AVAILABLE'|translate}}
                        </td>
                    </tr>
                    <tr *ngFor="let d of distributions">
                        <td [title]="d.fileName">
                            <ng-container *ngIf="d.type == 'local'">
                                <i class="fas fa-download text-body-secondary me-2" style="font-size: .75rem;"></i>
                                <a (click)="downloadDistribution(d); false" href>{{d.localizedLabel}}</a>
                            </ng-container>
                            <ng-container *ngIf="d.type == 'external'">
                                <i class="fas fa-external-link-alt text-body-secondary me-2" style="font-size: .75rem;"></i>
                                <a [href]="d.fileName" target="_blank">{{d.localizedLabel}}</a>
                            </ng-container>
                            <button *ngIf="isUpdateDownloadsAuthorized" class="btn btn-xs btn-light ms-2" (click)="editDistributionLabels(d)" [title]="'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_LABELS'|translate">
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                        </td>
                        <td [title]="d.date" nowrap>{{d.dateLocal}}</td>
                        <td>
                            <div *ngIf="isUpdateDownloadsAuthorized" class="btn-toolbar">
                                <button class="btn btn-sm btn-light" (click)="deleteDistribution(d, true)">
                                    <span class="fas fa-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card vbox">
        <div class="card-header d-flex align-items-center">
            <h5 class="m-0" style="flex: 1;">{{'METADATA.DISTRIBUTIONS.OTHER_FILES'|translate}}</h5>

            <div *ngIf="isUpdateDownloadsAuthorized" class="btn-group btn-group-sm" ngbDropdown container="body" display="dynamic">
                <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
                    <span class="fas fa-plus"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-sm" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="uploadFile(false)">
                        {{'COMMONS.ACTIONS.UPLOAD_FILE'|translate}}
                    </button>
                    <button class="dropdown-item" (click)="addExternalLink()">
                        {{'METADATA.DISTRIBUTIONS.ADD_EXTERNAL_LINK_FILE'|translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body overflow-auto">
            <table class="table table-sm">
                <colgroup>
                    <col>
                    <col>
                    <col style="width: 1%;">
                </colgroup>
                <thead>
                    <th class="border-top-0">{{'COMMONS.NAME'|translate}}</th>
                    <th class="border-top-0">{{'METADATA.DISTRIBUTIONS.CREATION_DATE'|translate}}</th>
                    <th class="border-top-0"></th>
                </thead>
                <tbody>
                    <tr *ngIf="files.length == 0">
                        <td colspan="4">
                            {{'METADATA.DISTRIBUTIONS.NO_FILE_AVAILABLE'|translate}}
                        </td>
                    </tr>

                    <tr *ngFor="let d of files">
                        <td [title]="d.fileName">
                            <ng-container *ngIf="d.type == 'local'">
                                <i class="fas fa-download text-body-secondary me-2" style="font-size: .75rem;"></i>
                                <a (click)="downloadDistribution(d); false" href>{{d.localizedLabel}}</a>
                            </ng-container>
                            <ng-container *ngIf="d.type == 'external'">
                                <i class="fas fa-external-link-alt text-body-secondary me-2" style="font-size: .75rem;"></i>
                                <a [href]="d.fileName" target="_blank">{{d.localizedLabel}}</a>
                            </ng-container>
                            <button *ngIf="isUpdateDownloadsAuthorized && !d.legacy" class="btn btn-xs btn-light ms-2" (click)="editDistributionLabels(d)" [title]="'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_LABELS'|translate">
                                <span class="fas fa-pencil-alt"></span>
                            </button>
                        </td>
                        <td [title]="d.date" nowrap>{{d.dateLocal}}</td>
                        <td>
                            <div *ngIf="isUpdateDownloadsAuthorized" class="btn-toolbar">
                                <button class="btn btn-sm btn-light" (click)="deleteDistribution(d, false)">
                                    <span class="fas fa-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>