<div left class="card vbox">
  <div class="card-body vbox p-0">
    <ul class="nav nav-tabs" style="padding-right: 40px;">
      <li *ngFor="let t of tabs" class="nav-item" [ngClass]="{'d-none' : hidePanelSelector}">
        <a class="nav-link" (click)="activeTab = t.panel" [ngClass]="{ active: activeTab == t.panel }">
          {{t.label}}
        </a>
      </li>
      <li class="nav-item ms-2">
        <a #settingsBtn class="nav-link text-secondary px-1" (click)="tabsSettings(); settingsBtn.blur()">
          <i class="fas fa-cog"></i>
        </a>
      </li>
      <div class="position-absolute" style="top: 6px; right: 6px;">
        <button class="btn btn-sm btn-light" (click)="changeRendering()" [title]="'DATA.ACTIONS.CHANGE_RENDERING'|translate">
          <span class="fas fa-globe-europe"></span>
        </button>
      </div>
    </ul>
    <div class="tab-content" shiftKey ctrlKey>
      <div *ngIf="isPanelAvailable(DataPanel.cls)" class="tab-pane" [ngClass]="{ active: activeTab == 'cls' }">
        <class-instance-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </class-instance-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.concept)" class="tab-pane" [ngClass]="{ active: activeTab == 'concept' }">
        <concept-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </concept-tree-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.skosCollection)" class="tab-pane" [ngClass]="{ active: activeTab == 'skosCollection' }">
        <collection-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </collection-tree-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.conceptScheme)" class="tab-pane" [ngClass]="{ active: activeTab == 'conceptScheme' }">
        <scheme-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </scheme-list-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.property)" class="tab-pane" [ngClass]="{ active: activeTab == 'property' }">
        <property-tree-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </property-tree-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.limeLexicon)" class="tab-pane" [ngClass]="{ active: activeTab == 'limeLexicon' }">
        <lexicon-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </lexicon-list-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.ontolexLexicalEntry)" class="tab-pane" [ngClass]="{ active: activeTab == 'ontolexLexicalEntry' }">
        <lexical-entry-list-panel [context]="context" (nodeSelected)="onNodeSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)">
        </lexical-entry-list-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.alignments)" class="tab-pane" [ngClass]="{ active: activeTab == 'alignments' }">
        <alignments-tree-panel (linksetSelected)="onLinksetSelected($event)"></alignments-tree-panel>
      </div>

      <div *ngIf="isPanelAvailable(DataPanel.correspondence)" class="tab-pane" [ngClass]="{ active: activeTab == 'correspondence' }">
        <correspondences-list-panel (nodeSelected)="onCorrespondenceSelected($event)"></correspondences-list-panel>
      </div>
    </div>
  </div>
</div>