<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">{{'PREFERENCES.DATA_PANEL_FILTER.DATA_PANELS_SETTINGS'|translate}}</h5>
    </div>
    <div class="modal-body">

        <data-panels-settings [(ngModel)]="hiddenTabsPref">
            <div toolbar class="btn-group btn-group-xs">
                <div class="btn-group" ngbDropdown placement="bottom-right">
                    <button class="btn btn-light dropdown-toggle btn-sm" ngbDropdownToggle>
                        {{'COMMONS.STATUS.DEFAULT'|translate}}
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item" (click)="setAsDefault()">
                            {{'COMMONS.ACTIONS.SET_AS_DEFAULT_FOR_ALL_PROJECTS'|translate}}
                        </button>
                        <button class="dropdown-item" (click)="showDefaults()">
                            {{'COMMONS.ACTIONS.VIEW_DEFAULTS'|translate}}
                        </button>
                    </div>
                </div>
            </div>
        </data-panels-settings>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>