<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">
      {{'PREFERENCES.DATA_PANEL_FILTER.VISIBLE_DATA_PANELS'|translate}} -
      {{'SETTINGS.DEFAULTS.DEFAULT_CONFIGS'|translate}}
    </h5>
  </div>
  <div class="modal-body vbox scrollableContainer">

    <div [ngSwitch]="scopes?.length">

      <div *ngSwitchCase="0">
        <div class="alert alert-info">
          {{'SETTINGS.DEFAULTS.MESSAGES.NO_DEFAULTS_MSG'|translate}}
        </div>
      </div>

      <div *ngSwitchCase="1">
        <ng-container *ngIf="activeScope == 'USER'; then userDefaultsEditor; else projDefaultsEditor"></ng-container>
        <ng-template #userDefaultsEditor>
          <data-panels-settings [(ngModel)]="userDefault" [readonly]="true"></data-panels-settings>
        </ng-template>
        <ng-template #projDefaultsEditor>
          <data-panels-settings [(ngModel)]="projectDefault" [readonly]="true"></data-panels-settings>
        </ng-template>
      </div>

      <div *ngSwitchCase="2">
        <div class="alert alert-info">
          <p>{{'SETTINGS.DEFAULTS.MESSAGES.MULTI_DEFAULTS_MSG.0'|translate}}</p>
          <i>{{'SETTINGS.DEFAULTS.MESSAGES.MULTI_DEFAULTS_MSG.1'|translate}}</i>
        </div>

        <ul class="nav nav-tabs mt-2">
          <li *ngFor="let s of scopes" class="nav-item">
            <a class="nav-link" (click)="activeScope = s" [ngClass]="{ active: activeScope == s }">
              {{s}}
            </a>
          </li>
        </ul>
        <div class="tab-content">
          <data-panels-settings [(ngModel)]="userDefault" class="tab-pane" [ngClass]="{ active: activeScope == 'USER' }" [readonly]="true"></data-panels-settings>
          <data-panels-settings [(ngModel)]="projectDefault" class="tab-pane" [ngClass]="{ active: activeScope == 'PROJECT' }" [readonly]="true"></data-panels-settings>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="d-flex align-items-center justify-content-end" style="gap: 8px;">

      <ng-container *ngIf="scopes?.length == 0 || scopes?.length == 1">
        <button class="btn btn-primary btn-sm" (click)="restoreDefault()">{{'COMMONS.ACTIONS.RESTORE_DEFAULT'|translate}}</button>
      </ng-container>

      <ng-container *ngIf="scopes?.length == 2">
        <div class="input-group input-group-sm w-auto">
          <select class="form-select" [(ngModel)]="selectedMultiActionOpt">
            <option *ngFor="let opt of multiActionOpts" [ngValue]="opt">{{opt|translate}}</option>
          </select>
          <button class="btn btn-primary" (click)="applyAction()">
            <i class="fas fa-check"></i>
          </button>
        </div>
      </ng-container>

      <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
  </div>
</div>