<div class="vbox">

  <svg:svg #svg class="graphContainer" (click)="onBackgroundClicked()">
    <defs>
      <linearGradient id="objectPropertyGradient" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color: white" />
        <stop offset="6%" style="stop-color: white" />
        <stop offset="8%" style="stop-color: #336699" />
        <stop offset="100%" style="stop-color: #336699" />
      </linearGradient>
      <linearGradient id="objectPropertyImportedGradient" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color: white" />
        <stop offset="6%" style="stop-color: white" />
        <stop offset="8%" style="stop-color: #9fb9d4" />
        <stop offset="100%" style="stop-color: #9fb9d4" />
      </linearGradient>
      <linearGradient id="objectPropertyDeprecatedGradient" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color: white" />
        <stop offset="6%" style="stop-color: white" />
        <stop offset="8%" style="stop-color: #54616e" />
        <stop offset="100%" style="stop-color: #54616e" />
      </linearGradient>
    </defs>

    <svg:g *ngIf="initialized" [zoomableOf]="svgElement?.nativeElement">
      <svg:g *ngFor="let link of graph.links" [id]="'link' + link.index" [model-link]="link" [rendering]="rendering" [selected]="selectedLink == link" (linkClicked)="onLinkClicked($event)"></svg:g>
      <svg:use *ngIf="linkAhead" [attr.xlink:href]="'#link' + linkAhead.index"></svg:use>

      <svg:g *ngFor="let node of graph.nodes" [modelNode]="node" (nodeClicked)="onNodeClicked($event)" (nodeDblClicked)="onNodeDblClicked($event)"
        [draggableNode]="node" [draggableInGraph]="graph" [rendering]="rendering" [selected]="selectedNode == node">
      </svg:g>
    </svg:g>
  </svg:svg>

</div>