<div class="card vbox">
  <div class="card-header d-flex">
    <div class="btn-toolbar" role="toolbar">
      <button *ngIf="viewChildGraph?.incrementalExploration" class="btn btn-sm btn-light" (click)="addNode()" [title]="'GRAPHS.ACTIONS.ADD_NODE'|translate">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <span style="flex: 1;"></span>
    <div class="btn-toolbar">
      <button class="btn btn-light btn-sm" [title]="'COMMONS.RENDERING'|translate" (click)="rendering=!rendering" [ngClass]="{ 'active': rendering }">
        <span class="fas fa-font"></span>
      </button>

      <button class="btn btn-light btn-sm ms-1" [title]="'GRAPHS.ACTIONS.FIX_NODES_POSITION'|translate" (click)="isLock? unfixAll() : fixAll()" [ngClass]="{ active: isLock }">
        <span class="fas fa-lock"></span>
      </button>

      <div class="btn-group btn-group-sm ms-1" ngbDropdown autoClose="outside">
        <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
          <span class="fas fa-filter"></span>
        </button>
        <div class="dropdown-menu float-end" ngbDropdownMenu>
          <a *ngFor="let f of axiomFilters" class="dropdown-item" (click)="changeFilter(f)">
            <input type="checkbox" class="me-1" [(ngModel)]="f.show">
            {{f.property.getShow()}}
          </a>
        </div>
      </div>

      <button class="btn btn-light btn-sm" (click)="snapshot()" [title]="'GRAPHS.ACTIONS.EXPORT_SNAPSHOT'|translate">
        <span class="fas fa-camera"></span>
      </button>
    </div>
  </div>
  <div class="card-body hbox">
    <model-graph class="vbox" [graph]="graph" [filters]="axiomFilters" [fixed]="isLock" [rendering]="rendering" (nodeSelected)="onNodeSelected($event)" (linkSelected)="onLinkSelected($event)"></model-graph>

    <div class="vbox ms-1" style="flex: initial; width: 300px;">
      <div class="card vbox">
        <div class="card-header" style="min-height: 41px;">
          <div *ngIf="selectedNode" class="btn-toolbar float-end">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-light" [ngClass]="{ active: selectedNode.fixed }" [title]="'GRAPHS.ACTIONS.FIX_NODE_POSITION'|translate" (click)="fixNode()" [disabled]="!selectedNode">
                <span class="fas fa-lock"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox">
          <resource-details-panel *ngIf="selectedNode?.res || selectedLink?.res" [resource]="selectedNode?.res ?? selectedLink?.res"></resource-details-panel>
        </div>
      </div>

      <force-control-panel [(ngModel)]="forces" (ngModelChange)="onForceChange()" class="mt-1"></force-control-panel>

    </div>
  </div>
</div>