<div class="card vbox">

  <div class="card-body vbox scrollableContainer">

    <!-- Email -->
    <div class="card mb-2">
      <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.EMAIL.EMAIL_CONFIG'|translate}}:</label>
      </div>
      <div *ngIf="emailSettings" class="card-body">
        <div class="alert alert-info mb-1">
          <span [innerHTML]="'MESSAGES.EMAIL_CONFIG_INFO'|translate"></span>
        </div>
        <table class="table table-sm table-borderless">
          <colgroup>
            <col style="width: 1%;">
            <col style="width: 1%;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_URL_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>Mail SMTP host:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="emailSettings.smtp.host"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_SERVER_PORT_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>Mail SMTP port:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="emailSettings.smtp.port"></td>
            </tr>

            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.CRYPTOGRAPHIC_PROTOCOL'|translate}}:</label>
              </td>
              <td>
                <select class="form-select form-select-sm" [(ngModel)]="cryptoProtocol" (ngModelChange)="updateProtocol()">
                  <option>SSL</option>
                  <option>TLS</option>
                  <option>None</option>
                </select>
              </td>
            </tr>
            <tr *ngIf="emailSettings.smtp.sslEnabled">
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.SSL_PROTOCOLS_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.SSL_PROTOCOLS'|translate}}:</label>
              </td>
              <td>
                <input class="form-control form-control-sm" [(ngModel)]="emailSettings.smtp.sslProtocols">
              </td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'ADMINISTRATION.SYSTEM.EMAIL.AUTHENTICATION'|translate}}:</label>
              </td>
              <td>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="authRadioTrue" type="radio" name="authRadio" [(ngModel)]="emailSettings.smtp.auth" [value]="true">
                  <label class="form-check-label" for="authRadioTrue">{{'COMMONS.BOOLEAN.YES'|translate}}</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" id="authRadioFalse" type="radio" name="authRadio" [(ngModel)]="emailSettings.smtp.auth" [value]="false">
                  <label class="form-check-label" for="authRadioFalse">{{'COMMONS.BOOLEAN.NO'|translate}}</label>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_FROM_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>Mail from address:</label>
              </td>
              <td><input class="form-control form-control-sm" type="email" [(ngModel)]="emailSettings.from.address"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_PASSWORD_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>Mail from password:</label>
              </td>
              <td>
                <input *ngIf="!emailSettings.smtp.auth; else authBlock" class="form-control form-control-sm" disabled>
                <ng-template #authBlock>
                  <div class="hbox" style="align-items: center;">
                    <input class="form-control form-control-sm" [(ngModel)]="emailSettings.from.password" type="password" style="flex: 1;">
                    <span class="fas fa-exclamation-triangle ms-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                  </div>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.EMAIL.MAIL_ALIAS_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>Mail from alias:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="emailSettings.from.alias"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" style="text-align: right;">
        <button class="btn btn-outline-info btn-sm" (click)="testEmailConfig()" [disabled]="testEmailConfigLoading">
          Test
          <div *ngIf="testEmailConfigLoading" class="spinner-border spinner-border-sm"></div>
        </button>
        <button type="submit" class="btn btn-info btn-sm ms-1" (click)="updateEmailConfig()" [disabled]="!isEmailConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
      </div>
    </div>

    <!-- Remote access -->
    <div class="card mb-2">
      <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.REMOTE_ACCESS_CONFIG'|translate}}:</label>
      </div>
      <div class="card-body">
        <div class="alert alert-info mb-1">
          <span [innerHTML]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.REMOTE_ACCESS_CONFIG_INFO'|translate"></span>
        </div>
        <table class="table table-sm table-borderless">
          <colgroup>
            <col style="width: 1%;">
            <col style="width: 1%;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.URL_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'COMMONS.CONFIG.SERVER_URL'|translate}}:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="remoteAccessConfig.serverURL"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.USERNAME_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'COMMONS.CONFIG.USERNAME'|translate}}:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="remoteAccessConfig.username"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.REMOTE_ACCESS.PASSWORD_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>{{'COMMONS.CONFIG.PASSWORD'|translate}}:</label>
              </td>
              <td>
                <div class="hbox" style="align-items: center;">
                  <input class="form-control form-control-sm" [(ngModel)]="remoteAccessConfig.password" type="password" style="flex: 1;">
                  <span class="fas fa-exclamation-triangle ms-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" style="text-align: right;">
        <button type="submit" class="btn btn-info btn-sm ms-1" (click)="updateRemoteConfig()" [disabled]="!isRemoteConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_CONFIG'|translate}}:</label>
      </div>
      <div class="card-body">
        <div class="alert alert-info mb-1">
          <span [innerHTML]="'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_CONFIG_INFO'|translate"></span>
        </div>
        <table class="table table-sm table-borderless">
          <colgroup>
            <col style="width: 1%;">
            <col style="width: 1%;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.VB_URL_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>VocBench URL:</label>
              </td>
              <td>
                <input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.vbURL">
              </td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ST_HOST_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>SemanticTurkey Host:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.stHost"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ADMIN_EMAIL_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>VocBench/SemanticTurkey admin email:</label>
              </td>
              <td><input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.adminEmail"></td>
            </tr>
            <tr>
              <td>
                <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.VB_CONFIG.ADMIN_PASSWORD_INFO'|translate"></span>
              </td>
              <td nowrap>
                <label>VocBench/SemanticTurkey admin password:</label>
              </td>
              <td>
                <div class="hbox" style="align-items: center;">
                  <input class="form-control form-control-sm" [(ngModel)]="vbConnectionConfig.adminPassword" type="password" autocomplete="new-password" style="flex: 1;">
                  <span class="fas fa-exclamation-triangle ms-2" [title]="'ADMINISTRATION.SYSTEM.COMMONS.MAIL_PASSWORD_WARN'|translate"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer" style="text-align: right;">
        <button class="btn btn-outline-info btn-sm" (click)="testVbConnection()" [disabled]="testVbConfigLoading">
          Test
          <div *ngIf="testVbConfigLoading" class="spinner-border spinner-border-sm"></div>
        </button>
        <button type="submit" class="btn btn-info btn-sm ms-1" (click)="updateVbConfig()" [disabled]="!isVbConfigChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT'|translate}}:</label>
      </div>
      <div class="card-body">
        <div class="alert alert-info mb-2">
          {{'ADMINISTRATION.SYSTEM.HOME_PAGE.HOME_CONTENT_INFO'|translate}}
        </div>
        <div class="hbox">
          <html-editor [(ngModel)]="homeContent"></html-editor>
          <div class="ms-2" style="flex: 1; border: 1px solid #ddd; border-radius: 4px; margin-left: 4px;" [innerHTML]="safeHomeContent"></div>
        </div>
      </div>
      <div class="card-footer" style="text-align: right;">
        <button class="btn btn-info btn-sm" (click)="previewHomeContent()">{{'COMMONS.PREVIEW'|translate}}</button>
        <button type="submit" class="btn btn-light btn-sm ms-2" (click)="updateHomeContent()" [disabled]="!isHomeContentChanged()">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
      </div>
    </div>

    <div class="card mb-2">
      <div class="card-header">
        <label>{{'ADMINISTRATION.SYSTEM.OTHER.OTHER_SETTINGS'|translate}}:</label>
      </div>
      <div class="card-body">
        <table class="table table-sm table-borderless">
          <colgroup>
            <col style="width: 1%;">
            <col>
          </colgroup>
          <tbody>
            <tr>
              <td nowrap>
                <label>{{'ADMINISTRATION.SYSTEM.OTHER.DISABLE_CONTRIBUTION'|translate}}:</label>
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="disableContributions" (ngModelChange)="updateDisableContributions()">
              </td>
            </tr>
            <tr>
              <td nowrap>
                <label>{{'ADMINISTRATION.SYSTEM.OTHER.AUTH_MODE'|translate}}:</label>
              </td>
              <td>
                <select class="form-select form-select-sm" [ngModel]="selectedAuthServiceMode" (ngModelChange)="onAuthServiceChanged($event)">
                  <option *ngFor="let a of authServiceModes">{{a}}</option>
                </select>
              </td>
            </tr>
            <tr>
              <td nowrap>
                <label>
                  {{'ADMINISTRATION.SYSTEM.OTHER.ALLOW_ANONYMOUS'|translate}}
                  <span class="fas fa-info-circle" [title]="'ADMINISTRATION.SYSTEM.OTHER.ALLOW_ANONYMOUS_INFO'|translate"></span>
                  :
                </label>
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="allowAnonymous" (ngModelChange)="onAllowAnonymousChange()">
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>