<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">Export as RDF</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <select class="form-select form-select-sm" [(ngModel)]="selectedExportFormat">
      <option *ngFor="let f of exportFormats" [ngValue]="f">{{f.name}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <div *ngIf="loading" class="spinner-border text-info"></div>
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>