<div *ngIf="queryResult != null" class="vbox">
    <div class="table-responsive border rounded p-1" style="flex: 1;">
        <table class="table table-striped table-sm table-hover" style="flex: 1">
            <thead>
                <tr>
                    <th *ngFor="let h of headers" style="white-space: nowrap">
                        {{h}}
                        <button *ngIf="resultType != 'boolean'" class="btn btn-xs btn-light" [ngSwitch]="sortOrder" (click)="sortResult(h)">
                            <span *ngSwitchCase="h+asc_Order" class="fas fa-sort-alpha-down"></span>
                            <span *ngSwitchCase="h+desc_Order" class="fas fa-sort-alpha-up"></span>
                            <span *ngSwitchDefault class="fas fa-sort"></span>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody style="overflow: auto;">
                <ng-container *ngIf="resultType != 'boolean'">
                    <ng-container *ngFor="let bindings of $any(queryResult); let i=index">
                        <ng-container *ngIf="i >= resultsPage*resultsLimit && i < resultsPage*resultsLimit + resultsLimit">
                            <tr>
                                <td *ngFor="let h of headers">
                                    <span *ngIf="bindings[h]" [ngClass]="{ clickable: isBindingResource(bindings[h]) }" (click)="onBindingClick(bindings[h])">
                                        {{getBindingShow(bindings[h])}}
                                    </span>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="resultType == 'boolean'">
                    <tr>
                        <td>{{queryResult}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-center mt-1">

        <div style="flex: 1; font-size: .875rem">
            <span *ngIf="resultType != 'boolean'">
                {{'SPARQL.RESULTS.RESULTS_COUNT'|translate}}: {{$any(queryResult).length}}
            </span>
            <span *ngIf="queryTime">({{'SPARQL.RESULTS.DONE_IN'|translate}} {{queryTime}})</span>
        </div>

        <div class="mx-2">
            <div class="btn-group btn-group-sm dropup" ngbDropdown placement="top-right">
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle [disabled]="exportInProgress">
                    {{'SPARQL.RESULTS.SAVE_RESULTS_AS'|translate}}...
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="exportAsJSON()">Json</button>
                    <button class="dropdown-item" (click)="exportAsCSV()">CSV</button>
                    <button class="dropdown-item" (click)="exportAsTSV()">TSV</button>
                    <button class="dropdown-item" (click)="exportAsSpradsheet('xlsx')">XLSX (Microsoft spreadsheet)</button>
                    <button class="dropdown-item" (click)="exportAsSpradsheet('ods')">ODS (OpenDocument spreadsheet)</button>
                    <button *ngIf="resultType=='graph'" class="dropdown-item" (click)="exportAsRdf()">RDF format...</button>
                </div>
            </div>
            <div style="display: inline-block;">
                <div *ngIf="exportInProgress" class="spinner-border spinner-border-sm text-info"></div>
            </div>
        </div>

        <div class="btn-group btn-group-sm mx-2">
            <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="resultsPage=resultsPage-1" [disabled]="resultsPage==0">
                <span class="fas fa-caret-left"></span>
            </button>
            <button class="btn btn-light" style="cursor: auto" disabled>
                <span>{{resultsPage+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{resultsTotPage}}</span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="resultsPage=resultsPage+1" [disabled]="resultsPage>=resultsTotPage-1">
                <span class="fas fa-caret-right"></span>
            </button>
        </div>
    </div>

</div>