<yasgui [query]="query" (querychange)="onQueryChange($event)"></yasgui>

<!--Commands (submit, clear, inferred, ...)-->
<div class="d-flex align-items-center mt-1">

  <button class="btn btn-sm btn-info" (click)="doQuery()" [disabled]="queryInProgress || !queryValid || queryMode != 'query'">{{'COMMONS.ACTIONS.SUBMIT'|translate}}</button>
  <button class="btn btn-sm btn-secondary ms-1" (click)="clear()" [disabled]="queryResultResp == null">{{'COMMONS.ACTIONS.CLEAR'|translate}}</button>

  <div class="form-check form-check-inline ms-3">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox" [(ngModel)]="inferred">{{'SPARQL.RESULTS.INCLUDE_INFERRED'|translate}}
    </label>
  </div>

  <span style="flex: 1"></span>

  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
      <button *ngIf="isAuthenticatedUser" class="btn btn-light" [title]="'SPARQL.ACTIONS.SAVE_SPARQL_QUERY'|translate" (click)="saveConfiguration()">
        <span class="fas fa-download"></span>
      </button>
      <button class="btn btn-light" [title]="'SPARQL.ACTIONS.LOAD_SPARQL_QUERY'|translate" (click)="loadConfiguration()">
        <span class="fas fa-upload"></span>
      </button>
    </div>
  </div>
</div>

<!--Query result-->

<div *ngIf="queryInProgress" class="spinner-border text-info mt-1"></div>

<query-results *ngIf="queryResultResp" class="mt-2" [queryResultResp]="queryResultResp" [queryTime]="queryTime" [queryCache]="queryCache" [inferred]="inferred"></query-results>