<div class="card vbox">
  <div class="card-body vbox p-0">
    <!--Tabs navigation-->
    <ul class="nav nav-tabs" (click)="$event.preventDefault()">
      <li *ngFor="let t of tabs" class="nav-item">
        <a href class="nav-link" (click)="selectTab(t)" [ngClass]="{ active : t.active }">
          <span>
            {{t.name}}
            <span *ngIf="isAuthenticatedUser && !t.saved">*</span>
          </span>
          <span *ngIf="tabs.length > 1" class="ms-2" (click)="closeTab(t)">
            <i class="fas fa-times-circle clickable"></i>
          </span>
        </a>
      </li>
      <li class="nav-item-splitted">
        <div class="btn-group" ngbDropdown>
          <button #addBtn class="btn" (click)="addTab(TabType.query)" (mouseup)="addBtn.blur()" [disabled]="tabs.length > tabLimit">
            <i class="fas fa-plus clickable"></i>
          </button>
          <ng-container *ngIf="isAuthenticatedUser">
            <button #dropdownBtn class="btn dropdown-toggle" data-toggle="dropdown" (mouseup)="dropdownBtn.blur()" [disabled]="tabs.length > tabLimit" ngbDropdownToggle>
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="addTab(TabType.query)">{{'SPARQL.QUERY.ADD_QUERY_TAB'|translate}}</button>
              <button class="dropdown-item" (click)="addTab(TabType.parameterization)">{{'SPARQL.QUERY.ADD_PARAMETERIZED_QUERY_TAB'|translate}}</button>
            </div>
          </ng-container>
        </div>
      </li>
    </ul>
    <!--Tabs content-->
    <div class="tab-content">
      <div *ngFor="let t of tabs" class="tab-pane" [ngClass]="{active : t.active}">
        <sparql-tab *ngIf="t.type == TabType.query"></sparql-tab>
        <sparql-tab-param *ngIf="t.type == TabType.parameterization"></sparql-tab-param>
      </div>
    </div>
  </div>
</div>