::ng-deep .yasqe {
  /* flex: 1; */

  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

::ng-deep .yasqe .CodeMirror {
  font-size: inherit !important;
}

::ng-deep .yasqe-readonly .CodeMirror-scroll {
  background: #e9ecef;
}

/* solution inspired by https://github.com/TriplyDB/Yasgui/issues/152 */
::ng-deep .CodeMirror-fullscreen .yasqe {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10 !important;
}

/* Hide yasqe buttons (share) */
::ng-deep .yasqe .yasqe_buttons {
  display: none;
}

.full-screen-toggle {
  position: absolute;
  top: 16px;
  right: 22px;
  z-index: 20; /* greater than CodeMirror-fullscreen */
}
.CodeMirror-fullscreen .full-screen-toggle {
  position: fixed !important;
}