<div class="card vbox">
  <div class="card-header d-flex align-items-center" style="gap: 8px;">
    <label style="flex: 1;">{{'DATASETS.DATASETS'|translate}}</label>
    <div class="btn btn-sm btn-light" [ngClass]="{ active: onlyOpen }" (click)="toggleOnlyOpen()">
      {{'SEARCH.ONLY_OPEN'|translate}}
    </div>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-light" (click)="checkAll(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate">
        <span class="far fa-check-square"></span>
      </button>
      <button type="button" class="btn btn-light" (click)="checkAll(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate">
        <span class="far fa-square"></span>
      </button>
    </div>
  </div>
  <div class="card-body table-responsive">

    <div *ngIf="loading" class="spinner-border text-info"></div>

    <table class="table table-sm table-hoverable table-borderless">
      <colgroup>
        <col style="width: 1%;">
        <col>
      </colgroup>
      <tbody>
        <ng-container *ngFor="let f of datasets">
          <tr *ngIf="f.visible" (click)="toggleCheck(f)">
            <td>
              <input type="checkbox" [(ngModel)]="f.checked" (onModelChange)="onChanges()">
            </td>
            <td>
              <span [class]=" f.project.isOpen() ? 'text-info' : 'text-body-secondary'">
                {{f.project.getName(true)}}
              </span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" [(ngModel)]="filterString" (ngModelChange)="applyFilters()" [placeholder]="'COMMONS.FILTER'|translate">
      <span class="input-group-text">
        <i class="fas fa-filter"></i>
      </span>
    </div>
  </div>
</div>