<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2" (scroll)="onScroll()">

            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>

            <div *ngIf="visualizationMode == 'searchBased' && !nodes" class="alert alert-warning mb-1">
                {{'DATA.CONCEPT.USE_SEARCH_MSG'|translate}}
            </div>

            <ng-container *ngIf="!safeToGo.safe && visualizationMode == 'hierarchyBased'; then unsafetyBlock else safetyBlock"></ng-container>

            <ng-template #safetyBlock>
                <ng-container *ngFor="let n of nodes; let idx = index">
                    <concept-tree-node *ngIf="idx < nodesLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [schemes]="schemes" [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </concept-tree-node> 
                </ng-container>
            </ng-template>

            <ng-template #unsafetyBlock>
                <div *ngIf="!loading" class="alert alert-warning m-2">
                    {{'DATA.CONCEPT.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
                    {{'DATA.CONCEPT.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}<br>
                    {{'DATA.CONCEPT.UNSAFE_WARN.SWITCH_MODE'|translate}}
                    <a (click)="requireSettings.emit(); false" href>{{'DATA.CONCEPT.UNSAFE_WARN.SETTINGS'|translate}}</a>.<br>
                    <ng-container *ngIf="!schemes || schemes.length == 0">
                        {{'DATA.CONCEPT.UNSAFE_WARN.SELECT_SCHEME'|translate}}<br>
                    </ng-container>
                    {{'DATA.CONCEPT.UNSAFE_WARN.FORCE_INIT'|translate}}
                    <a (click)="forceSafeness(); false" href>{{'DATA.CONCEPT.UNSAFE_WARN.HERE'|translate}}</a>.
                </div>
            </ng-template>

        </div>
    </div>
</div>