<div class="card vbox">
	<div class="card-header">
		<div class="btn-toolbar float-end">
			<div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
                <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-no-arrow" [title]="'COMMONS.ACTIONS.SORT_BY_X'|translate">
                    <i class="fas fa-sort-alpha-down"></i>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item d-flex align-items-center" (click)="sortByRendering()">
						<span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'COMMONS.RENDERING'|translate}}</span>
						<i *ngIf="sortBy == 'show'" class="fas fa-check float-end"></i>
					</button>
                    <button class="dropdown-item d-flex align-items-center" (click)="sortByUri()">
						<span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} URI</span>
						<i *ngIf="sortBy == 'value'" class="fas fa-check float-end"></i>
					</button>
                </div>
            </div>
			<button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
				<i class="fas fa-font"></i>
			</button>
			<button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
				<span class="fas fa-sync"></span>
			</button>
			<button *ngIf="context == 'dataPanel'" class="btn btn-light btn-sm ms-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
				<span class="fas fa-cog"></span>
			</button>
		</div>
	</div>

	<div class="card-body vbox" style="position: relative">

		<div *ngIf="schemeChangeable" class="d-flex align-items-center mb-2" style="justify-content: end;">
            <button class="btn btn-light btn-xs float-end" (click)="changeSchemeSelection()">
                <img src="./assets/images/icons/res/conceptScheme.png">
                {{'DATA.ACTIONS.SELECT_SCHEME'|translate}}
            </button>
        </div>

		<concept-tree [schemes]="workingSchemes" [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [context]="context"
			(nodeSelected)="onNodeSelected($event)" (requireSettings)="settings()">
		</concept-tree>

	</div>

	<div *ngIf="!hideSearch" class="card-footer">
		<search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
			[roles]="[panelRole]" [schemes]="workingSchemes" [context]="context" [disabled]="!viewChildTree?.safeToGo.safe">
		</search-bar>
	</div>

</div>