<div class="d-flex align-items-center">
    <div class="d-flex align-items-center tile-group" style="flex: 1; min-height: 34px;">
        <span *ngFor="let res of resources" (click)="selectResource(res)" class="tile" [ngClass]="{ selectedResource : selectedRes == res }">
            <rdf-resource [resource]="res"></rdf-resource>
            <span class="far fa-times-circle" (click)="removeResource(res)" style="cursor: pointer" onmouseover="this.className='fas fa-times-circle';" onmouseout="this.className='far fa-times-circle';"></span>
        </span>
    </div>
    <div class="btn-group ms-2" ngbDropdown placement="top-right">
        <button class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown" ngbDropdownToggle>
            <span class="fas fa-pencil-alt"></span>
        </button>
        <div class="dropdown-menu float-end" ngbDropdownMenu>
            <a class="dropdown-item" (click)="addResource()" [ngClass]="{ disabled : !projectAccessed}" [title]="(projectAccessed ? 'COMMONS.ACTIONS.SELECT_EXISTING_RESOURCE' : 'WIDGETS.VALUE_PICKER.CANNOT_PICK_FROM_NOT_ACCESSED_PROJ')|translate" style="pointer-events: all;">
                {{'COMMONS.ACTIONS.ADD'|translate}}
                <span *ngIf="!projectAccessed" class="fas fa-exclamation-triangle"></span>
            </a>
            <a class="dropdown-item" (click)="editManually()">{{'COMMONS.ACTIONS.EDIT_MANUALLY'|translate}}</a>
            <ng-container *ngIf="ordered">
                <a class="dropdown-item" [ngClass]="{disabled : !selectedRes}" (click)="addResource('before')">{{'COMMONS.ACTIONS.ADD_BEFORE'|translate}}</a>
                <a class="dropdown-item" [ngClass]="{disabled : !selectedRes}" (click)="addResource('after')">{{'COMMONS.ACTIONS.ADD_AFTER'|translate}}</a>
                <a class="dropdown-item" [ngClass]="{disabled : isMoveDisabled('before')}" (click)="moveResource('before')">{{'COMMONS.ACTIONS.MOVE_BEFORE'|translate}}</a>
                <a class="dropdown-item" [ngClass]="{disabled : isMoveDisabled('after')}" (click)="moveResource('after')">{{'COMMONS.ACTIONS.MOVE_AFTER'|translate}}</a>
            </ng-container>
        </div>
    </div>
</div>