<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'RESOURCE_VIEW.SETTINGS.RES_VIEW_SETTINGS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body overflow-auto gap-2">

    <div *ngIf="showGuidelines" class="alert alert-info mb-2" style="font-size: .9rem;">
      <h5>{{'RESOURCE_VIEW.SETTINGS.RES_VIEW_BROWSE_GUIDELINES'|translate}}</h5>
      <p>
        Resources can be opened in different ways using mouse clicks and keyboard modifiers when interacting with lists, trees, or resource references in the ResourceView
      </p>
      <h6>Opening Resources</h6>
      <ul>
        <li>
          <b>Click</b>: opens the resource in the active tab of the main tabset, replacing the current content.
        </li>
        <li>
          <b>Ctrl</b> + <b>Click</b>: the resource in a new tab within the same tabset.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b>: opens the resource in the active tab of the side tabset (if not visible, it appears), replacing the current content.
        </li>
        <li>
          <b>Shift</b> + <b>Ctrl</b> + <b>Click</b>: opens the resource in a new tab in the side tabset.
        </li>
      </ul>
      <h6>Tabs actions</h6>
      <ul>
        <li>
          <b>Middle/Wheel Click</b> on a tab: closes the tab.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b> on an active tab: duplicates it in the side tabset.
        </li>
        <li>
          <b>Shift</b> + <b>Click</b> on an inactive: moves it to the side tabset.
        </li>
      </ul>
      <p>
        Each tab maintains a history of the last 10 resources opened in it, allowing navigation back to previously viewed resources within the same tab.
      </p>

      <div class="d-flex align-items-center float-end gap-3">
        <div class="form-check">
          <input #dontShowCheck class="form-check-input" type="checkbox" id="dontShowCheck">
          <label class="form-check-label" for="dontShowCheck">{{'COMMONS.DONT_SHOW_AGAIN'|translate}}</label>
        </div>
        <button class="btn btn-sm btn-outline-info text-primary-emphasis" (click)="closeGuideline(dontShowCheck.checked)">
          <i class="fas fa-times"></i>
          <span class="ms-2">{{'COMMONS.ACTIONS.CLOSE'|translate}}</span>
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <label>{{'PREFERENCES.CLICKABLE_VALUE.CLICKABLE_VALUE_STYLE'|translate}}</label>
      </div>
      <div class="card-body">
        <clickable-value-style-editor class="d-flex flex-column" [(ngModel)]="clickableValueStyle" (ngModelChange)="onClickableStyleChanged()"></clickable-value-style-editor>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-light float-end" (click)="resetClickableStyle()" [title]="'COMMONS.ACTIONS.RESTORE_SYSTEM_DEFAULT'|translate">{{'COMMONS.ACTIONS.RESET'|translate}}</button>
      </div>
    </div>

    <section-filter [(ngModel)]="sectionFilter" [template]="template" (ngModelChange)="onSectionFilterChange()">
      <div toolbar class="btn-group btn-group-xs">
        <div class="btn-group" ngbDropdown placement="bottom-right">
          <button class="btn btn-light dropdown-toggle btn-sm" ngbDropdownToggle>
            {{'COMMONS.STATUS.DEFAULT'|translate}}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="setSectionVisibilityUserDefault()">
              {{'COMMONS.ACTIONS.SET_AS_DEFAULT_FOR_ALL_PROJECTS'|translate}}
            </button>
            <button class="dropdown-item" (click)="showSectionVisibilityDefault()">
              {{'COMMONS.ACTIONS.VIEW_DEFAULTS'|translate}}
            </button>
          </div>
        </div>
      </div>
    </section-filter>

    <div class="card">
      <div class="card-body px-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="showDatatype" (ngModelChange)="onShowDatatypeChange()">
            {{'RESOURCE_VIEW.SETTINGS.SHOW_DATATYPE_BADGE'|translate}}
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body px-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="showSectionHeader" (ngModelChange)="onShowSectionHeaderChange()">
            {{'RESOURCE_VIEW.SETTINGS.SHOW_SECTION_HEADER'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.SHOW_SECTION_HEADER_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body px-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" [(ngModel)]="hideLiteralLang" (ngModelChange)="onHideLiteralLangChange()">
            {{'RESOURCE_VIEW.SETTINGS.HIDE_LITERAL_LANG'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'RESOURCE_VIEW.SETTINGS.HIDE_LITERAL_LANG_INFO'|translate"></span>
          </label>
        </div>
      </div>
    </div>

    <div>
      <lang-value-filter-pref [(ngModel)]="langValueFilter" (ngModelChange)="onLangValueFilterChange()"
        class="vbox" style="max-height: 50vh;">
        <div footer class="card-footer text-end">
          <div class="btn-group" style="position: static;" ngbDropdown placement="top-right" container="body">
            <button class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
              {{'COMMONS.STATUS.DEFAULT'|translate}}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item" (click)="setLangValueFilterAsUserDefault()">{{'COMMONS.ACTIONS.SET_AS_DEFAULT_FOR_ALL_PROJECTS'|translate}}</button>
              <button class="dropdown-item" (click)="restoreLangValueFilterDefault()">{{'COMMONS.ACTIONS.RESTORE_DEFAULT'|translate}}</button>
            </div>
          </div>
        </div>
      </lang-value-filter-pref>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
  </div>
</div>