<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
    </div>
    <div class="modal-body">
        <resource-view [resource]="resource" [context]="context" [project]="project"></resource-view>
    </div>
    <div class="modal-footer">
        <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    </div>
</div>