<div class="card vbox">

  <div class="card-header d-flex align-items-center">

    <div style="flex: 1;">{{'ALIGNMENTS.MAPPINGS'|translate}}: {{mappingsCount}}</div>

    <div class="btn-toolbar">
      <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
        <i class="fas fa-font"></i>
      </button>
      <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()" [disabled]="loading">
        <span class="fas fa-sync"></span>
      </button>
      <div class="btn-group btn-group-sm" ngbDropdown>
        <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle [title]="'COMMONS.ACTIONS.EXPORT'|translate" [disabled]="exporting">
          <span *ngIf="!exporting" class="fas fa-download"></span>
          <div *ngIf="exporting" class="spinner-border spinner-border-sm text-info"></div>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let f of exportFormats" class="dropdown-item" (click)="exportMappings(f)">{{f.name}}</button>
        </div>
      </div>
    </div>

  </div>


  <div class="card-body d-flex overflow-auto position-relative">

    <div *ngIf="loading" class="spinner-border text-info position-absolute" style="top: 8px; left: 8px;"></div>

    <div *ngIf="!loading && annotatedMappings" class="table-responsive w-100">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>{{sourceProject.getLabel()}}</th>
            <th nowrap>
              {{'MODELS.RESOURCE.PREDICATE'|translate}}
              <div class="btn-group btn-group-xs ms-1" ngbDropdown placement="bottom-right" container="body">
                <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
                  <span class="fas fa-filter" [ngClass]="{ 'text-info': filterPredicates.length > 0 }"></span>
                </button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <ng-container *ngIf="filterPredicates?.length > 0">
                    <a *ngFor="let p of filterPredicates" class="dropdown-item d-flex align-items-center">
                      <rdf-resource [resource]="p" style="flex: 1;"></rdf-resource>
                      <button class="btn btn-light btn-sm" (click)="removeFilterPredicate(p)">
                        <span class="fas fa-minus"></span>
                      </button>
                    </a>
                    <div class="dropdown-divider"></div>
                  </ng-container>
                  <a class="dropdown-item" (click)="pickFilterPredicate()">
                    {{'COMMONS.ACTIONS.PICK_PREDICATE'|translate}}...
                  </a>
                  <a class="dropdown-item" (click)="addFilterPredicateManually()">
                    {{'COMMONS.ACTIONS.ADD_MANUALLY'|translate}}...
                  </a>
                </div>
              </div>
            </th>
            <th>{{linkset.getTargetDatasetShow(datasetRendering)}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of annotatedMappings">
            <td>
              <rdf-resource [resource]="m.getLeft()" [rendering]="rendering" (click)="openSourceResource(m.getLeft())" class="clickable"></rdf-resource>
            </td>
            <td>
              <span style="font-size: 12px;">{{m.getMiddle().getAttribute('qname')}}</span>
            </td>
            <td>
              <rdf-resource [resource]="m.getRight()" [rendering]="rendering" (click)="openTargetResource(m.getRight())" class="clickable"></rdf-resource>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-flex align-items-center" style="gap: 8px;">
      <div style="flex: 1">
        <alignments-searchbar *ngIf="sourceProject" [sourceProject]="sourceProject" (search)="onSearch($event)" [disabled]="!annotatedMappings || loading"></alignments-searchbar>
      </div>
      <fieldset class="d-flex align-items-center" [disabled]="!annotatedMappings || annotatedMappings?.length == 0">
        <div class="btn-group btn-group-sm">
          <div class="btn-group btn-group-sm mx-2">
            <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="prevPage()" [disabled]="page==0 || loading">
              <span class="fas fa-caret-left"></span>
            </button>
            <button class="btn btn-light" style="cursor: auto" disabled>
              <span class="text-nowrap">{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totPage}}</span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="nextPage()" [disabled]="page>=totPage-1 || loading">
              <span class="fas fa-caret-right"></span>
            </button>
          </div>
        </div>

        <div class="input-group input-group-sm">
          <select class="form-select" [(ngModel)]="pageSelected" [disabled]="pageSelectorOpts.length == 0">
            <option *ngFor="let p of pageSelectorOpts" [ngValue]="p">{{p+1}}</option>
          </select>
          <button class="btn btn-outline-secondary" (click)="goToPage()" [disabled]="pageSelected == null">{{'COMMONS.ACTIONS.GO'|translate}}</button>
        </div>
      </fieldset>
    </div>
  </div>
</div>