<div class="vbox my-3">
  <div class="container">
    <h1>{{'ALIGNMENTS.ALIGNMENTS'|translate}}</h1>

    <div class="mb-2">
      <div class="hbox" style="align-items: center;">
        <label style="white-space: nowrap">{{'ALIGNMENTS.SOURCE_DATASET'|translate}}:</label>
        <select class="form-select form-select-sm mx-2" [(ngModel)]="selectedSourceProject" (ngModelChange)="onSourceProjectChange()" [disabled]="loading">
          <option *ngFor="let p of sourceProjects" [ngValue]="p">{{p.getLabel()}}</option>
        </select>
        <button class="btn btn-sm btn-light" (click)="refreshProfile()" [title]="'ALIGNMENTS.ACTIONS.REFRESH_DATASET_PROFILE'|translate" [disabled]="!selectedSourceProject || loading">
          <i class="fas fa-chart-bar"></i>
        </button>
      </div>
    </div>

    <div class="mb-2">
      <div *ngFor="let a of aspects" class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="aspectRadio" [(ngModel)]="activeAspect" [value]="a" [disabled]="loading">
        <label class="form-check-label">{{a}}</label>
      </div>
    </div>

    <div *ngIf="loading" class="spinner-border text-info"></div>

  </div>

  <div *ngIf="activeAspect == aspectTable" class="container vbox">
    <alignments-table *ngIf="datasetIRI" [sourceProject]="selectedSourceProject" [dataset]="datasetIRI.getValue()"></alignments-table>
  </div>

  <div *ngIf="activeAspect == aspectGraph" class="container-fluid vbox">
    <alignment-graph-panel *ngIf="datasetIRI" [sourceProject]="selectedSourceProject" [dataset]="datasetIRI"></alignment-graph-panel>
  </div>

</div>