<div class="card vbox">
    <div class="card-header">
        <label style="flex: 1;">{{'CUSTOM_VIEWS.CUSTOM_VIEWS'|translate}}:</label>
    </div>
    <div class="card-body vbox">

        <div class="card card-alt vbox">
            <div class="card-header d-flex align-items-center">
                <label style="flex: 1">{{'CUSTOM_VIEWS.VIEWS'|translate}}:</label>
                <div class="btn-toolbar">
                    <div class="btn-group btn-group-sm">
                        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createCustomView()" [disabled]="!createCustomViewAuthorized">
                            <span class="fas fa-plus"></span>
                        </button>
                        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteCustomView()" [disabled]="!selectedCustomView || !deleteCustomViewAuthorized">
                            <span class="fas fa-minus"></span>
                        </button>
                        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EDIT'|translate" (click)="editCustomView()" [disabled]="!selectedCustomView || !modifyCustomViewAuthorized">
                            <span class="fas fa-pencil-alt"></span>
                        </button>
                        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPORT'|translate" (click)="exportCustomView()" [disabled]="!selectedCustomView">
                            <span class="fas fa-download"></span>
                        </button>
                        <button class="btn btn-light" [title]="'COMMONS.ACTIONS.IMPORT'|translate" (click)="importCustomView()" [disabled]="!createCustomViewAuthorized">
                            <span class="fas fa-upload"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-sm table-borderless table-hoverable">
                    <thead style="border-bottom: 1px solid #ddd;">
                        <tr>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let w of customViews" (click)="selectedCustomView = w" [ngClass]="{ 'table-primary': w == selectedCustomView }">
                            <td>{{w.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card card-alt vbox mt-2">
            <div class="card-header d-flex align-items-center">
                <label style="flex: 1">{{'CUSTOM_VIEWS.PROPERTY_ASSOCIATIONS'|translate}}:</label>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-light" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createAssociation()" [disabled]="!createAssociationAuthorized">
                        <span class="fas fa-plus"></span>
                    </button>
                    <button class="btn btn-light" [title]="'COMMONS.ACTIONS.DELETE'|translate" (click)="deleteAssociation()" [disabled]="!selectedAssociation || !deleteAssociationAuthorized">
                        <span class="fas fa-minus"></span>
                    </button>
                </div>
            </div>
            <div class="card-body vbox scrollableContainer">
                <table class="table table-sm table-borderless table-hoverable">
                    <thead style="border-bottom: 1px solid #ddd;">
                        <tr>
                            <th>{{'DATA.PROPERTY.PROPERTY'|translate}}</th>
                            <th>{{'CUSTOM_VIEWS.CUSTOM_VIEW'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of associations" (click)="selectedAssociation = a" [ngClass]="{ 'table-primary': a == selectedAssociation }">
                            <td>{{a.property.getIRI()}}</td>
                            <td>{{a.customViewRef.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>