<div class="card vbox">
    <div class="card-header">
        <label>{{'CONTRIBUTIONS.MANAGER.CONTRIBUTION_MANAGER'|translate}}</label>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-sm table-bordered" style="font-size: .85rem;">
            <thead class="thead-light">
                <tr>
                    <th rowspan="2" class="text-center align-middle">{{'CONTRIBUTIONS.MANAGER.SUBMITTED'|translate}}</th>
                    <th colspan="3" class="text-center">{{'CONTRIBUTIONS.CONTRIBUTOR'|translate}}</th>
                    <th colspan="2" class="text-center">{{'DATASETS.DATASET'|translate}}</th>
                    <th rowspan="2" class="text-center align-middle">{{'CONTRIBUTIONS.MANAGER.CONTRIBUTION_TYPE'|translate}}</th>
                    <th rowspan="2" class="text-center align-middle">{{'COMMONS.DETAILS'|translate}}</th>
                    <th rowspan="2" class="text-center align-middle">{{'CONTRIBUTIONS.ACTIONS.APPROVE'|translate}}</th>
                </tr>
                <tr>
                    <th class="text-center">{{'USER.ATTR.GIVEN_NAME'|translate}}</th>
                    <th class="text-center" nowrap>{{'USER.ATTR.FAMILY_NAME'|translate}}</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">{{'COMMONS.NAME'|translate}}</th>
                    <th class="text-center">{{'MODELS.PROJECT.BASE_URI'|translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of contributions" class="clickable">
                    <td class="text-center align-middle">{{c['date']}}</td>
                    <td class="text-center align-middle">{{c.contributorName}}</td>
                    <td class="text-center align-middle">{{c.contributorLastName}}</td>
                    <td class="text-center align-middle">{{c.contributorEmail}}</td>
                    <td class="text-center align-middle">{{c.resourceName}}</td>
                    <td class="text-center align-middle">{{c.baseURI.toNT()}}</td>
                    <td class="text-center align-middle">{{c.type}}</td>
                    <td class="text-center align-middle">
                        <button class="btn btn-sm btn-outline-info" (click)="showDetails(c)">
                            <span class="fas fa-ellipsis-h"></span>
                        </button>
                    </td>
                    <td class="text-center align-middle" style="white-space: nowrap;">
                        <button class="btn btn-sm btn-success" style="width: 30px;" (click)="approveContribution(c)" [title]="'CONTRIBUTIONS.ACTIONS.APPROVE_CONTRIBUTION'|translate" [disabled]="c['loading']">
                            <span class="fas fa-check"></span>
                        </button>
                        <button class="btn btn-sm btn-danger ms-1" style="width: 30px;" (click)="rejectContribution(c)" [title]="'CONTRIBUTIONS.ACTIONS.REJECT_CONTRIBUTION'|translate" [disabled]="c['loading']">
                            <span class="fas fa-times"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="loading" class="spinner-border text-info"></div>
    </div>
</div>