<div class="card vbox">
  <div class="card-header d-flex">
    <div class="btn-toolbar" style="flex: 1;">
      <button class="btn btn-sm btn-light" (click)="addNode()" [title]="'GRAPHS.ACTIONS.ADD_NODE'|translate">
        <span class="fas fa-plus"></span>
      </button>
    </div>
    <div class="btn-toolbar float-end">
      <button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" (click)="rendering=!rendering" [title]="'COMMONS.RENDERING'|translate">
        <i class="fas fa-font"></i>
      </button>
      <button class="btn btn-light btn-sm ms-1" (click)="snapshot()" [title]="'GRAPHS.ACTIONS.EXPORT_SNAPSHOT'|translate">
        <i class="fas fa-camera"></i>
      </button>
      <button class="btn btn-light btn-sm ms-1" [title]="'GRAPHS.ACTIONS.FIX_NODES_POSITION'|translate" (click)="isLock? unfixAll() : fixAll()" [ngClass]="{ active: isLock }">
        <span class="fas fa-lock"></span>
      </button>
      <button class="btn btn-light btn-sm ms-1" (click)="openSettings()" [title]="'COMMONS.SETTINGS'|translate">
        <span class="fas fa-cog"></span>
      </button>
    </div>
  </div>
  <div class="card-body hbox">
    <!-- <data-graph class="vbox" [graph]="graph" [rendering]="rendering" [fixed]="isLock" (elementSelected)="onElementSelected($event)"></data-graph> -->
    <data-graph class="vbox" [graph]="graph" [rendering]="rendering" [fixed]="isLock" (nodeSelected)="onNodeSelected($event)" (linkSelected)="onLinkSelected($event)"></data-graph>

    <div class="vbox ms-1" style="flex: initial; width: 300px;">
      <div class="card vbox">
        <div class="card-header" style="min-height: 41px;">
          <div *ngIf="selectedNode" class="btn-toolbar float-end">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-light" [ngClass]="{ active: selectedNode.fixed }" [title]="'GRAPHS.ACTIONS.FIX_NODE_POSITION'|translate" (click)="fixNode()" [disabled]="!selectedNode">
                <span class="fas fa-lock"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox">
          <resource-details-panel *ngIf="selectedNode?.res || selectedLink?.res" [resource]="selectedNode?.res ?? selectedLink?.res"></resource-details-panel>
        </div>
      </div>

      <force-control-panel [(ngModel)]="forces" (ngModelChange)="onForceChange()" class="mt-1"></force-control-panel>

    </div>
  </div>
</div>