<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate}}</label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="resourceName" [placeholder]="'CONTRIBUTIONS.FORM.COMMONS.RESOURCE_NAME'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'CONTRIBUTIONS.FORM.COMMONS.HOME_PAGE'|translate}} <span>*</span></label>
  <div class="col-sm-10">
    <input class="form-control form-control-sm" [(ngModel)]="homepage" [placeholder]="'CONTRIBUTIONS.FORM.COMMONS.HOME_PAGE'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.DESCRIPTION'|translate}}</label>
  <div class="col-sm-10">
    <textarea class="form-control form-control-sm" [(ngModel)]="description" [placeholder]="'COMMONS.DESCRIPTION'|translate"></textarea>
  </div>
</div>
<div class="form-check">
  <label class="form-check-label form-check-label-sm">
    <input class="form-check-input" type="checkbox" [(ngModel)]="owner">
    {{'CONTRIBUTIONS.FORM.STABLE.IM_OWNER'|translate}}
  </label>
</div>

<hr class="separator">

<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
  <div class="col-sm-10 d-flex align-items-center">
    <input class="form-control form-control-sm" [(ngModel)]="baseURI" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
  </div>
</div>
<div class="row mb-2">
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.MODEL'|translate}}</label>
  <div class="col-sm-4">
    <select class="form-select form-select-sm" [(ngModel)]="selectedSemModel">
      <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
    </select>
  </div>
  <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
  <div class="col-sm-4">
    <select class="form-select form-select-sm" [(ngModel)]="selectedLexModel">
      <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
    </select>
  </div>
</div>

<div class="card">
  <div class="card-header">
    {{'CONTRIBUTIONS.FORM.COMMONS.METADATA'|translate}}
    <button class="btn btn-xs btn-info float-end" (click)="discoverMetadata()" [disabled]="!baseURI || loadingMetadata">
      {{'COMMONS.ACTIONS.DISCOVER'|translate}}
      <span *ngIf="loadingMetadata" class="spinner-border spinner-border-sm"></span>
    </button>
  </div>

  <div class="card-body">
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.IDENTITY'|translate}} <span>*</span></label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" [(ngModel)]="identity" [placeholder]="'DATASETS.ATTR.IDENTITY_IRI'|translate">
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.DEREF_SYSTEM'|translate}} <span>*</span></label>
      <div class="col-sm-10">
        <select class="form-select form-select-sm" [(ngModel)]="dereferenciationSystem">
          <option *ngFor="let opt of dereferenciationOpts" [ngValue]="opt.uri">{{opt.show}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.SPARQL_ENDPOINT'|translate}} <span>*</span></label>
      <div class="col-sm-10 d-flex">
        <input class="form-control form-control-sm" [(ngModel)]="sparqlEndpoint" [placeholder]="'DATASETS.ATTR.SPARQL_ENDPOINT_URL'|translate">
        <div class="form-check form-check-inline ms-2">
          <input class="form-check-input" type="checkbox" [(ngModel)]="sparqlNoAggregation" [disabled]="!sparqlEndpoint">
          <label class="form-check-label text-nowrap">{{'CONTRIBUTIONS.FORM.COMMONS.NO_AGGREGATION'|translate}}</label>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label col-form-label-sm">{{'DATASETS.ATTR.URI_SPACE'|translate}} <span>*</span></label>
      <div class="col-sm-10">
        <input class="form-control form-control-sm" [(ngModel)]="uriSpace" [placeholder]="'DATASETS.ATTR.URI_SPACE'|translate">
      </div>
    </div>
  </div>

</div>