<table class="table table-sm table-borderless">
  <colgroup>
    <col style="width: 1%;">
    <col style="width: 1%;">
    <col>
  </colgroup>
  <tbody>
    <tr>
      <td></td>
      <td nowrap>
        <label>{{'DATA.COMMONS.VISUALIZATION_MODE.MODE'|translate}}:</label>
      </td>
      <td>
        <select class="form-select form-select-sm" [(ngModel)]="visualization" (ngModelChange)="onModelChange()" [disabled]="!allowVisualizationChange && !administration">
          <option *ngFor="let vm of visualizationModes" [value]="vm.value">{{vm.labelTranslationKey|translate}}</option>
        </select>
      </td>
    </tr>
    <tr *ngIf="visualization == 'hierarchyBased'">
      <td>
        <span class="fas fa-info-circle" [title]="'DATA.CONCEPT.SETTINGS.TOP_CONCEPTS_LIMIT_INFO'|translate"></span>
      </td>
      <td nowrap>
        <label>{{'DATA.CONCEPT.SETTINGS.TOP_CONCEPTS_LIMIT'|translate}}:</label>
      </td>
      <td>
        <input class="form-control form-control-sm no-spinners" type="number" min="1" [(ngModel)]="safeToGoLimit" (ngModelChange)="onModelChange()">
      </td>
    </tr>

    <tr *ngIf="administration">
      <td>
        <span class="fas fa-info-circle" [title]="'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_VISUALIZATION_CHANGE_INFO'|translate"></span>
      </td>
      <td nowrap>
        <label>{{'ADMINISTRATION.DATASETS.SETTINGS.ALLOW_VISUALIZATION_CHANGE'|translate}}:</label>
      </td>
      <td>
        <div class="form-check form-switch" (click)="toggleAllowVisualizationChange()">
          <input class="form-check-input" type="checkbox" [ngModel]="allowVisualizationChange">
        </div>
      </td>
    </tr>
  </tbody>
</table>