<div class="card vbox">
  <div class="card-body vbox p-0">

    <ul class="nav nav-tabs">
      <li *ngFor="let t of tabs" class="nav-item" (mousedown)="onTabMouseDown($event, t)">
        <a class="nav-link" (click)="activeTab = t" [ngClass]="{ active: activeTab == t }">
          <div class="d-flex align-items-center">
            <div class="d-inline-block" style="height: 20px;">
              <rdf-resource [resource]="t.resource" class="shift-cursor"></rdf-resource>
            </div>
            <span class="ms-2" (click)="closeTab(t)">
              <i class="fas fa-times-circle clickable"></i>
            </span>
          </div>
        </a>
      </li>
      <li class="nav-item nav-item-no-border">
        <a class="nav-link" (click)="closeAll()" [title]="'COMMONS.ACTIONS.CLOSE_ALL'|translate">
          <span class="fas fa-times"></span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <resource-view-tab *ngFor="let t of tabs" 
        class="tab-pane" [ngClass]="{ active: activeTab == t }"
        [resource]="t.resource" (update)="onResourceUpdate($event, t)" 
        (valueClick)="onValueClick($event)"></resource-view-tab>
    </div>

  </div>
</div>