<div class="card vbox">
    <div class="card-header d-flex align-items-center justify-content-between">
        <label style="flex: 1;">{{'PREFERENCES.RES_VIEW_SECTIONS_VISIBILITY.SECTIONS_VISIBILITY'|translate}}</label>
        <ng-content select="[toolbar]"></ng-content>
    </div>
    <div class="card-body vbox">

        <!-- Info box provided by parent as content of this component -->
        <ng-content select="[info]"></ng-content>

        <div class="hbox">

            <div class="card vbox me-1">
                <div class="card-header">
                    <label>{{'RESOURCE_VIEW.SECTIONS.FILTER.RESOURCE_TYPES'|translate}}</label>
                </div>
                <div class="card-body scrollableContainer">
                    <div *ngFor="let rps of roleSectionsStructs">
                        <div class="listItem" (click)="selectRoleSectionsStruct(rps)"
                            [ngClass]="{ active: rps == selectedRoleSectionsStruct }">
                            {{rps.role.show}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card vbox">
                <div class="card-header">
                    <div class="hbox align-items-center">
                        <label style="flex: 1;">{{'RESOURCE_VIEW.SECTIONS.SECTIONS'|translate}}</label>
                        <span *ngIf="areAllUnchecked(selectedRoleSectionsStruct)" class="fas fa-exclamation-triangle"
                            [title]="'GRAPHS.SETTINGS.ALL_SECTIONS_HIDDEN_WARN'|translate">
                        </span>
                        <div class="btn-toolbar ms-1">
                            <div class="btn-group btn-group-xs">
                                <div *ngIf="!readonly" class="btn-group btn-group-xs" ngbDropdown placement="bottom-right">
                                    <button class="btn btn-outline-info dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" [title]="'COMMONS.ACTIONS.CHECK'|translate" ngbDropdownToggle>
                                        <span class="far fa-check-square"></span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button class="dropdown-item" (click)="checkAll(selectedRoleSectionsStruct, true)">{{'COMMONS.ACTIONS.CHECK_ALL'|translate}}</button>
                                        <button class="dropdown-item" [ngClass]="{ disabled: !selectedSection }" (click)="checkInAllRoles(true)">{{'RESOURCE_VIEW.SECTIONS.FILTER.CHECK_SECTION_FOR_ALL_TYPES'|translate}}</button>
                                    </div>
                                </div>
                                <div *ngIf="!readonly" class="btn-group btn-group-xs" ngbDropdown placement="bottom-right">
                                    <button class="btn btn-outline-info dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" [title]="'COMMONS.ACTIONS.UNCHECK'|translate" ngbDropdownToggle>
                                        <span class="far fa-square"></span>
                                    </button>
                                    <div class="dropdown-menu" ngbDropdownMenu>
                                        <button class="dropdown-item" (click)="checkAll(selectedRoleSectionsStruct, false)">{{'COMMONS.ACTIONS.UNCHECK_ALL'|translate}}</button>
                                        <button class="dropdown-item" [ngClass]="{ disabled: !selectedSection }" (click)="checkInAllRoles(false)">{{'RESOURCE_VIEW.SECTIONS.FILTER.UNCHECK_SECTION_FOR_ALL_TYPES'|translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body scrollableContainer">
                    <div *ngFor="let section of selectedRoleSectionsStruct?.sections">
                        <div class="listItem d-flex align-items-center" (click)="selectSection(section)"
                            [ngClass]="{ active: section == selectedSection }">
                            <input type="checkbox" [(ngModel)]="section.checked" (ngModelChange)="updatePref()" [disabled]="readonly">
                            <span style="flex: 1;" class="ms-1">{{section.showTranslationKey|translate}}</span>
                            <span *ngIf="section.checked" class="fas fa-eye"></span>
                            <span *ngIf="!section.checked" class="fas fa-eye-slash"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div *ngIf="!readonly" class="card-footer">
        <button class="btn btn-sm btn-light float-end" (click)="reset()">{{'COMMONS.ACTIONS.RESET'|translate}}</button>
    </div>

</div>