<div class="card vbox">
    <div class="card-body vbox">
        <div #scrollableContainer class="scrollableContainer p-2" (scroll)="onScroll()">
            <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>

            <div *ngIf="visualizationMode == 'searchBased' && !nodes" class="alert alert-warning mb-1">
                {{'DATA.LEX_ENTRY.USE_SEARCH_MSG'|translate}}
            </div>

            <ng-container *ngIf="!safeToGo.safe && visualizationMode == 'indexBased'; then unsafetyBlock else safetyBlock"></ng-container>

            <ng-template #safetyBlock>
                <ng-container *ngFor="let n of nodes; let idx = index;">
                    <list-node *ngIf="idx < nodesLimit && (!n.isDeprecated() || showDeprecated && n.isDeprecated())"
                        [node]="n" [rendering]="rendering" [sortBy]="sortBy" [context]="context" (nodeSelected)="onNodeSelected($event)">
                    </list-node>
                </ng-container>
            </ng-template>

            <ng-template #unsafetyBlock>
                <div *ngIf="!loading" class="alert alert-warning m-2" style="margin: 4px;">
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.ELEMENT_COUNT'|translate:translationParam}}
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.PERFORMANCE_ISSUE'|translate}}
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.IT_IS_RECOMMENDED'|translate}}
                    <ng-container *ngIf="unsafeIndexOneChar">
                        {{'DATA.LEX_ENTRY.UNSAFE_WARN.CHANGE_INDEX_LENGTH'|translate}}
                    </ng-container>
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.SWITCH_MODE'|translate}}
                    <a (click)="requireSettings.emit(); false" href>{{'DATA.LEX_ENTRY.UNSAFE_WARN.SETTINGS'|translate}}</a>.<br>
                    <ng-container *ngIf="!lexicon">
                        {{'DATA.LEX_ENTRY.UNSAFE_WARN.SELECT_LEXICON'|translate}}<br>
                    </ng-container>
                    {{'DATA.LEX_ENTRY.UNSAFE_WARN.FORCE_INIT'|translate}}
                    <a (click)="forceSafeness(); false" href>{{'DATA.LEX_ENTRY.UNSAFE_WARN.HERE'|translate}}</a>.
                </div>
            </ng-template>

        </div>
    </div>
</div>