<div class="card vbox">
  <div class="card-header">
    <div class="btn-toolbar float-end">
      <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
        <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-no-arrow" [title]="'COMMONS.ACTIONS.SORT_BY_X'|translate">
          <i class="fas fa-sort-alpha-down"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item d-flex align-items-center" (click)="sortByRendering()">
            <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'COMMONS.RENDERING'|translate}}</span>
            <i *ngIf="sortBy == 'show'" class="fas fa-check float-end"></i>
          </button>
          <button class="dropdown-item d-flex align-items-center" (click)="sortByUri()">
            <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} URI</span>
            <i *ngIf="sortBy == 'value'" class="fas fa-check float-end"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
        <i class="fas fa-font"></i>
      </button>
      <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
        <span class="fas fa-sync"></span>
      </button>
      <button *ngIf="context == 'dataPanel'" class="btn btn-light btn-sm ms-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
        <span class="fas fa-cog"></span>
      </button>
    </div>
  </div>

  <div class="card-body vbox">

    <div *ngIf="lexiconChangeable" class="pb-1" style="display: flex; align-items: center">
      <span class="mx-1" style="white-space: nowrap;">{{'DATA.LEXICON.LEXICON'|translate}}:</span>
      <select class="form-select form-select-sm" [(ngModel)]="workingLexicon" (ngModelChange)="onLexiconSelectionChange()">
        <option *ngFor="let l of lexiconList" [ngValue]="l">{{getLexiconRendering(l)}}</option>
      </select>
    </div>

    <div *ngIf="visualizationMode == 'indexBased'" class="pb-1" style="display: flex; align-items: center">
      <select class="form-select form-select-sm" [(ngModel)]="firstDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
        <option *ngFor="let i of alphabet">{{i}}</option>
      </select>
      <ng-container *ngIf="indexLength>1">
        <span class="mx-1" style="font-weight: bold;">&gt;</span>
        <select class="form-select form-select-sm" [(ngModel)]="secondDigitIndex" (ngModelChange)="onDigitChange()" style="width: initial">
          <option value=" ">{{firstDigitIndex}}⎵</option>
          <option *ngFor="let i of alphabet" [value]="i">{{firstDigitIndex}}{{i}}</option>
        </select>
      </ng-container>
    </div>

    <lexical-entry-list [lexicon]="workingLexicon" [index]="index" [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [context]="context"
      (nodeSelected)="onNodeSelected($event)" (requireSettings)="settings()">
    </lexical-entry-list>
  </div>

  <div *ngIf="!hideSearch" class="card-footer">
    <search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
      [roles]="[panelRole]" [context]="context" [lexicon]="lexicon" [disabled]="!viewChildList?.safeToGo.safe"></search-bar>
  </div>
</div>