<div class="d-flex align-items-center">
  <label class="me-1" style="white-space: nowrap;">
    {{'DATA.CLASS.SETTINGS.ROOT_CLASS'|translate}}:
  </label>
  <input-editable *ngIf="rootClass" [value]="rootClass.getValue().getIRI()" (valueEdited)="onManualRootClassEdit($event)" style="flex: 1;"></input-editable>
  <button class="btn btn-sm btn-outline-info ms-1" (click)="changeClass()">
    <img src="./assets/images/icons/res/class.png" />
  </button>
</div>

<div class="card vbox mt-2">
  <div class="card-header d-flex align-items-center">
    <label style="flex: 1">
      {{'DATA.CLASS.SETTINGS.SUBCLASS_FILTER'|translate}}
      <span class="fas fa-info-circle" [title]="'DATA.CLASS.SETTINGS.SUBCLASS_FILTER_INFO'|translate"></span>
    </label>
    <div class="form-check form-switch" [title]="'DATA.CLASS.SETTINGS.FILTER_ENABLED'|translate">
      <input class="form-check-input" type="checkbox" role="switch" id="filterSwitch" [(ngModel)]="filterEnabled">
      <label class="form-check-label" for="filterSwitch">
        <span class="fas fa-filter"></span>
      </label>
    </div>
  </div>
  <div class="card-body hbox">
    <div class="card" style="flex: 1;">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1">{{'DATA.CLASS.CLASSES'|translate}}</label>
        <div class="btn-toolbar">
          <button class="btn btn-light btn-sm" [title]="'COMMONS.RENDERING'|translate" (click)="renderingClasses = !renderingClasses" [ngClass]="{active: renderingClasses}">
            <span class="fas fa-font"></span>
          </button>
          <div class="btn-group btn-group-sm ms-2">
            <button class="btn btn-light" (click)="addFilter()" [title]="'COMMONS.ACTIONS.ADD'|translate">
              <span class="fas fa-plus"></span>
            </button>
            <button class="btn btn-light" (click)="removeFilter()" [title]="'COMMONS.ACTIONS.REMOVE'|translate" [disabled]="!selectedFilteredClass">
              <span class="fas fa-minus"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body scrollableContainer" style="min-height: 100px;">
        <div *ngFor="let item of filterMapRes | keyvalue" class="listItem d-flex" (click)="selectFilteredClass(item.value.cls)"
          [ngClass]="{ active: item.value.cls == selectedFilteredClass }">
          <rdf-resource [resource]="item.value.cls" [rendering]="renderingClasses"></rdf-resource>
        </div>
      </div>
    </div>

    <div class="card ms-1" style="flex: 1;">
      <div class="card-header d-flex align-items-center">
        <label style="flex: 1">{{'DATA.CLASS.SETTINGS.FILTERED_SUBCLASSES'|translate}}</label>
        <div class="btn-toolbar">
          <button class="btn btn-light btn-sm" [title]="'COMMONS.RENDERING'|translate" (click)="renderingFilter = !renderingFilter"
            [ngClass]="{active: renderingFilter}">
            <span class="glyphicon glyphicon-font"></span>
          </button>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light" (click)="checkAllClasses(true)" [title]="'COMMONS.ACTIONS.CHECK_ALL'|translate" [disabled]="!selectedFilteredClass">
              <span class="far fa-check-square"></span>
            </button>
            <button class="btn btn-light" (click)="checkAllClasses(false)" [title]="'COMMONS.ACTIONS.UNCHECK_ALL'|translate" [disabled]="!selectedFilteredClass">
              <span class="far fa-square"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body scrollableContainer">
        <div *ngFor="let f of getFilterSubClasses()" class="listItem d-flex align-items-center">
          <input type="checkbox" class="me-1" [(ngModel)]="f.checked" [disabled]="f.disabled" (ngModelChange)="onModelChange()">
          <rdf-resource [resource]="f.resource" [rendering]="renderingFilter" style="flex: 1;"></rdf-resource>
          <span *ngIf="f.checked" class="fas fa-eye"></span>
          <span *ngIf="!f.checked" class="fas fa-eye-slash"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-check mt-2">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" [(ngModel)]="showInstances" (ngModelChange)="onModelChange()">
    {{'DATA.CLASS.SETTINGS.SHOW_INSTANCES_NUMBER'|translate}}
  </label>
</div>