<div *ngIf="loading" class="spinner-border text-info"></div>

<div class="card vbox">
    <div class="card-body table-responsive">
        <table class="table table-striped table-sm table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="d-flex align-items-center">
                            {{'DATASETS.DATASET'|translate}}
                            <button class="btn btn-xs btn-light ms-2" [ngClass]="{ active: datasetRendering }"
                                (click)="switchRendering()" [title]="'COMMONS.RENDERING'|translate">
                                <i class="fas fa-font"></i>
                            </button>
                        </div>
                    </th>
                    <th>
                        <div class="d-flex align-items-center">
                            {{'ALIGNMENTS.ALIGNMENTS'|translate}}
                            <button class="btn btn-xs btn-light ms-2" [ngClass]="{ active: showPercentage }"
                                (click)="showPercentage = !showPercentage" [title]="'ALIGNMENTS.ACTIONS.SHOW_PERCENTAGE'|translate">
                                <i class="fas fa-percent"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let l of linksets" (click)="showMappings(l)" [ngClass]="{ clickable: allowExplainMapping }">
                    <td>{{l.getTargetDatasetShow(datasetRendering)}}</td>
                    <td>
                        <ng-container *ngIf="!showPercentage">{{l.linkCount}}</ng-container>
                        <ng-container *ngIf="showPercentage">{{l.linkPercentage}}%</ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>