<div class="card d-flex flex-column flex-fill">

    <div class="card-header">
        <label>{{'SETTINGS.DEFAULTS.PROJECT'|translate}}</label>
    </div>

    <div class="card-body d-flex flex-column overflow-auto" style="gap: 8px;">

        <div info class="alert alert-info">
            {{'SETTINGS.DEFAULTS.PROJECT_INFO'|translate}}
        </div>
        

        <div class="card mt-2">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="renderPredCheck" type="checkbox" [(ngModel)]="renderPredicates" (ngModelChange)="onRenderPredicateChange()">
                        <label class="form-check-label" for="renderPredCheck">
                            {{'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS'|translate}}
                            <span class="fas fa-info-circle ms-1" [title]="'PREFERENCES.PRED_LABEL_MAPPING.RENDER_LABELS_INFO'|translate">
                            </span>
                        </label>
                    </div>
                    <button class="btn btn-sm btn-light ms-2" (click)="editPredicateLabels()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
                        <span class="fas fa-pencil-alt"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>