<span [ngSwitch]="dataset.nature" class="dataset-nature-icon" [title]="dataset.nature">
  <img *ngSwitchCase="'PROJECT'" src="./assets/images/icons/sv_16x16.png" height="16px" width="16px">
  <img *ngSwitchCase="'RDF4J_REPOSITORY'" src="./assets/images/icons/rdf4j_16x16.png" height="16px" width="16px">
  <img *ngSwitchCase="'GRAPHDB_REPOSITORY'" src="./assets/images/icons/gdb_16x16.png" height="16px" width="16px">
  <img *ngSwitchCase="'SPARQL_ENDPOINT'" src="./assets/images/icons/res/ontology.png" height="16px" width="16px">
  <span *ngSwitchCase="'ABSTRACT'" class="fas fa-folder-open"></span>
  <span *ngSwitchCase="'MIX'" class="fas fa-layer-group"></span>
</span>
<b *ngIf="dataset.titles.length > 0" class="text-nowrap ms-1">{{title.getLabel()}}:</b>
<span class="ms-1">{{dataset.uriSpace}}</span>
<span *ngIf="dataset.role" class="ms-2">
  <ng-container [ngSwitch]="dataset.role">
    <span *ngSwitchCase="'MASTER'" class="badge bg-primary" title="Master">M</span>
    <span *ngSwitchCase="'LOD'" class="badge bg-success" title="Lod">L</span>
    <span *ngSwitchCase="'VERSION'" class="badge bg-secondary" title="Version">V</span>
  </ng-container>
</span>