.narrowCol {
    width: 1%;
}

.issuedCol,
.modifiedCol {
    width: 200px;
}

mdr-tree-node {
    /* In order to not brake style of table since mdr-tree-node contains tr of parent table */
    display: contents;
}

td {
  /* 
  I don't know why, despite display:contents above, 
  this rule
  .table>:not(caption)>*>* {
  which define the padding of tdù
  is not matched and thus applied 
  */
  padding: .5rem .5rem;
}

// without this rule, table-primary style is not applied to nested mdr-tree-node
.table-primary,
.table-primary>td,
.table-primary>th {
  background-color: var(--bs-table-bg);
}

.dropdown-header {
    /* color: black; */
    font-size: 1rem;
}

a.dropdown-header:hover {
    background-color: #e9ecef !important;
    text-decoration: none;
}