<resizable-layout orientation="V" [mainFlex]="8">
  <class-tree-panel main [context]="context" (nodeSelected)="onClassSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)"></class-tree-panel>
  <instance-list-panel secondary [cls]="selectedClass" [context]="context" (nodeSelected)="onInstanceSelected($event)" (advancedSearchResult)="handleAdvSearchResult($event)"></instance-list-panel>
</resizable-layout>