<div class="card vbox">
  <div class="card-header">
    <div class="btn-toolbar float-end">
      <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
        <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-no-arrow" [title]="'COMMONS.ACTIONS.SORT_BY_X'|translate">
          <i class="fas fa-sort-alpha-down"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item d-flex align-items-center" (click)="sortByRendering()">
            <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'COMMONS.RENDERING'|translate}}</span>
            <i *ngIf="sortBy == 'show'" class="fas fa-check float-end"></i>
          </button>
          <button class="dropdown-item d-flex align-items-center" (click)="sortByUri()">
            <span style="flex: 1">{{'COMMONS.ACTIONS.SORT_BY_X'|translate}} URI</span>
            <i *ngIf="sortBy == 'value'" class="fas fa-check float-end"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
        <i class="fas fa-font"></i>
      </button>

      <div *ngIf="context == 'dataPanel'" class="btn-group btn-group-sm dropup ms-1" ngbDropdown placement="bottom-right">
        <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
          <i class="fas fa-project-diagram"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" (click)="openModelGraph()">{{'DATA.ACTIONS.SHOW_MODEL_GRAPH'|translate}}</button>
          <button *ngIf="isOpenIncrementalModelGraphEnabled()" class="dropdown-item" (click)="openIncrementalGraph()">{{'DATA.ACTIONS.SHOW_MODEL_GRAPH_ROOTED'|translate}}</button>
          <button class="dropdown-item" (click)="openUmlGraph()">{{'DATA.ACTIONS.SHOW_CLASS_DIAGRAM'|translate}}</button>
        </div>
      </div>

      <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="refresh()">
        <span class="fas fa-sync"></span>
      </button>
      <button *ngIf="context == 'dataPanel'" class="btn btn-light btn-sm ms-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
        <span class="fas fa-cog"></span>
      </button>


    </div>
  </div>

  <div class="card-body vbox">
    <class-tree [roots]="roots" [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [filterEnabled]="filterEnabled" [context]="context"
      (nodeSelected)="onNodeSelected($event)">
    </class-tree>
  </div>

  <div *ngIf="!hideSearch" class="card-footer">
    <search-bar (searchResults)="handleSearchResults($event)" (advancedSearchResult)="handleAdvSearchResult($event)"
      [roles]="[panelRole]" [context]="context"></search-bar>
  </div>
</div>