<div class="hbox">
  <class-tree-panel [roots]="roots" [context]="context" (nodeSelected)="onTreeClassSelected($event)">
  </class-tree-panel>

  <!-- Show appropriate tree/list according to the selected class -->
  <div [ngSwitch]="selectedClass?.getValue().stringValue()" class="vbox" style="margin-left: 4px;">

    <concept-tree-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#Concept'"
      [context]="context" [schemes]="currentSchemes" [schemeChangeable]="true"
      (nodeSelected)="onInstanceSelected($event)" (schemeChanged)="onConceptTreeSchemeChange()">
    </concept-tree-panel>

    <concept-tree-panel *ngSwitchCase="'http://www.w3.org/ns/lemon/ontolex#LexicalConcept'"
      [context]="context" [schemes]="currentSchemes" [schemeChangeable]="true"
      (nodeSelected)="onInstanceSelected($event)" (schemeChanged)="onConceptTreeSchemeChange()">
    </concept-tree-panel>

    <scheme-list-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#ConceptScheme'"
      [context]="context"
      (nodeSelected)="onInstanceSelected($event)">
    </scheme-list-panel>

    <collection-tree-panel *ngSwitchCase="'http://www.w3.org/2004/02/skos/core#Collection'"
      [context]="context"
      (nodeSelected)="onInstanceSelected($event)">
    </collection-tree-panel>

    <lexical-entry-list-panel *ngSwitchCase="'http://www.w3.org/ns/lemon/ontolex#LexicalEntry'"
      [context]="context" [lexiconChangeable]="true"
      (nodeSelected)="onInstanceSelected($event)" (lexiconChanged)="onLexEntryLexiconChange()">
    </lexical-entry-list-panel>

    <instance-list-panel *ngSwitchDefault
      [context]="context" [cls]="selectedClass"
      (nodeSelected)="onInstanceSelected($event)">
    </instance-list-panel>
  </div>

</div>