<div class="treeNode" #treeNodeElement>
  <div class="expandCollapseBtnContainer">
    <ng-container *ngIf="showExpandCollapseBtn">
      <img *ngIf="!open" src="./assets/images/icons/arrow.png" class="arrow-right" (click)="expandNode().subscribe()">
      <img *ngIf="open" src="./assets/images/icons/arrow.png" (click)="collapseNode()">
    </ng-container>
  </div>
  <div class="hbox" style="position: relative;">
    <rdf-resource [resource]="node" [rendering]="rendering" (click)="selectNode($event)"
      [ngClass]="{selectedResource : node.getAttribute('selected')}">
    </rdf-resource>
    <div *ngIf="node.getAttribute('numInst') > 0 && this.showInstanceNumber" style="position: absolute; right: 4px;">
      <span class="badge bg-warning">{{node.getAttribute('numInst')}}</span>
    </div>
  </div>
</div>

<div class="subTree" *ngIf="node.getAttribute('more') == 1">
  <div *ngIf="loading" class="spinner-border spinner-border-sm text-info"></div>
  <ng-container *ngFor="let n of children">
    <ng-container *ngIf="!n['filtered']">
      <class-tree-node *ngIf="!n.isDeprecated() || showDeprecated && n.isDeprecated()"
        [node]="n" [rendering]="rendering" [sortBy]="sortBy" [showDeprecated]="showDeprecated" [filterEnabled]="filterEnabled"
        [context]="context" (nodeSelected)="onNodeSelected($event)">
      </class-tree-node>
    </ng-container>
  </ng-container>
</div>