<div class="card vbox">
  <div class="card-header d-flex align-items-center">
    <label style="flex: 1">{{ref.identifier}}</label>
    <div class="hbox" style="flex: initial;">
      <button class="btn btn-light btn-sm" (click)="edit()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
        <span class="fas fa-pencil-alt"></span>
      </button>
      <div class="btn-group btn-group-sm" style="margin-left: 5px;">
        <button class="btn btn-light" (click)="compileAndShowReport()" [title]="'INVOKABLE_REPORTERS.ACTIONS.COMPILE_REPORT'|translate">
          <span class="fas fa-play"></span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="form" class="card-body vbox">

    <!-- Label -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.label.displayName}}
          <span class="fas fa-info-circle" [title]="form.label.description"></span>
        </label>
        <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.label.value" disabled />
      </div>
    </div>

    <!-- Description -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.description.displayName}}
          <span class="fas fa-info-circle" [title]="form.description.description"></span>
        </label>
        <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.description.value" disabled />
      </div>
    </div>

    <!-- Template -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.template.displayName}}
          <span class="fas fa-info-circle" [title]="form.template.description"></span>
        </label>
        <mustache-editor style="height: 100px;" [ngModel]="form.template.value" [disabled]="true"></mustache-editor>
      </div>
    </div>

    <!-- Filename -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.filename.displayName}}
          <span class="fas fa-info-circle" [title]="form.filename.description"></span>
        </label>
        <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.filename.value" disabled />
      </div>
    </div>

    <!-- additionalFiles -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.additionalFiles.displayName}}
          <span class="fas fa-info-circle" [title]="form.additionalFiles.description"></span>
        </label>
        <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="additionalFilesPreview" disabled />
      </div>
    </div>

    <!-- MimeType -->
    <div class="gridRow">
      <div class="gridEntry">
        <label class="entryLabel">
          {{form.mimeType.displayName}}
          <span class="fas fa-info-circle" [title]="form.mimeType.description"></span>
        </label>
        <input class="form-control form-control-sm" style="flex: 1;" [ngModel]="form.mimeType.value" disabled />
      </div>
    </div>

    <!-- Service invocations -->
    <div class="hbox">
      <div class="card vbox">
        <div class="card-header d-flex align-items-center">
          <label style="flex: 1">
            {{form.sections.displayName}}
            <span class="fas fa-info-circle" [title]="form.sections.description"></span>
          </label>
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group btn-group-xs">
              <button class="btn btn-light" (click)="createServiceInvocation()" [title]="'COMMONS.ACTIONS.CREATE'|translate">
                <span class="fas fa-plus"></span>
              </button>
              <button class="btn btn-light" (click)="deleteServiceInvocation()" [title]="'COMMONS.ACTIONS.DELETE'|translate" [disabled]="!selectedServiceInvocation">
                <span class="fas fa-minus"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox scrollableContainer">
          <div *ngFor="let s of form.sections.value; let idx=index">
            <div class="listItem d-flex align-items-center justify-content-between" [ngClass]="{ active: selectedServiceInvocationIdx == idx }" (click)="selectServiceInvocation(idx)">
              <span>
                <ng-container *ngIf="s.label">{{s.label}}</ng-container>
                <ng-container *ngIf="!s.label">{{s.service}}.{{s.operation}}</ng-container>
              </span>
              <div *ngIf="s.extensionPath == customServicePath" class="badge bg-secondary ms-2">Custom</div>
            </div>
          </div>
        </div>
      </div>
      <service-invocation *ngIf="selectedServiceInvocation" style="margin-left: 4px; flex: 4;"
        [invocation]="selectedServiceInvocation" [idx]="selectedServiceInvocationIdx" (update)="onServiceInvocationUpdate()">
      </service-invocation>
    </div>

    <div class="card mt-2">
      <div class="card-header d-flex align-items-center">
        <label>{{'DATA_MANAGEMENT.EXPORT.DEPLOY.DEPLOYMENT'|translate}}</label>
        <select class="form-select form-select-sm ms-2" style="width: initial" [(ngModel)]="selectedDeployment">
          <option *ngFor="let depOpt of deploymentOptions" [ngValue]="depOpt">{{depOpt.translationKey|translate}}</option>
        </select>
      </div>
      <div class="card-body">
        <div *ngIf="selectedDeployment.source == 'stream'" class="d-flex align-items-center mb-2">
          <extension-configurator #deployerConfigurator *ngIf="streamSourcedDeployer" [extensions]="streamSourcedDeployer"
            (extensionUpdated)="selectedDeployerExtension = $event"
            (configurationUpdated)="onDeployerConfigUpdated($event)"
            (configStatusUpdated)="onDeployerConfigStatusUpdated($event)"
            style="flex: 1;">
          </extension-configurator>
          <div *ngIf="requireConfigurationDeployer()" class="ms-2" style="font-size: 14px;">
            <span class="fas fa-exclamation-triangle" [title]="'COMMONS.CONFIG.CONFIGURATION_REQUIRED'|translate"></span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <select class="form-select form-select-sm" [(ngModel)]="selectedReportFormat">
            <option *ngFor="let f of reportFormats" [ngValue]="f">{{f.label}}</option>
          </select>
        </div>
      </div>
    </div>


  </div>

  <div class="card-footer">
    <button class="btn btn-info btn-sm float-end" (click)="compileAndDeploy()" [disabled]="loading">
      <ng-container *ngIf="!selectedDeployment.source">{{'COMMONS.ACTIONS.DOWNLOAD'|translate}}</ng-container>
      <ng-container *ngIf="selectedDeployment.source == 'stream'">{{'COMMONS.ACTIONS.DEPLOY'|translate}}</ng-container>
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
  </div>

</div>