<div class="card vbox">

  <div class="card-header d-flex align-items-center">
    <div style="flex: 1;">{{'CORRESPONDENCES.ASSOCIATIONS'|translate}}</div>
    <div class="btn-toolbar">
      <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
        <i class="fas fa-font"></i>
      </button>
      <div class="btn-group btn-group-sm ms-1" ngbDropdown>
        <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle [title]="'COMMONS.ACTIONS.EXPORT'|translate" [disabled]="exporting || associations?.length == 0">
          <span *ngIf="!exporting" class="fas fa-download"></span>
          <div *ngIf="exporting" class="spinner-border spinner-border-sm text-info"></div>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button *ngFor="let f of exportFormats" class="dropdown-item" (click)="export(f)">{{f.name}}</button>
        </div>
      </div>
    </div>
  </div>


  <div class="card-body d-flex overflow-auto position-relative">

    <div *ngIf="loading" class="spinner-border text-info position-absolute" style="top: 8px; left: 8px;"></div>

    <div *ngIf="!loading && associations" class="table-responsive w-100">
      <table class="table table-striped table-sm">
        <colgroup>
          <col style="width: 40%;">
          <col>
          <col style="width: 40%;">
        </colgroup>
        <thead>
          <tr>
            <th>
              <ng-container *ngIf="sourceScheme; then widgetSourceBlock; else missingSourceBlock"></ng-container>
              <ng-template #widgetSourceBlock>
                <rdf-resource [resource]="sourceScheme" [rendering]="rendering" [showIcon]="false" class="ellipsis-y-2"></rdf-resource>
              </ng-template>
              <ng-template #missingSourceBlock>
                <span class="mx-1 px-2">?</span>
              </ng-template>
            </th>
            <th>{{'CORRESPONDENCES.ASSOCIATION'|translate}}</th>
            <th>
              <ng-container *ngIf="targetScheme; then widgetTargetBlock; else missingTargetBlock"></ng-container>
              <ng-template #widgetTargetBlock>
                <rdf-resource [resource]="targetScheme" [rendering]="rendering" [showIcon]="false" class="ellipsis-y-2"></rdf-resource>
              </ng-template>
              <ng-template #missingTargetBlock>
                <span class="mx-1 px-2">?</span>
              </ng-template>
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let a of associations; let index=index">
            <tr *ngIf="index >= from && index < to">
              <td>
                <div *ngFor="let s of a.source.concepts">
                  <rdf-resource [resource]="s" [rendering]="rendering" (click)="openResource(s)" class="clickable ellipsis-y-2 text-break"></rdf-resource>
                </div>
                <button *ngIf="a.source.more" class="btn btn-sm btn-light" (click)="expandAssociation(a, index)">
                  <span class="fas fa-ellipsis-h"></span>
                </button>
              </td>
              <td>
                <rdf-resource [resource]="a.association" [rendering]="rendering" (click)="openResource(a.association)" class="clickable ellipsis-y-2 text-break"></rdf-resource>
              </td>
              <td>
                <div *ngFor="let t of a.target.concepts">
                  <rdf-resource [resource]="t" [rendering]="rendering" (click)="openResource(t, true)" class="clickable ellipsis-y-2 text-break"></rdf-resource>
                </div>
                <button *ngIf="a.target.more" class="btn btn-sm btn-light" (click)="expandAssociation(a, index)">
                  <span class="fas fa-ellipsis-h"></span>
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card-footer">
    <div class="d-flex align-items-center" style="gap: 8px;">

      <div style="flex: 1">
        <associations-searchbar [sourceProject]="sourceDatasetInfo?.project" (search)="onSearch($event)" [disabled]="!associations || loading || !sourceDatasetInfo?.project"></associations-searchbar>
      </div>

      <fieldset class="d-flex align-items-center" [disabled]="!associations || associations?.length == 0">
        <div class="btn-group btn-group-sm">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light" [title]="'COMMONS.PAGING.PREV_PAGE'|translate" (click)="prevPage()" [disabled]="page==0 || loading">
              <span class="fas fa-caret-left"></span>
            </button>
            <button class="btn btn-light" style="cursor: auto" disabled>
              <span class="text-nowrap">{{page+1}} {{'COMMONS.PAGING.PAGE_OF_TOT'|translate}} {{totPage}}</span>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.PAGING.NEXT_PAGE'|translate" (click)="nextPage()" [disabled]="page>=totPage-1 || loading">
              <span class="fas fa-caret-right"></span>
            </button>
          </div>
        </div>

        <div class="d-flex align-items-center">
          <div class="input-group input-group-sm">
            <select class="form-select" [(ngModel)]="pageSelected" [disabled]="pageSelectorOpts.length == 0">
              <option *ngFor="let p of pageSelectorOpts" [ngValue]="p">{{p+1}}</option>
            </select>
            <button class="btn btn-outline-secondary" (click)="goToPage()" [disabled]="pageSelected == null">{{'COMMONS.ACTIONS.GO'|translate}}</button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>


</div>