<div class="card d-flex flex-column flex-fill">

    <div class="card-header">
        <label>{{'SETTINGS.DEFAULTS.USER'|translate}}</label>
    </div>

    <div class="card-body d-flex flex-column overflow-auto" style="gap: 8px;">

        <div info class="alert alert-info">
            {{'SETTINGS.DEFAULTS.USER_INFO'|translate}}
        </div>
        

        <div class="card">
            <div class="card-header">
                <label>
                    {{'PREFERENCES.CLICKABLE_VALUE.CLICKABLE_VALUE_STYLE'|translate}}
                    <span class="fas fa-info-circle" [title]="'PREFERENCES.CLICKABLE_VALUE.CLICKABLE_VALUE_STYLE_INFO'|translate"></span>
                </label>
            </div>
            <div class="card-body">
                <clickable-value-style-editor [(ngModel)]="clickableValueStyle" (ngModelChange)="onClickableStyleChanged()"></clickable-value-style-editor>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <label>
                    {{'ADMINISTRATION.DATASETS.MANAGEMENT.DATASETS_VIEW_SETTINGS'|translate}}
                </label>
            </div>
            <div class="card-body">
                <datasets-view-settings [(ngModel)]="projVisualization" (ngModelChange)="onProjVisualizationChanged()">
                    <tr>
                        <td>
                            {{'COMMONS.RENDERING'|translate}}
                            <span class="fas fa-info-circle" [title]="'DATASETS.SETTINGS.RENDERING_INFO'|translate"></span>
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="projectRendering" (ngModelChange)="onProjRenderingChanged()">
                        </td>
                    </tr>
                </datasets-view-settings>
            </div>
        </div>
        

    </div>

</div>