<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 [class]="'modal-title ' + titleClass">{{title}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div [class]="alertClass">
      {{message}}
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">{{'COMMONS.BOOLEAN.YES'|translate}}</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.BOOLEAN.NO'|translate}}</button>
  </div>
</div>