<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 [class]="'modal-title ' + titleClass">{{title}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div [class]="alertClass" style="white-space: pre-line">{{message}}</div>

    <div *ngFor="let checkOpt of checkOpts" class="form-check mt-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" [(ngModel)]="checkOpt.value" [disabled]="checkOpt.disabled">
        {{checkOpt.label}}
        <span *ngIf="checkOpt.info" class="fas fa-info-circle" [title]="checkOpt.info"></span>
        <span *ngIf="checkOpt.warning" class="fas fa-exclamation-triangle" [title]="checkOpt.warning"></span>
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">{{'COMMONS.BOOLEAN.YES'|translate}}</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.BOOLEAN.NO'|translate}}</button>
  </div>
</div>