<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SPARQL.PARAMETERIZATION.QUERY_PARAMETERIZATION'|translate}}</h5>
  </div>
  <div class="modal-body vbox" style="min-height: 30vh;">

    <div class="card vbox">
      <div class="card-header d-flex">
        <label style="flex: 1">{{'SPARQL.PARAMETERIZATION.QUERY_PARAMETERS'|translate}}</label>
        <button class="btn btn-sm btn-light" (click)="addBinding()" [title]="'COMMONS.ACTIONS.ADD'|translate">
          <span class="fas fa-plus"></span>
        </button>
      </div>
      <div class="card-body table-responsive" style="flex: 1;">
        <table class="table table-sm table-borderless">
          <colgroup>
            <col>
            <col>
            <col>
            <col>
            <col>
            <col style="width: 1%">
          </colgroup>
          <thead>
            <tr>
              <th nowrap>{{'SPARQL.PARAMETERIZATION.VARIABLE_BINDING'|translate}}</th>
              <th nowrap>{{'SPARQL.PARAMETERIZATION.DISPLAY_NAME'|translate}}</th>
              <th>{{'COMMONS.DESCRIPTION'|translate}}</th>
              <th nowrap>{{'SPARQL.PARAMETERIZATION.BINDING_TYPE'|translate}}</th>
              <th>{{'COMMONS.VALUE'|translate}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let b of bindings">
              <td><input class="form-control form-control-sm" [(ngModel)]="b.varName"></td>
              <td><input class="form-control form-control-sm" [(ngModel)]="b.displayName"></td>
              <td><textarea class="form-control form-control-sm" style="resize: vertical" rows="1" [(ngModel)]="b.description"></textarea></td>
              <td>
                <select class="form-select form-select-sm" [(ngModel)]="b.bindingType" (ngModelChange)="onBindingTypeChange()">
                  <option *ngFor="let t of bindingTypes" [ngValue]="t">{{t.show}}</option>
                </select>
              </td>
              <td>
                <value-picker *ngIf="b.bindingType?.value=='assignment'; else constraintBlock" [value]="b.value" size="sm" (valueChanged)="updateValue(b, $event)"></value-picker>
                <ng-template #constraintBlock>
                  <select *ngIf="b.bindingType?.specialization=='datatype'; else roleBlock" class="form-select form-select-sm" [(ngModel)]="b.datatype">
                    <option *ngFor="let d of datatypes" [ngValue]="d">{{d.getShow()}}</option>
                  </select>
                  <ng-template #roleBlock>
                    <select class="form-select form-select-sm" [(ngModel)]="b.resourceRole">
                      <option *ngFor="let r of roles" [value]="r.value">{{r.translationKey|translate}}</option>
                    </select>
                  </ng-template>
                </ng-template>
              </td>
              <td>
                <button class="btn btn-light btn-sm" (click)="removeBinding(b)">
                  <span class="far fa-trash-alt"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="bindings.length == 0">Ok</button>
    <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>