<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'PREFERENCES.DATA_PANEL_LABELS.DATA_PANEL_LABELS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body" style="min-height: 300px;">


    <div class="card vbox">
      <div class="card-header d-flex align-items-center">
        <ul class="nav nav-tabs card-header-tabs ps-2">
          <li *ngFor="let l of langs" class="nav-item">
            <a class="nav-link px-3" (click)="activateTabLang(l)" [ngClass]="{ active: activeTabLang == l }">
              {{l}}
              <span class="ms-3" (click)="closeTab(l, $event)">
                <i class="fas fa-times-circle clickable"></i>
              </span>
            </a>
          </li>
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle dropdown-no-arrow" style="border-color: #dee2e6;" data-toggle="dropdown" ngbDropdownToggle>
              <i class="fas fa-plus"></i>
            </a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <a *ngFor="let l of additionalLangs" class="dropdown-item" (click)="addLangTab(l)">{{l}}</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="card-body vbox">
        <div *ngIf="activeTab" class="card vbox">
          <div class="card-body table-responsive">
            <table class="table">
              <colgroup>
                <col style="width: 1%;">
                <col>
              </colgroup>
              <thead>
                <tr>
                  <th>{{'COMMONS.PANEL'|translate}}</th>
                  <th>{{'COMMONS.LABELS'|translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let m of activeTab.panelMappings">
                  <td nowrap>
                    <label>
                      {{m.translationKey|translate}}
                    </label>
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="m.label">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>