<div class="card">
    <div class="card-header d-flex align-items-center">
        <div style="flex: 1;">
            {{'PREFERENCES.DATA_PANEL_FILTER.VISIBLE_DATA_PANELS'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'PREFERENCES.DATA_PANEL_FILTER.VISIBLE_DATA_PANELS_INFO'|translate"></span>
        </div>
        <ng-content select="[toolbar]"></ng-content>
    </div>
    <div class="card-body">

        <div *ngFor="let t of tabsStruct" class="listItem clickable d-flex align-items-center px-2" (click)="toggleTab(t)">
            <input type="checkbox" [(ngModel)]="t.visible" [disabled]="(t.visible && tabsStruct.length - hiddenTabs.length == 1) || readonly">
            <div class="d-flex mx-2 align-items-center" style="flex: 1;">
                {{t.label}}
            </div>
            <span [class]="'fas fa-eye' + (t.visible ? '' : '-slash')"></span>
        </div>

        <fieldset class="border p-1 m-2 mt-3">
            <legend>{{'COMMONS.PREVIEW' | translate }}</legend>

            <div class="p-2">
                <ul class="nav nav-tabs pe-1 position-relative">

                    <ng-container *ngFor="let t of tabsStruct">
                        <li *ngIf="t.visible && previewShowTabSelector" class="nav-item">
                            <a class="nav-link" (click)="previewActiveTab = t.panel" [ngClass]="{ active: previewActiveTab == t.panel }">{{t.customLabel}}</a>
                        </li>
                    </ng-container>
                    <li class="nav-item ms-2">
                        <a class="nav-link text-secondary px-1">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>

                    <div *ngIf="!previewShowTabSelector" class="position-absolute text-secondary p-2 mt-2" style="right: 0; top:0; font-size: .85rem;">
                        <span class="fas fa-exclamation-triangle me-2"></span>
                        {{'PREFERENCES.DATA_PANEL_FILTER.VISIBLE_DATA_PANELS_WARN'|translate}}
                    </div>
                </ul>

            </div>
        </fieldset>

    </div>
</div>