<div class="card vbox">
  <div class="card-header d-flex align-items-center">
    <b style="flex: 1;">{{'METADATA.STATS.LEXICAL_ASSETS'|translate}}</b>

    <ul class="nav nav-tabs card-header-tabs justify-content-end" style="padding-right: 8px;">
      <li class="nav-item">
        <a class="nav-link" (click)="activeTab = 'table'" [ngClass]="{ active: activeTab == 'table', disabled: lexicalizationSets?.length == 0 }">
          {{'METADATA.STATS.TABLE'|translate}}
        </a>
      </li>
      <li *ngIf="activeTab == 'table'" ngbDropdown class="nav-item" autoClose="outside">
        <a href (click)="false" class="nav-link" [ngClass]="{ disabled: lexicalizationSets?.length == 0 }" ngbDropdownToggle></a>
        <div ngbDropdownMenu>
          <button class="dropdown-item" (click)="switchSort('language')">
            <span *ngIf="sortCriteria != 'language_desc'" class="fas fa-sort-alpha-down"></span>
            <span *ngIf="sortCriteria == 'language_desc'" class="fas fa-sort-alpha-up"></span>
            {{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'COMMONS.LANGUAGE.LANGUAGE'|translate}}
            <span *ngIf="sortCriteria == 'language_asc' || sortCriteria == 'language_desc'" class="fas fa-check"></span>
          </button>
          <button class="dropdown-item" (click)="switchSort('lexicalizations')">
            <span *ngIf="sortCriteria != 'lexicalizations_asc'" class="fas fa-sort-numeric-down"></span>
            <span *ngIf="sortCriteria == 'lexicalizations_asc'" class="fas fa-sort-numeric-up"></span>
            {{'COMMONS.ACTIONS.SORT_BY_X'|translate}} {{'METADATA.LEXICALIZATION_SET.LEXICALIZATIONS'|translate}}
            <span *ngIf="sortCriteria == 'lexicalizations_asc' || sortCriteria == 'lexicalizations_desc'" class="fas fa-check"></span>
          </button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="collapseAll(false)">
            <span class="fas fa-expand-alt"></span> {{'COMMONS.ACTIONS.EXPAND_ALL'|translate}}
          </button>
          <button class="dropdown-item" (click)="collapseAll(true)">
            <span class="fas fa-compress-alt"></span> {{'COMMONS.ACTIONS.COLLAPSE_ALL'|translate}}
          </button>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="activeTab = 'chart'" [ngClass]="{ active: activeTab == 'chart', disabled: lexicalizationSets?.length == 0 }">
          {{'COMMONS.CHARTS.CHART'|translate}}
        </a>
      </li>
      <li *ngIf="activeTab == 'chart'" ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link" [ngClass]="{ disabled: lexicalizationSets?.length == 0 }" ngbDropdownToggle></a>
        <div ngbDropdownMenu>
          <button *ngFor="let t of chartTypes" ngbDropdownItem (click)="switchChart(t.value)">
            {{t.translationKey|translate}}
            <span *ngIf="activeChart == t.value" class="fas fa-check float-end ms-2"></span>
          </button>
        </div>
      </li>
    </ul>

  </div>
  <div class="card-body vbox">

    <ng-container *ngIf="lexicalizationSets?.length > 0">

      <ng-container *ngIf="activeTab == 'chart';">
        <pie-chart *ngIf="activeChart == 'pie'" class="vbox" [chartData]="lexSetsChartData" [doughnut]="true"></pie-chart>
        <bar-chart *ngIf="activeChart == 'bar'" class="vbox" [chartData]="lexSetsChartData"></bar-chart>
      </ng-container>

      <div *ngIf="activeTab == 'table';" class="overflow-auto">
        <lexicalization-set-metadata *ngFor="let ls of lexicalizationSets" class="mb-2"
          [lexicalizationSetMetadata]="ls" [datasetIRI]="dataset.getValue()"
          [readonly]="true">
        </lexicalization-set-metadata>
      </div>

    </ng-container>

    <ng-container *ngIf="lexicalizationSets?.length == 0">
      <div class="alert alert-warning">
        {{'METADATA.STATS.LEXICAL_ASSETS_UNAVAILABLE'|translate}}
      </div>
    </ng-container>

  </div>
</div>