<div class="d-flex" style="flex: 1; gap: 8px;">

    <div class="d-flex flex-column" style="flex: 1; gap: 8px;">

            <div class="card vbox">
                <div class="card-header">
                    <h5 class="m-0">{{'METADATA.DATASET_INFO'|translate}}</h5>
                </div>
                <div class="card-body vbox overflow-auto" style="gap: 8px;">

                    <div class="card">
                        <div class="card-body">
                            <table class="table table-sm">
                                <colgroup>
                                    <col style="width: 1%;">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'COMMONS.TITLE'|translate}}:</td>
                                        <td style="min-width: 0;">
                                            <div class="ellipsable" style="width: 100%;">
                                                {{datasetMetadata?.title}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'DATASETS.ATTR.URI_SPACE'|translate}}:</td>
                                        <td>{{datasetMetadata?.uriSpace}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'COMMONS.DESCRIPTION'|translate}}:</td>
                                        <td>{{project.getDescription()}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'COMMONS.MODEL'|translate}}:</td>
                                        <td>{{project.getModelType(true)}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'MODELS.PROJECT.LEXICALIZATION_MODEL'|translate}}:</td>
                                        <td>{{project.getLexicalizationModelType(true)}}</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold" nowrap>{{'DATASETS.ATTR.SPARQL_ENDPOINT'|translate}}:</td>
                                        <td>{{datasetMetadata?.sparqlEndpointMetadata?.id}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    

                    <!-- <hr class="separator w-100"> -->

                    <resource-view [resource]="ontologyResource" style="flex: 1;"></resource-view>
                </div>
            </div>

            

    </div>


    <div class="d-flex flex-column" style="flex: 1; gap: 8px;">

        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h5 class="m-0" style="flex: 1;">{{'METADATA.FACETS'|translate}}</h5>
                <button *ngIf="isUpdateFacetsAuthorized" class="btn btn-sm btn-light" (click)="editFacets()">
                    <span class="fas fa-pencil-alt"></span>
                </button>
            </div>
            <div class="card-body overflow-auto">
                <table class="table table-sm">
                    <colgroup>
                        <col style="width: 1%;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr *ngFor="let f of facets | keyvalue">
                            <td class="font-weight-bold" nowrap>{{f.key}}:</td>
                            <td>
                                <ng-container *ngIf="isArray(f.value); else plainValue">
                                    {{f.value.join('; ')}}
                                </ng-container>
                                <ng-template #plainValue>
                                    {{ f.value }}
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card vbox">

            <div class="card-header">
                <h5 class="m-0">{{'METADATA.STATS.STATS'|translate}}</h5>
            </div>
            <div class="card-body vbox">

                <type-distributions [dataset]="dataset"></type-distributions>

                <lexicalization-sets-renderer class="mt-2" [dataset]="dataset"></lexicalization-sets-renderer>

            </div>

        </div>

    </div>

</div>