<div class="card">
    <div class="card-header d-flex align-items-center">
        <b style="flex: 1;">{{'METADATA.STATS.TYPE_DISTRIBUTIONS'|translate}}</b>

        <ul class="nav nav-tabs card-header-tabs justify-content-end" style="padding-right: 8px;">
            <li class="nav-item">
                <a class="nav-link" (click)="activeTab = 'table'" [ngClass]="{ active: activeTab == 'table', disabled: classPartitionsData?.length == 0 }">
                    {{'METADATA.STATS.TABLE'|translate}}
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="activeTab = 'chart'" [ngClass]="{ active: activeTab == 'chart', disabled: classPartitionsData?.length == 0 }">
                    {{'COMMONS.CHARTS.CHART'|translate}}
                </a>
            </li>
            <li *ngIf="activeTab == 'chart'" ngbDropdown class="nav-item">
                <a href (click)="false" class="nav-link" ngbDropdownToggle></a>
                <div ngbDropdownMenu>
                    <button *ngFor="let t of chartTypes" ngbDropdownItem  (click)="switchChart(t.value)">
                        {{t.translationKey|translate}}
                        <span *ngIf="activeChart == t.value" class="fas fa-check float-end ms-2"></span>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-body">

        <ng-container *ngIf="classPartitionsData?.length > 0;">

            <ng-container *ngIf="activeTab == 'chart';">
                <pie-chart *ngIf="activeChart == 'pie'" [chartData]="classPartitionsData" [doughnut]="true"></pie-chart>
                <bar-chart *ngIf="activeChart == 'bar'" [chartData]="classPartitionsData"></bar-chart>
            </ng-container>

            <ng-container *ngIf="activeTab == 'table';">
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let data of classPartitionsData">
                            <td>{{data.name}}:</td>
                            <td>{{data.value}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

        </ng-container>



        <ng-container *ngIf="classPartitionsData?.length == 0;">
            <div class="alert alert-warning">
                {{'METADATA.STATS.TYPE_DISTRIBUTIONS_UNAVAILABLE'|translate}}
            </div>
        </ng-container>

    </div>
</div>