<div class="container-fluid my-3">

  <div *ngIf="isAdmin" class="mb-2">
    <div class="btn-group btn-group-sm">
      <button class="btn btn-outline-info" [routerLink]="['projects']" routerLinkActive="active">{{'DATASETS.DATASETS'|translate}}</button>
      <button class="btn btn-outline-info" [routerLink]="['users']" routerLinkActive="active">{{'USER.USERS'|translate}}</button>
      <button class="btn btn-outline-info" [routerLink]="['mdr']" routerLinkActive="active">{{'METADATA.METADATA_REGISTRY.METADATA_REGISTRY'|translate}}</button>
      <button class="btn btn-outline-info" [routerLink]="['http-res']" routerLinkActive="active">{{'Http resolution'|translate}}</button>
      <button class="btn btn-outline-info" [routerLink]="['contributions']" routerLinkActive="active">{{'CONTRIBUTIONS.CONTRIBUTIONS'|translate}}</button>
      <button class="btn btn-outline-info" [routerLink]="['user-defaults']" routerLinkActive="active">{{'SETTINGS.DEFAULTS.DEFAULTS'|translate}}</button>
      <!-- <div class="btn-group btn-group-sm" ngbDropdown>
        <button class="btn btn-outline-info dropdown-toggle" [ngClass]="{'active': isRouteActive(['user-defaults', 'proj-defaults'])}" data-toggle="dropdown" ngbDropdownToggle>
          {{'SETTINGS.DEFAULTS.DEFAULTS'|translate}}
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['user-defaults']" queryParamsHandling="merge">{{'SETTINGS.DEFAULTS.USER'|translate}}</a>
          <a class="dropdown-item" [routerLink]="['proj-defaults']" queryParamsHandling="merge">{{'SETTINGS.DEFAULTS.PROJECT'|translate}}</a>
        </div>
      </div> -->
    </div>

    <div class="float-end">
      <button class="btn btn-sm btn-outline-info mx-2" [routerLink]="['multiverse']" queryParamsHandling="merge" routerLinkActive="active">{{'MULTIVERSE.MULTIVERSE'|translate}}</button>
      <div class="btn-group btn-group-sm">
        <button class="btn btn-outline-info" [routerLink]="['config']" queryParamsHandling="merge" routerLinkActive="active">
          {{'COMMONS.CONFIG.CONFIGURATION'|translate}}
          <span class="fas fa-wrench"></span>
        </button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>