<div class="card vbox" *ngIf="annotatedResource">
  <div class="card-header">
    <div class="hbox gap-2">

      <div class="d-flex">
        <ng-content select="[history-control]"></ng-content>
        <button class="btn btn-light btn-sm" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="buildResourceView(resource)">
          <span class="fas fa-redo"></span>
        </button>
      </div>

      <div class="input-group input-group-sm">
        <button class="btn btn-sm btn-light border rounded-start-3" style="width: 34px;" [ngbPopover]="popContent" placement="bottom" popoverClass="rounded" [disabled]="loading || !resourcePosition">
          <i *ngIf="loading; else resPositionBlock" class="spinner-border text-secondary spinner-border-sm"></i>
          <ng-template #resPositionBlock>
            <i *ngIf="!resourcePosition || resourcePosition?.isUnknown(); else knownPositionBlock" class="far fa-question-circle" [title]="'RESOURCE_VIEW.STATUS.UNKNOWN_POSITION'|translate"></i>
            <ng-template #knownPositionBlock>
              <span [ngSwitch]="accessMethod" [title]="'Access method: ' + accessMethod">
                <span *ngSwitchCase="AccessMethod.dereferenciation" class="fas fa-download"></span>
                <img *ngSwitchCase="AccessMethod.local" [src]="'./assets/images/icons/' + (localCurrentProject ? 'local_current_project.png' : 'local_other_project.png')" style="max-height: 16px;">
                <img *ngSwitchCase="AccessMethod.sparql" src="./assets/images/icons/res/ontology.png" style="max-height: 16px;">
                <img *ngSwitchCase="AccessMethod.sparql_degraded" src="./assets/images/icons/res/ontology.png" style="max-height: 16px;">
              </span>
            </ng-template>
          </ng-template>
        </button>
        <ng-template #popContent>
          <div>
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td><b>{{'RESOURCE_VIEW.STATUS.ACCESS_METHOD'|translate}}:</b></td>
                  <td>{{accessMethod}}</td>
                </tr>
                <tr *ngIf="resourcePosition.isLocal()">
                  <td>
                    <b *ngIf="localCurrentProject">{{'RESOURCE_VIEW.STATUS.LOCAL_PROJECT'|translate}}:</b>
                    <b *ngIf="!localCurrentProject">{{'RESOURCE_VIEW.STATUS.OTHER_LOCAL_PROJECT'|translate}}:</b>
                  </td>
                  <td>{{resourcePositionDetails}}</td>
                </tr>
                <tr *ngIf="resourcePosition.isRemote()">
                  <td><b>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </b></td>
                  <td>{{resourcePositionDetails}}</td>
                </tr>
                <tr *ngIf="resourcePosition.isUnknown()">
                  <td><b>{{'RESOURCE_VIEW.STATUS.REMOTE_DATASET'|translate}}: </b></td>
                  <td>
                    <div class="d-flex align-items-center gap-2">
                      Unknown
                      <button *ngIf="resource.isIRI()" class="btn btn-xs btn-light" (click)="discoverDataset()">{{'COMMONS.ACTIONS.DISCOVER'|translate}}</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>

        <input class="form-control form-control-sm" [ngModel]="annotatedResource.getValue().stringValue()" disabled>
      </div>

      <div class="btn-toolbar" style="flex-wrap: nowrap">
        <button class="btn btn-light btn-sm" [ngClass]="{active: showInferred}" [title]="'RESOURCE_VIEW.ACTIONS.SHOW_HIDE_INFERRED'|translate" (click)="switchInferred()">
          <i *ngIf="showInferred" class="fas fa-eye"></i>
          <i *ngIf="!showInferred" class="fas fa-eye-slash"></i>
        </button>
        <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
          <i class="fas fa-font"></i>
        </button>
        <div *ngIf="btnGraphAvailable" class="btn-group btn-group-sm ms-1" ngbDropdown placement="bottom-right">
          <button class="btn btn-light dropdown-toggle dropdown-no-arrow" data-toggle="dropdown" ngbDropdownToggle>
            <i class="fas fa-project-diagram"></i>
          </button>
          <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="openInDataGraph()">{{'RESOURCE_VIEW.ACTIONS.SHOW_IN_DATA_GRAPH'|translate}}</button>
            <button *ngIf="annotatedResource.getValue().isIRI() && annotatedResource.getAttribute('role') == 'cls'" class="dropdown-item" (click)="openInModelGraph()">
              {{'RESOURCE_VIEW.ACTIONS.SHOW_IN_MODEL_GRAPH'|translate}}
            </button>
          </div>
        </div>
        <button *ngIf="btnSettingsAvailable" class="btn btn-light btn-sm ms-1" [title]="'COMMONS.SETTINGS'|translate" (click)="settings()">
          <i class="fas fa-cog"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body scrollableContainer p-2">
    <div *ngIf="loading" class="spinner-border text-info"></div>

    <div *ngIf="unknownHost" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_UNKNOWN_HOST'|translate}}
    </div>
    <div *ngIf="unexistingResource" class="alert alert-danger">
      {{'RESOURCE_VIEW.STATUS.RESOURCE_NOT_EXISTING'|translate}}
    </div>

    <ng-container *ngIf="!unexistingResource && !unknownHost">

      <ng-container *ngFor="let s of sections">
        <renderer *ngIf="resViewSections[s]?.length > 0" [project]="project" [section]="s" [resource]="resource" [poList]="resViewSections[s]" [rendering]="rendering" [ngStyle]="{ order: sectionOrder[s] }"
          (valueClick)="onValueClick($event)">
        </renderer>
      </ng-container>
      <ng-container *ngFor="let s of customSections">
        <renderer *ngIf="resViewSections[s]?.length > 0" [project]="project" [section]="s" [resource]="resource" [poList]="resViewSections[s]" [rendering]="rendering" [ngStyle]="{ order: sectionOrder[s] }"
          (valueClick)="onValueClick($event)">
        </renderer>
      </ng-container>

      <hr *ngIf="!loading" style="border-top: 1px solid #dee2e6; margin: 4px 2px 0; order: 9999;" />

    </ng-container>
  </div>
</div>