<div class="input-group">
  <input type="number" class="form-control" style="text-align: right;" [(ngModel)]="size" (ngModelChange)="onModelChanged()" [disabled]="disabled">
  <select class="form-select" [(ngModel)]="unit" (ngModelChange)="onModelChanged()" [disabled]="disabled">
    <option *ngFor="let u of units">{{u}}</option>
  </select>
</div>