<table class="table table-sm table-borderless table-hoverable" [ngClass]="{'table-hoverable-nested' : preventHoverInheritance}">
    <colgroup>
        <col style="width: 1%;">
        <col>
        <col style="width: 1%;">
    </colgroup>
    <tbody>
        <tr *ngFor="let p of settings?.properties; let i=index">
            <td nowrap>
                <ng-container *ngIf="p.displayName; then displayName; else noDisplayName"></ng-container>
                <ng-template #displayName>
                    {{p.displayName}}
                </ng-template>
                <ng-template #noDisplayName>
                    {{p.name}}
                </ng-template>
                <span *ngIf="p.required" [title]="'COMMONS.MANDATORY_FIELD'|translate">*</span>
            </td>
            <td>
                <setting-prop-renderer [(ngModel)]="settings.properties[i]" (ngModelChange)="onModelChanged()" [disabled]="disabled"></setting-prop-renderer>
            </td>
            <td>
                <span *ngIf="p.description && p.description != ''" class="fas fa-info-circle" style="margin-left: 3px" [title]="p.description"></span>
            </td>
        </tr>
    </tbody>
</table>