<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'USER.PASSWORD.CHANGE_PASSWORD'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label>{{'USER.PASSWORD.OLD_PASSWORD'|translate}}</label>
      <input type="password" class="form-control" [(ngModel)]="oldPwd">
    </div>
    <div class="mb-3">
      <label>{{'USER.PASSWORD.NEW_PASSWORD'|translate}}</label>
      <input type="password" class="form-control" [(ngModel)]="newPwd" [placeholder]="'USER.PASSWORD.NEW_PASSWORD'|translate">
    </div>
    <div class="mb-3">
      <label>{{'USER.PASSWORD.CONFIRM_NEW_PASSWORD'|translate}}</label>
      <input type="password" class="form-control" [ngClass]="{invalid : !isNewPwdConfirmOk()}" [(ngModel)]="newPwdConfirm" [placeholder]="'USER.PASSWORD.CONFIRM_NEW_PASSWORD'|translate">
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!isInputValid()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>