<div class="container my-3">

    <div *ngIf="firstAccess" class="alert alert-info mb-3">
        {{'MESSAGES.NO_USER_REGISTERED'|translate}}<br>
    </div>

    <div class="mt-3">
        <user-create-form [(ngModel)]="userForm" [constraint]="constraintUser"></user-create-form>

        <button type="submit" class="btn btn-info float-end mt-2" (click)="submit()" [disabled]="!isDataValid() || loading">
            {{'COMMONS.ACTIONS.SUBMIT'|translate}}
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        </button>
    </div>

</div>