<div class="container my-3">
  <form>
    <div class="mb-2">
      <label>{{'USER.ATTR.EMAIL_ADDRESS'|translate}}</label>
      <input type="email" class="form-control" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" [placeholder]="'USER.ATTR.EMAIL_ADDRESS'|translate">
    </div>
    <button class="btn btn-info" (click)="reset()" [disabled]="!isEmailValid() || loading">
      {{'USER.PASSWORD.RESET_PASSWORD'|translate}}
      <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
  </form>
</div>