<div class="card">
  <div class="card-header d-flex align-items-center">
    <label><span class="fas fa-user me-2"></span>{{'USER.USER_DETAILS'|translate}}</label>
    <ng-content select="[header]"></ng-content>
  </div>
  <div class="card-body p-2">
    <table class="table table-sm table-borderless">
      <tbody>
        <tr>
          <td nowrap><label>{{'USER.ATTR.GIVEN_NAME'|translate}}</label></td>
          <td>
            <input-editable [value]="user.getGivenName()" size="md" (valueEdited)="updateGivenName($event)"></input-editable>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'USER.ATTR.FAMILY_NAME'|translate}}</label></td>
          <td>
            <input-editable [value]="user.getFamilyName()" size="md" (valueEdited)="updateFamilyName($event)"></input-editable>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'USER.ATTR.EMAIL_ADDRESS'|translate}}</label></td>
          <td>
            <input-editable type="email" [value]="user.getEmail()" size="md" (valueEdited)="updateEmail($event)"></input-editable>
          </td>
        </tr>
        <tr>
          <td nowrap><label>{{'USER.ATTR.PASSWORD'|translate}}</label></td>
          <td>
            <div class="input-group">
              <input type="password" class="form-control" [ngModel]="'xxxxxxxx'" disabled>
              <button class="btn btn-outline-info" style="width:36px;" (click)="changePwd()" [title]="'COMMONS.ACTIONS.EDIT'|translate">
                <span class="fas fa-edit"></span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>