<li class="nav-item dropdown" ngbDropdown display="dynamic" (openChange)="onOpenChange($event)">
  <a class="nav-link dropdown-toggle dropdown-no-arrow" style="padding: .5rem;" [routerLink]="" data-toggle="dropdown" ngbDropdownToggle>
    <span class="fas fa-bars"></span>
  </a>
  <div class="dropdown-menu" ngbDropdownMenu>
    <a class="dropdown-item">
      <div class="hbox p-2 align-items-center">
        <i class="fas fa-user fa-lg"></i>
        <a [routerLink]="['/profile']" queryParamsHandling="merge" class="ms-3">
          <span class="fw-bold text-nowrap">{{user.getShow()}}</span>
        </a>
      </div>
    </a>
    <ng-container *ngIf="adminDashboardAuthorized">
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/admin']" queryParamsHandling="merge">{{'APP.USER_MENU.ADMINISTRATION_DASHBOARD'|translate}}</a>
    </ng-container>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" [routerLink]="" (click)="logout()">{{'APP.USER_MENU.LOGOUT'|translate}}</a>
  </div>
</li>