<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.DATASETS_GROUP_EDITOR.DATASETS_GROUP'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer">

    <table class="table table-sm table-borderless">
      <colgroup>
        <col style="width: 1%">
        <col>
        <col style="width: 1%">
      </colgroup>
      <tbody>
        <tr>
          <td class="text-end" nowrap>
            <label>{{'COMMONS.NAME'|translate}}</label>
          </td>
          <td><input class="form-control" [(ngModel)]="name"></td>
          <td>*</td>
        </tr>
        <tr>
          <td class="text-end" nowrap>
            <label>{{'COMMONS.DESCRIPTION'|translate}}</label>
          </td>
          <td><textarea class="form-control" style="resize: vertical" [(ngModel)]="description"></textarea></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <datasets-selector [(ngModel)]="datasets" class="vbox mt-2"></datasets-selector>

  </div>
  <div class="modal-footer">
    <span class="float-start">(*) {{'COMMONS.MANDATORY_FIELD'|translate}}</span>
    <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!isDataValid()">Ok</button>
    <button class="btn btn-light btn-sm" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>