<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.EDIT_LANGS.EDIT_LANGS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer">
    <div class="card text-center">
      <div class="card-body">
        <div *ngFor="let l of languages; let i = index" class="input-group mb-1">
          <input class="form-control" [(ngModel)]="languages[i]" [placeholder]="'SEARCH.EDIT_LANGS.LANG_TAG'|translate">
          <button class="btn btn-outline-info" (click)="deleteLang(i)" [disabled]="languages.length == 1"><span class="fas fa-trash"></span></button>
        </div>
      </div>
      <div class="card-footer text-body-secondary">
        <div class="input-group mb-1">
          <input class="form-control" [(ngModel)]="newLang" [placeholder]="'SEARCH.EDIT_LANGS.ADD_LANG'|translate">
          <button class="btn btn-outline-info" (click)="addLang()" [disabled]="!newLang"><span class="fas fa-plus"></span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>