<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'SEARCH.ONLY_IN_GROUPS'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body vbox">

    <div class="card vbox">
      <div class="card-header d-flex align-items-center" style="gap: 8px;">
        <label style="flex: 1;">{{'SEARCH.DATASETS_GROUP_EDITOR.DATASETS_GROUPS'|translate}}</label>
        <div *ngIf="isAdmin" class="btn-group btn-group-sm">
          <button type="button" class="btn btn-light" (click)="createGroup()" [title]="'COMMONS.ACTIONS.CREATE'|translate">
            <span class="fas fa-plus"></span>
          </button>
        </div>
      </div>
      <div class="card-body vbox scrollableContainer" style="gap: 8px">
        <div *ngFor="let g of groups" class="card">
          <div class="card-header d-flex" style="gap: 8px;">
            <div class="d-flex align-items-center" style="flex: 1; gap: 8px;">
              <div class="clickable" (click)="g.collapsed = !g.collapsed">
                <img src="./assets/images/icons/arrow.png" class="py-1" [ngClass]="{'arrow-right': g.collapsed}">
              </div>
              {{g.groupName}}
              <span class="text-body-secondary">({{g.projects.length}})</span>
              <input type="checkbox" [(ngModel)]="g.checked">
            </div>
            <ng-container *ngIf="isAdmin">
              <button class="btn btn-sm btn-light" (click)="editGroup(g)" [title]="'COMMONS.ACTIONS.EDIT'|translate">
                <span class="fas fa-pencil-alt"></span>
              </button>
              <button class="btn btn-sm btn-light" (click)="deleteGroup(g)" [title]="'COMMONS.ACTIONS.DELETE'|translate">
                <span class="fas fa-trash"></span>
              </button>
            </ng-container>
          </div>
          <div *ngIf="!g.collapsed" class="card-body table-responsive">

            <div *ngIf="g.groupDescription" class="alert alert-info mb-2" role="alert">
              <i>{{g.groupDescription}}</i>
            </div>

            <table class="table table-sm table-hoverable table-borderless">
              <tbody>
                <tr *ngFor="let p of g.projects">
                  <td>
                    <span [class]=" p.isOpen() ? 'text-info' : 'text-body-secondary'">
                      {{p.getName(true)}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>