<div class="card">
    <div class="card-header d-flex align-items-center">
        <label style="flex: 1;">
            {{'ADMINISTRATION.DATASETS.SETTINGS.VISIBLE_DATASET_TABS'|translate}}
            <span class="fas fa-info-circle ms-1" [title]="'ADMINISTRATION.DATASETS.SETTINGS.VISIBLE_DATASET_TABS_INFO'|translate"></span>
        </label>
        <ng-content select="[toolbar]"></ng-content>
    </div>
    <div class="card-body">

        <div class="listItem d-flex align-items-center px-2">
            <input type="checkbox" checked disabled>
            <div class="d-flex mx-2 align-items-center" style="flex: 1;">
                {{'DATA.DATA'|translate}}
            </div>
            <span class="fas fa-eye"></span>
        </div>
        <div *ngFor="let t of tabsStruct" class="listItem clickable d-flex align-items-center px-2" (click)="toggleTab(t)">
            <input type="checkbox" [(ngModel)]="t.visible" [disabled]="readonly">
            <div class="d-flex mx-2 align-items-center" style="flex: 1;">
                {{t.translationKey|translate}}
            </div>
            <span [class]="'fas fa-eye' + (t.visible ? '' : '-slash')"></span>
        </div>

        <fieldset class="border p-1 m-2 mt-3">
            <legend>{{'COMMONS.PREVIEW' | translate }}</legend>

            <div class="p-2">
                <ul class="nav nav-tabs justify-content-end pe-1 position-relative">
                    <li *ngIf="!previewHideTabSelector" class="nav-item">
                        <a class="nav-link" (click)="previewActiveTab = DatasetTab.data" [ngClass]="{ active: previewActiveTab == DatasetTab.data }">{{'DATA.DATA'|translate}}</a>
                    </li>
                    <li *ngIf="isTabVisible(DatasetTab.sparql)" class="nav-item">
                        <a class="nav-link" (click)="previewActiveTab = DatasetTab.sparql" [ngClass]="{ active: previewActiveTab == DatasetTab.sparql }">Sparql</a>
                    </li>
                    <li *ngIf="isTabVisible(DatasetTab.metadata)" class="nav-item">
                        <a class="nav-link" (click)="previewActiveTab = DatasetTab.metadata" [ngClass]="{ active: previewActiveTab == DatasetTab.metadata }">Metadata</a>
                    </li>
                    <li *ngIf="isTabVisible(DatasetTab.downloads)" class="nav-item">
                        <a class="nav-link" (click)="previewActiveTab = DatasetTab.downloads" [ngClass]="{ active: previewActiveTab == DatasetTab.downloads }">{{'METADATA.DISTRIBUTIONS.DOWNLOADS'|translate}}</a>
                    </li>
                    <li *ngIf="toolsAuthorized && isTabVisible(DatasetTab.tools)" class="nav-item dropdown" ngbDropdown>
                        <a (click)="previewActiveTab = DatasetTab.tools" class="nav-link dropdown-toggle" [ngClass]="{ active: previewActiveTab == DatasetTab.tools }"
                            data-toggle="dropdown" ngbDropdownToggle>{{'COMMONS.TOOLS'|translate}}
                        </a>
                        <div class="dropdown-menu" ngbDropdownMenu>
                            <a class="dropdown-item d-flex align-items-center">Tool 1</a>
                            <a class="dropdown-item d-flex align-items-center">Tool 2</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary px-1">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>

                    <div *ngIf="previewHideTabSelector" class="position-absolute text-secondary p-2 mt-2" style="left: 0; top:0; font-size: .85rem;">
                        <span class="fas fa-exclamation-triangle me-2"></span>
                        {{'ADMINISTRATION.DATASETS.SETTINGS.VISIBLE_DATASET_TABS_WARN'|translate}}
                    </div>
                </ul>
                
            </div>
        </fieldset>

    </div>
</div>