<table class="table table-sm table-borderless">
  <colgroup>
    <col>
    <col style="width: 70%">
  </colgroup>
  <tbody>
    <tr>
      <td>{{'DATA.COMMONS.VISUALIZATION_MODE.MODE'|translate}}</td>
      <td>
        <div class="d-flex align-items-center">
          <select class="form-select" [(ngModel)]="selectedVisualizationMode" (ngModelChange)="onModelChange()">
            <option *ngFor="let m of visualizationModes" [ngValue]="m">{{m.translationKey|translate}}</option>
          </select>
        </div>
      </td>
    </tr>
    <tr *ngIf="selectedVisualizationMode?.mode == 'facet'">
      <td>{{'DATASETS.SETTINGS.VIEW_MODE_FOLDING_ON'|translate}}</td>
      <td>
        <div class="d-flex align-items-center">
          <select class="form-select" [(ngModel)]="selectedFacet" (ngModelChange)="onModelChange()">
            <option *ngFor="let f of facets" [ngValue]="f">{{f.displayName}}</option>
          </select>
          <i *ngIf="selectedFacet.set" class="fas fa-exclamation-triangle px-2 py-1 ms-1" style="font-size: .875rem;"
            [ngbTooltip]="'DATASETS.SETTINGS.VIEW_MODE_FOLDING_ON_MUTLIVALUE_WARN'|translate">
          </i>
        </div>
      </td>
    </tr>

    <tr *ngIf="isAdmin">
      <td>
        {{'DATASETS.ACTIONS.REFRESH_FACETS'|translate}}
        <i class="fas fa-info-circle" [title]="'DATASETS.ACTIONS.REFRESH_FACETS_INFO'|translate"></i>
      </td>
      <td>
        <button class="btn btn-info" (click)="recreateFacetsIndex()">
          {{'COMMONS.ACTIONS.REFRESH'|translate}}
        </button>
      </td>
    </tr>

    <!-- Additional row (default rendering in user-defaults-editor) -->
    <ng-content></ng-content>

  </tbody>
</table>