<ng-container *ngIf="viewInitialized && (series || seriesCollection)">
  <bar-chart *ngIf="activeView=='bar'" class="shift-cursor ctrl-cursor"
    [chartData]="series" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showLegendValue]="false"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)">
  </bar-chart>
  <pie-chart *ngIf="activeView=='pie'" style="flex: 1" class="shift-cursor ctrl-cursor"
    [chartData]="series" [showLegendValue]="false"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)">
  </pie-chart>
  <line-chart *ngIf="activeView=='line'" class="shift-cursor ctrl-cursor"
    [chartData]="seriesCollection" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    (doubleClick)="onDoubleClick($event)" (click)="onClick($event)">
  </line-chart>
</ng-container>

<select *ngIf="compliantViews.length > 1" class="form-select form-select-sm align-self-start ms-2" style="width: initial;" [(ngModel)]="activeView" (ngModelChange)="onWidgetChanged()">
  <option *ngFor="let v of compliantViews">{{v}}</option>
</select>