<ng-container [ngSwitch]="category">
  <ng-container *ngSwitchCase="'geospatial'">
    <map-renderer *ngFor="let v of customViews" [view]="$any(v)" [section]="section"
      (valueClick)="onValueClick($event)">
    </map-renderer>
  </ng-container>
  <ng-container *ngSwitchCase="'statistical_series'">
    <charts-renderer *ngFor="let v of customViews" [view]="$any(v)" [section]="section"
      (valueClick)="onValueClick($event)">
    </charts-renderer>
  </ng-container>
  <ng-container *ngSwitchCase="'single_value'">
    <single-value-renderer *ngFor="let v of customViews" [view]="$any(v)" [section]="section" [rendering]="rendering"
      (valueClick)="onValueClick($event)">
    </single-value-renderer>
  </ng-container>
  <ng-container *ngSwitchCase="'vector'">
    <vector-renderer *ngSwitchCase="'vector'" [views]="$any(customViews)" [section]="section" [rendering]="rendering"
      (valueClick)="onValueClick($event)">
    </vector-renderer>
  </ng-container>
</ng-container>