<div class="d-flex align-items-center" [ngClass]="{ listItem: view.values.length > 1 }" style="padding-left: 0px !important;">

    <div style="flex: 1;" [ngClass]="{ multivalue: view.values.length > 1 }" >
        <div *ngFor="let v of view.values" class="property-value property-value-nested">
            <value-renderer [value]="v.resource" [rendering]="rendering" (dblclick)="onDoubleClick()" (click)="onClick($event)"></value-renderer>
        </div>
    </div>

</div>