<div class="cv-table">
  <table class="table table-sm">
    <colgroup>
      <col style="width: 1%">
      <col *ngFor="let h of headers" [ngStyle]="{ 'width': 98/headers.length + '%' }">
    </colgroup>
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let h of headers">
          {{h}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let view of views">
        <td>
          <button class="btn btn-transparent btn-xs shift-cursor mr-2" (click)="openResource(view, $event)" [title]="view.resource.getValue().toNT()">
            <i class="fas fa-arrow-alt-circle-right"></i>
          </button>
        </td>
        <td *ngFor="let v of view.values">
          <div class="property-value property-value-nested">
            <value-renderer *ngIf="v.resource" [value]="v.resource" [rendering]="rendering" (dblclick)="onValueDoubleClick(v)" (click)="onValueClick(v, $event)"></value-renderer>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>