<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'HTTP_RESOLUTION.CONTENT_NEGOTIATION_CONFIG'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="card vbox">
      <div class="card-header d-flex align-items-center">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" (click)="activeTab = 'rewritingRules'" [ngClass]="{ active: activeTab == 'rewritingRules' }">
              {{'HTTP_RESOLUTION.RULES.REWRITING_RULES'|translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="activeTab = 'inverseRewritingRules'" [ngClass]="{ active: activeTab == 'inverseRewritingRules' }">
              {{'HTTP_RESOLUTION.RULES.INV_REWRITING_RULES'|translate}}
            </a>
          </li>
        </ul>

        <span style="flex: 1;"></span>


        <button class="btn btn-sm btn-light" [ngbPopover]="popContent">
          <span class="fas fa-info-circle"></span>
        </button>
        <ng-template #popContent>
          <div style="width: 400px;">
            This editor allows the configuration of content negotiation through the definition of <i>Rewriting rules</i>
            and <i>Inverse rewriting rules</i>.
            <ul>
              <li>
                The former describe how a request for a resource URI gets transformed into a URI pointing to the HTML page or a RDF format-serialized description of the resource. E.g.
                <div class="px-2 py-1">
                  <i>http://example#resource_123</i> &#8594;
                  <div class="ps-3 py-1">
                    <i>http://example/page/resource_123</i><br>
                    or<br>
                    <i>http://example/data/resource_123.ttl</i>
                  </div>
                </div>
                Each rewriting rule is defined by a triple <i>Source URI RegExp</i>, <i>Format</i> and <i>Target URI exp</i>.
              </li>
              <li>
                <i>Inverse rewriting rules</i> define the inverse conversion, namely from the HTML page URL or the RDF page URL to the resource URI. E.g.
                <div class="px-2 py-1">
                  <i>http://example/page/resource_123</i> or <i>http://example/data/resource_123.ttl</i> &#8594;
                  <div class="ps-3 py-1">
                    <i>http://example#resource_123</i>
                  </div>
                </div>
                Each rule is a triple <i>Source URI RegExp</i>, <i>Target URI exp</i> and <i>Format mapping</i>.
              </li>
            </ul>
          </div>
        </ng-template>

        <button class="btn btn-light btn-sm ms-2" (click)="addRule()">
          <span class="fas fa-plus"></span>
        </button>
      </div>
      <div class="card-body vbox">
        <rewriting-rules *ngIf="activeTab == 'rewritingRules'" [rules]="rewritingRules"></rewriting-rules>
        <inverse-rewriting-rules *ngIf="activeTab == 'inverseRewritingRules'" [rules]="inverseRewritingRules"></inverse-rewriting-rules>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()">Ok</button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
  </div>
</div>