<div class="card vbox">
  <div class="card-header d-flex align-items-center">
    <span style="flex: 1;">{{'HTTP_RESOLUTION.HTTP_RESOLUTION'|translate}}</span>
    <button class="btn btn-sm btn-light" [ngbPopover]="popContent">
      <span class="fas fa-info-circle"></span>
    </button>
    <ng-template #popContent>
      <div style="width: 350px;">
        Here it is possible to activate support for HTTP resolution and to provide regular expressions to match an input URI and determine the dataset that will handle such URI.<br>
        By clicking on <span class="fas fa-cog"></span> it is then possible to configure the content negotiation by providing rewriting rules.
      </div>
    </ng-template>
  </div>

  <div class="card-body vbox scrollableContainer">
    <table class="table table-sm">
      <colgroup>
        <col>
        <col style="width: 1%;">
        <col style="width: 60%;">
        <col style="width: 1%;">
      </colgroup>
      <thead>
        <tr>
          <th class="text-center border-top-0">{{'DATASETS.ATTR.DATASET_NAME'|translate}}</th>
          <th class="text-center border-top-0">{{'COMMONS.STATUS.ACTIVE'|translate}}</th>
          <th class="text-center border-top-0">{{'HTTP_RESOLUTION.REGEXP'|translate}}</th>
          <!-- <th class="text-center border-top-0 text-nowrap">Cont-neg</th> -->
          <th class="text-center border-top-0"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of mappings">
          <td class="align-middle text-center" style="max-width: 500px;" [title]="m.project.getName()">
            <div class="ellipsable">{{m.project.getLabel()}}</div>
          </td>
          <td class="align-middle text-center">
            <button class="btn btn-light btn-sm" [ngClass]="{ 'active': m.enabled }" (click)="enableResolution(m)">
              <span *ngIf="m.enabled" class="fas fa-check text-success"></span>
              <span *ngIf="!m.enabled" class="fas fa-times"></span>
            </button>
          </td>
          <td class="align-middle">
            <ng-container *ngIf="m.enabled">
              <div *ngFor="let regexp of m.uriRegexp; let i=index; let first=first; let last=last" class="d-flex align-items-center" [ngClass]="{ 'mb-2': !last }">
                <input-editable [value]="m.uriRegexp[i]" (valueEdited)="updateRegexp(m, i, $event)" style="flex: 1;"></input-editable>
                <button class="btn btn-light btn-sm ms-1" (click)="deleteRegexp(m, i)" [disabled]="m.uriRegexp.length == 1">
                  <span class="fas fa-trash"></span>
                </button>
                <button class="btn btn-light btn-sm ms-1" (click)="addRegexp(m)" [ngClass]="{'invisible': !last}" [disabled]="m.pendingRegexp">
                  <span class="fas fa-plus"></span>
                </button>
              </div>

              <input-editable *ngIf="m.pendingRegexp" [ngClass]="{'mt-2': m.uriRegexp.length > 0}" style="flex: 1;" [value]="m.pendingRegexp" [editOnInit]="true"
                (valueEdited)="confirmAddRegexp(m, $event)" (editCanceled)="cancelAddRegexp(m)"></input-editable>
            </ng-container>
          </td>
          <td class="text-center">
            <button class="btn btn-light btn-sm" (click)="configureContentNegotiation(m)" title="Configure content negotiation" [disabled]="!m.enabled">
              <span class="fas fa-cog"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="card-footer d-flex align-items-center">
    <input class="form-control form-control-sm" [(ngModel)]="testInput" placeholder="http://test.input#example">
    <button class="btn btn-light btn-sm mx-2 text-nowrap" (click)="testResolution()" [disabled]="!testInput">
      Test <span class="fas fa-angle-right"></span>
    </button>
    <input class="form-control form-control-sm" [ngModel]="testOutput" disabled>
  </div>

</div>