<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'DATASETS.ACTIONS.CREATE_DATASET'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="card">
      <div class="card-body p-2">

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.NAME'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [(ngModel)]="projectName" (ngModelChange)="onProjectNameChange()"
              [placeholder]="'DATASETS.ATTR.DATASET_NAME'|translate" [sanitized]="true">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BASE_URI'|translate}}</label>
          <div class="col-sm-10">
            <input class="form-control form-control-sm" [(ngModel)]="baseURI" (ngModelChange)="onBaseURIChange()" [placeholder]="'MODELS.PROJECT.BASE_URI'|translate">
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.NAMESPACE'|translate}}</label>
          <div class="col-sm-10">
            <!-- <input class="form-control form-control-sm" [(ngModel)]="namespace" [placeholder]="'MODELS.PROJECT.NAMESPACE'|translate"> -->
            <div class="input-group input-group-sm">
              <input class="form-control" [(ngModel)]="namespace" [disabled]="lockNs">
              <button class="btn btn-outline-info" (click)="lockNs = !lockNs" [ngClass]="{ active: lockNs }">
                <span [class]="'fas fa-' + (lockNs ? 'lock' : 'unlock-alt')"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.MODEL'|translate}}</label>
          <div class="col-sm-4">
            <select class="form-select form-select-sm" [(ngModel)]="selectedSemModel">
              <option *ngFor="let m of semanticModels" [ngValue]="m.uri">{{m.show}}</option>
            </select>
          </div>
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</label>
          <div class="col-sm-4">
            <select class="form-select form-select-sm" [(ngModel)]="selectedLexModel">
              <option *ngFor="let m of lexicalizationModels" [ngValue]="m.uri">{{m.show}}</option>
            </select>
          </div>
        </div>

        <hr class="separator">

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.REPO_ACCESS'|translate}}</label>
          <div class="col-sm-10">
            <div class="hbox">
              <select class="form-select form-select-sm" [(ngModel)]="selectedRepositoryAccess">
                <option *ngFor="let ra of repositoryAccessList">{{ra}}</option>
              </select>
              <div *ngIf="isRepoAccessRemote()" class="input-group input-group-sm ms-1" style="width: 60%;">
                <select class="form-select form-select-sm" [(ngModel)]="selectedRemoteRepoConfig">
                  <option *ngFor="let conf of remoteRepoConfigs" [ngValue]="conf">{{conf.serverURL}}</option>
                </select>
                <button *ngIf="isAdmin" class="btn btn-outline-info" (click)="configRemoteRepoAccess()">
                  <span class="fas fa-edit"></span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-2">
          <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.DATA_REPO_ID'|translate}}</label>
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
              <input class="form-control" [(ngModel)]="dataRepoId" [placeholder]="'MODELS.PROJECT.DATA_REPO_ID'|translate" [disabled]="isRepoAccessCreateMode()">
              <button class="btn btn-outline-info" (click)="changeRemoteRepository()" [disabled]="isRepoAccessCreateMode()">
                <span class="fas fa-list"></span>
              </button>
            </div>
          </div>
          <ng-container *ngIf="isRepoAccessCreateMode()">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'COMMONS.CONFIG.CONFIGURATION'|translate}}</label>
            <div class="col-sm-4">
              <extension-configurator #dataRepoConfigurator *ngIf="dataRepoExtensions" [extensions]="dataRepoExtensions" [storeable]="false"
                (extensionUpdated)="selectedDataRepoExtension = $event" (configurationUpdated)="selectedDataRepoConfig = $event">
              </extension-configurator>
            </div>
          </ng-container>
          <ng-container *ngIf="!isRepoAccessCreateMode()">
            <label class="col-sm-2 col-form-label col-form-label-sm">{{'MODELS.PROJECT.BACKEND_TYPE'|translate}}</label>
            <div class="col-sm-4">
              <select class="form-select form-select-sm" [(ngModel)]="selectedCoreRepoBackendType">
                <option *ngFor="let bt of backendTypes">{{bt}}</option>
              </select>
            </div>
          </ng-container>
        </div>

        <hr class="separator">

        <div class="card">
          <div class="card-header clickable" (click)="optionalSettingsOpen = !optionalSettingsOpen">
            <span [class]="'fas fa-chevron-' + (optionalSettingsOpen ? 'down' : 'right')"></span>
            <label class="clickable ms-2">
              {{'DATASETS.SETTINGS.OPTIONAL_SETTINGS'|translate}}
            </label>
          </div>
          <div class="card-body">
            <ng-container *ngIf="optionalSettingsOpen">
              <div class="card">
                <div class="card-header d-flex align-items-center">
                  <label style="flex: 1;">{{'MODELS.PROJECT.RENDERING_ENGINE'|translate}}</label>
                  <div class="form-check">
                    <input class="form-check-input" id="defaultRenderingCheck" type="checkbox" [(ngModel)]="rendEngUseDefaultSetting">
                    <label class="form-check-label" for="defaultRenderingCheck">{{'DATASETS.SETTINGS.USE_DEFAULT'|translate}}</label>
                  </div>
                </div>
                <div class="card-body">
                  <ng-container *ngIf="!rendEngUseDefaultSetting">
                    <extension-configurator [extensions]="rendEngExtensions" (extensionUpdated)="selectedRendEngExtension = $event; selectedRendEngExtensionConf = null"
                      (configurationUpdated)="selectedRendEngExtensionConf = $event" [storeable]="false" style="flex: 1;">
                    </extension-configurator>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="loading">
      Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>

</div>