<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_DIST_DATASET'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'COMMONS.FILE_NAME'|translate}}</label>
      <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="fileName" [sanitized]="true">
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'METADATA.DISTRIBUTIONS.DISTRIBUTION_LABEL'|translate}}</label>
      <div class="col-sm-10">
        <lang-string-editor [(ngModel)]="localized"></lang-string-editor>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'COMMONS.FORMAT'|translate}}</label>
      <div class="col-sm-10">
        <select class="form-select" [(ngModel)]="format">
          <option *ngFor="let f of formats" [ngValue]="f">{{f.name}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'METADATA.DISTRIBUTIONS.COMPRESS'|translate}}</label>
      <div class="col-sm-10">
        <input type="checkbox" style="vertical-align: bottom;" [(ngModel)]="zipped">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!fileName || !localized || !format || loading">
      Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>