<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'COMMONS.ACTIONS.UPLOAD_FILE'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body">

    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'COMMONS.FILE'|translate}}</label>
      <div class="col-sm-10">
        <file-picker (fileChanged)="fileChangeEvent($event)" [accept]="filePickerAccept"></file-picker>
      </div>
    </div>
    <div class="row mb-2">
      <label class="col-sm-2 col-form-label">{{'METADATA.DISTRIBUTIONS.DISTRIBUTION_LABEL'|translate}}</label>
      <div class="col-sm-10">
        <lang-string-editor [(ngModel)]="localized"></lang-string-editor>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="!file || loading">
      Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>