<div class="card vbox">

  <div class="card-header d-flex align-items-center">
    <label style="flex: 1;">{{'ADMINISTRATION.DATASETS.MANAGEMENT.DATASET_MANAGER'|translate}}</label>
    <div class="btn-toolbar">
      <button *ngIf="isCreateProjectAuthorized" class="btn btn-light btn-sm" [title]="'COMMONS.ACTIONS.CREATE'|translate" (click)="createProject()">
        <span class="fas fa-plus"></span>
      </button>
      <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: rendering}" [title]="'COMMONS.RENDERING'|translate" (click)="switchRendering()">
        <i class="fas fa-font"></i>
      </button>
      <button class="btn btn-light btn-sm ms-1" [title]="'COMMONS.ACTIONS.REFRESH'|translate" (click)="initProjects()">
        <span class="fas fa-sync"></span>
      </button>
      <div class="btn-group btn-group-sm" ngbDropdown>
        <button data-toggle="dropdown" ngbDropdownToggle class="btn btn-light btn-sm ms-1 dropdown-toggle dropdown-no-arrow">
          <span class="fas fa-cog"></span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item" (click)="editViewSettings()">{{'ADMINISTRATION.DATASETS.MANAGEMENT.DATASETS_VIEW_SETTINGS'|translate}}</button>
          <button *ngIf="isAdmin" class="dropdown-item" (click)="editCustomFacetsSchema()">{{'ADMINISTRATION.DATASETS.MANAGEMENT.FACETS_SCHEMA_DEFINITION'|translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body table-responsive" style="overflow-x: hidden;">

    <div class="project-header d-flex" [ngClass]="{ 'px-3': visualizationMode == 'facet' }">
      <b class="project-cell text-center dataset-name-col">{{'DATASETS.ATTR.DATASET_NAME'|translate}}</b>
      <b class="project-cell text-center open-close-col">{{'ADMINISTRATION.DATASETS.MANAGEMENT.OPEN_CLOSE'|translate}}</b>
      <b class="project-cell text-center generic-col">{{'COMMONS.MODEL'|translate}}</b>
      <b class="project-cell text-center generic-col">{{'MODELS.PROJECT.LEXICALIZATION'|translate}}</b>
      <b class="project-cell text-center generic-col">{{'MODELS.PROJECT.LOCATION'|translate}}</b>
      <b class="project-cell text-center generic-col">{{'COMMONS.STATUS.STATUS'|translate}}</b>
      <b class="project-cell text-center actions-col"></b>
    </div>

    <div>
      <ng-container *ngIf="visualizationMode == 'list'; then listBlock; else facetBlock"></ng-container>

      <ng-template #listBlock>
        <ng-container *ngFor="let p of projectList">
          <div *ngIf="isDatasetVisible(p)" class="project-row d-flex align-items-center">
            <ng-container *ngTemplateOutlet="projectRowTemplate; context: { project: p }"></ng-container>
          </div>
        </ng-container>
      </ng-template>

      <ng-template #facetBlock>
        <div *ngFor="let pd of projectDirs" class="card mb-3 mt-2 mx-2">
          <div class="card-header clickable" (click)="toggleDirectory(pd)">
            <img *ngIf="!pd.open" src="./assets/images/icons/arrow.png" class="arrow-right">
            <img *ngIf="pd.open" src="./assets/images/icons/arrow.png">
            <label class="clickable ms-2">
              <ng-container *ngIf="pd.dirName">{{pd.dirDisplayName}}</ng-container>
              <ng-container *ngIf="!pd.dirName">Unclassified</ng-container>
            </label>
          </div>
          <div class="card-body p-2">
            <ng-container *ngIf="pd.open">
              <ng-container *ngFor="let p of pd.projects">
                <div *ngIf="isDatasetVisible(p)" class="project-row d-flex align-items-center">
                  <ng-container *ngTemplateOutlet="projectRowTemplate; context: { project: p }"></ng-container>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </ng-template>

    </div>
  </div>

  <div class="card-footer">
    <div class="input-group input-group-sm">
      <input type="text" class="form-control" [(ngModel)]="filterString" [placeholder]="'COMMONS.FILTER'|translate">
      <span class="input-group-text">
        <i class="fas fa-filter"></i>
      </span>
    </div>
  </div>
</div>

<ng-template #projectRowTemplate let-p="project">
  <div class="project-cell text-center dataset-name-col ellipsable" [title]="p.getName()">
    <a [routerLink]="" (click)="goToProject(p)" class="d-block ellipsable" [ngClass]="{ disabled: !p.isOpen() || p.visibility == 'pristine'}">
      {{p.getLabel()}}
    </a>
  </div>
  <div class="project-cell text-center open-close-col">
    <button class="btn btn-sm btn-light" style="width: 32px;" (click)="openCloseProject(p)" [ngClass]="{ active: p.isOpen() }" [disabled]="!isAdmin || p.creatingIndex || p.creatingMetadata">
      <i *ngIf="p.opening" class="spinner-border spinner-border-sm"></i>
      <ng-container *ngIf="!p.opening">
        <span *ngIf="p.isOpen()" class="fas fa-folder-open"></span>
        <span *ngIf="!p.isOpen()" class="fas fa-folder"></span>
      </ng-container>
    </button>
  </div>
  <div class="project-cell text-center generic-col">{{p.getModelType(true)}}</div>
  <div class="project-cell text-center generic-col">{{p.getLexicalizationModelType(true)}}</div>
  <div class="project-cell text-center generic-col">
    {{p.getRepositoryLocation().location}}
    <span *ngIf="p.isRepositoryRemote()" class="fas fa-map-marker-alt" [title]="p.getRepositoryLocation().serverURL"></span>
  </div>
  <div class="project-cell text-center generic-col">
    <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right">
      <button data-toggle="dropdown" ngbDropdownToggle class="btn dropdown-toggle"
        [ngClass]="{'btn-success': p.visibility=='PUBLIC', 'btn-warning': p.visibility=='AUTHORIZED', 'btn-light dropdown-no-arrow': p.visibility=='pristine'}"
        style="font-weight: 500;" [disabled]="!isChangeStatusAvailable(p)">
        {{visibilityStatusMap[p.visibility]}}
      </button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="makePublic(p)" [disabled]="p.visibility != 'AUTHORIZED'">{{'ADMINISTRATION.DATASETS.MANAGEMENT.MAKE_PUBLIC'|translate}}</button>
        <button class="dropdown-item" (click)="makeStaging(p)" [disabled]="p.visibility != 'PUBLIC'">{{'ADMINISTRATION.DATASETS.MANAGEMENT.MAKE_STAGING'|translate}}</button>
      </div>
    </div>
  </div>
  <div class="project-cell text-center actions-col">
    <div class="btn-group btn-group-sm" ngbDropdown placement="bottom-right top-right" container="body" display="dynamic" autoClose="outside">
      <button class="btn btn-light" [ngClass]="{'dropdown-toggle': !p.creatingIndex && !p.creatingMetadata}" style="width: 32px;" data-toggle="dropdown" ngbDropdownToggle>
        <div *ngIf="p.creatingIndex || p.clearingIndex || p.creatingMetadata || p.clearingData" class="spinner-border spinner-border-sm"></div>
      </button>
      <div class="dropdown-menu dropdown-menu-sm" ngbDropdownMenu>
        <button class="dropdown-item" (click)="loadData(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.LOAD_DATA'|translate}}
        </button>
        <button class="dropdown-item" (click)="clearData(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.CLEAR_DATA'|translate}}
        </button>
        <button class="dropdown-item" (click)="createDownload(p)" [disabled]="!p.isOpen() || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_DIST_DATASET'|translate}}
        </button>
        <ng-container *ngIf="isAdmin">
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="toggleOpenAtStartup(p)">
            <div class="d-flex justify-content-between">
              Open at startup
              <div class="form-check form-switch">
                <input class="form-check-input ms-0" type="checkbox" role="switch" [ngModel]="p.getOpenAtStartup()">
              </div>
            </div>
          </button>
        </ng-container>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item d-flex align-items-center" (click)="createIndex(p)" [disabled]="globalCreatingIndex || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
          <span style="flex: 1;">{{'ADMINISTRATION.DATASETS.MANAGEMENT.CREATE_REFRESH_INDEX'|translate}}</span>
          <span *ngIf="p.creatingIndex || p.clearingIndex" class="spinner-border spinner-border-sm ms-2"></span>
        </button>
        <button class="dropdown-item" (click)="deleteIndex(p)" [disabled]="globalCreatingIndex || p.creatingIndex || p.clearingIndex || p.opening || p.clearingData">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.DELETE_INDEX'|translate}}
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item d-flex align-items-center" (click)="createMapleMetadata(p)" [disabled]="p.creatingMetadata || p.opening || p.clearingData">
          <span style="flex: 1;">{{'DATASETS.ACTIONS.CREATE_REFRESH_METADATA'|translate}}</span>
          <span *ngIf="p.creatingMetadata" class="spinner-border spinner-border-sm ms-2"></span>
        </button>
        <div class="dropdown-divider"></div>
        <button *ngIf="isAdmin && p.isRepositoryRemote()" class="dropdown-item" (click)="editRemoteRepoCredential(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_REMOTE_REPO_CONFIG'|translate}}
        </button>
        <button class="dropdown-item" (click)="editDescription(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_DESCRIPTION'|translate}}
        </button>
        <button class="dropdown-item" (click)="editLabels(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_LABELS'|translate}}
        </button>
        <button class="dropdown-item" (click)="editFacets(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_FACETS'|translate}}
        </button>
        <button class="dropdown-item" (click)="editUsers(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_MANAGERS'|translate}}
        </button>
        <button class="dropdown-item" (click)="editSettings(p)">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.EDIT_SETTINGS'|translate}}
        </button>
        <button class="dropdown-item" (click)="configureRenderingEngine(p)" [disabled]="p.isOpen()">
          {{'ADMINISTRATION.DATASETS.MANAGEMENT.CONFIG_RENDERING_ENGINGE'|translate}}
        </button>
        <ng-container *ngIf="isAdmin">
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="deleteProject(p)" [disabled]="p.isOpen() || p.opening || p.creatingIndex || p.creatingMetadata || p.clearingData">
            {{'DATASETS.ACTIONS.DELETE_DATASET'|translate}}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>