.project-row:hover {
    background-color: aliceblue;
}

.project-cell {
    padding: 0.3rem;
}
.project-header {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
    border-bottom: 2px solid #dee2e6;
}

.dataset-name-col {
    flex: 3;
}

.open-close-col {
    width: 100px;
}

.actions-col {
    width: 50px;;
}

.generic-col {
    flex: 1;
}