<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
  <div class="modal-header" cdkDragHandle>
    <h5 class="modal-title">{{'ADMINISTRATION.DATASETS.MANAGEMENT.CONFIG_RENDERING_ENGINGE'|translate}}</h5>
    <button class="btn-close" (click)="close()"></button>
  </div>
  <div class="modal-body scrollableContainer">

    <div class="card mb-2">
      <div class="card-header">
        <label>{{'MODELS.PROJECT.RENDERING_ENGINE'|translate}}</label>
      </div>
      <div class="card-body">
        <extension-configurator #rendEngConfigurator *ngIf="rendEngExtensions"
          [extensions]="rendEngExtensions" [storeable]="false" style="flex: 1;"
          (extensionUpdated)="selectedRendEngExtension = $event; selectedRendEngExtensionConf = null"
          (configurationUpdated)="selectedRendEngExtensionConf = $event">
        </extension-configurator>
      </div>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-primary" (click)="ok()" [disabled]="loading">
      Ok <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
    </button>
    <button class="btn btn-sm btn-secondary" (click)="close()">{{'COMMONS.ACTIONS.CLOSE'|translate}}</button>
  </div>
</div>