// Override Bootstrap variables before importing it

//links are always underlined by defautl, override style by underlining only on hover
$bs-link-decoration: none;
$bs-link-hover-decoration: underline;

// override info and dark colors
$bs-info: #17a2b8;
$bs-dark: #343a40;

// override opacity of disable button (.65) which was too dark
$bs-btn-disabled-opacity: .4;

//remove box shadows on focused nav tabs (it created unpleased effect when using shift on RV tabset)
$bs-nav-link-focus-box-shadow: none;

@use "bootstrap/scss/bootstrap" with ($link-decoration: $bs-link-decoration,
  $link-hover-decoration: $bs-link-hover-decoration,
  $info: $bs-info,
  $dark: $bs-dark,
  $btn-disabled-opacity: $bs-btn-disabled-opacity,
  $nav-link-focus-box-shadow: $bs-nav-link-focus-box-shadow,
);

.btn-info {
  --bs-btn-hover-bg: #138496;
  --bs-btn-color: var(--bs-white);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
}

.btn-outline-info {
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-active-color: var(--bs-white);
}


html,
body {
  height: 100%;
  font-size: 15px;
}

b {
  font-weight: 500;
}

a {
  cursor: pointer;
}

/* Scrollbar customization */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: auto;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 20px;
  border: 3px solid white;
}


app-root {
  height: 100%;
}

.vbox {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.hbox {
  display: flex;
  flex-flow: row;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.pageComponent {
  flex: 1;
  min-height: 0;
  display: flex;
  overflow-y: hidden;
}

.pageComponent>div.container,
.pageComponent>div.container-fluid {
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 40px;
}

.scrollableContainer {
  padding: 4px;
  overflow: auto;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-flow: column;
}

/* restore the modal-body padding when scrollableContainer is applied to the same div */
.modal-body.scrollableContainer {
  padding: 1rem;
}

.expandCollapseBtnContainer>img {
  cursor: pointer;
}

/* To apply to the arrow.png image (that points down) in order to change orientation */
.arrow-left {
  transform: rotate(90deg);
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-right {
  transform: rotate(270deg);
}

input.invalid,
input.invalid:focus {
  background: #ffaaaa;
}

legend {
  float: none;
  margin: 0px 8px;
  padding: 0px 6px;
  font-size: .75rem;
  width: auto;
}

.proposedAddRes {
  background-color: #dff0d8;
  color: #3c763d;
  border-color: #d6e9c6 !important;
}

.proposedRemoveRes {
  background-color: #f2dede;
  color: #a94442;
  border-color: #ebccd1 !important;
}

.proposedAddTriple {
  color: green;
  font-style: italic;
}

.proposedRemoveTriple {
  color: darkred;
  text-decoration: line-through;
}

.flagIcon {
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10px;
  line-height: 1;
}

.flagIcon>span {
  position: absolute;
  top: 1px;
  left: 0px;
  width: 16px;
  margin: 0 auto;
  user-select: none;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.bold-value {
  font-weight: 600;
}

/* Ellipsis of the content of a rdf-resource in a card-header (heading of ResView) */
.card-header rdf-resource span,
.nav-link rdf-resource span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.structureComponent {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.structureComponent .card-body {
  padding: 0px;
}

.structureComponent .treeNode:hover {
  background-color: #e5f3ff;
}


.treeNode {
  min-height: 24px;
  margin: 2px 0px;
  display: flex;
  align-items: center;
  position: relative;
  /* for positioning 'absolute' children (instNum label in classTreeNode) */
}

.treeNode .expandCollapseBtnContainer {
  min-width: 16px;
}

.treeNode rdf-resource {
  flex: 1;
  min-height: 24px;
  cursor: pointer;
}

.subTree {
  padding-left: 15px;
}

.listNodeItem {
  display: flex;
  align-items: center;
  min-height: 24px;
}

.listNodeItem input {
  min-width: 13px;
}

.listNodeItem rdf-resource {
  border-radius: 2px;
  flex: 1;
}

.selectedResource {
  background-color: #cde8ff !important;
  border: 1px solid #7bc3ff !important;
}


.listItem {
  padding: 3px;
  width: 100%;
  min-height: 24px;
}

.listItem:hover {
  background-color: #e5f3ff;
}

.listItem.active {
  background-color: #cde8ff;
}

.listItem rdf-resource {
  border-radius: 2px;
  flex: 1;
}

.listItem.disabled {
  cursor: not-allowed;
  color: #999;
}

.tile-group {
  min-height: 28px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #eee;
  flex-wrap: wrap;
}

.tile {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px 4px;
  background: #fff;
  margin: 2px;
  white-space: nowrap;
}

.clickable:hover {
  cursor: pointer;
}

/* Disable events when clicking on a disabled link */
a.disabled {
  pointer-events: none;
  opacity: .7;
}


.ellipsable {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

/* Like the previous, but the ellipsis is on the left (e.g. "...long text") */
.ellipsable-left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
  direction: rtl;
  text-align: end;
}


.text-decoration-underline {
  text-decoration: underline;
}

/* ====================== */

/* Reset height to auto when codemirror is fullscreen */
.CodeMirror.CodeMirror-fullscreen {
  height: auto !important
}

.CodeMirror {
  /*Border of textare of CodeMirror (just in the editors, because in yasqe there is already)*/
  border: 1px solid #ddd;
  height: auto;
  flex: 1;
}

/* height auto in CodeMirror let the textarea of codemirror fill the available space.
With the following classes is possible to limit the height of the editor to the given max-height */
.CodeMirror-sm .CodeMirror-scroll {
  max-height: 200px !important;
}

.CodeMirror-md .CodeMirror-scroll {
  max-height: 300px !important;
}

.CodeMirror-lg .CodeMirror-scroll {
  max-height: 400px !important;
}

.CodeMirror-scroll {
  min-height: 100px;
  margin-right: 0px;
  flex: 1;
}

ngx-codemirror.disabled .CodeMirror {
  background: #eee;
}

/* It is necessary to visualize hints form  */
// .CodeMirror-hints {
//   z-index: 1000000 !important;
// }

/* it is necessary to visualize a divisor inside hints window */
.hint-separator {
  border-top: 1px solid rgb(220, 220, 220);
}

.cm-s-default .cm-variable-4 {
  color: #c00
}

.cm-mustache {
  color: #0ca;
}

/* Bootstrap extension */

.btn-group-xs>.btn,
.btn-xs {
  padding: .2rem .2rem;
  font-size: .75rem;
  line-height: 1;
  border-radius: .2rem;
}

.form-control-xs {
  height: 22px;
  padding: 1px 5px;
  font-size: 11px;
  line-height: 1.5;
  border-radius: 3px;
}

/* when a table-hoverable is nested within another one, add the class table-hoverable-nested to avoid that selection is inherited by the inner table */
.table-hoverable tbody tr:hover .table-hoverable.table-hoverable-nested td {
  background-color: transparent !important;
}

.table-borderless tbody tr td,
.table-borderless tbody tr th,
.table-borderless thead tr th {
  border: none;
}

.table {
  margin-bottom: 0px;
}

thead {
  border-bottom-width: 2px;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}


.form-check-label-sm {
  font-size: .875rem;
  line-height: 1.5;
}

/* Bootstrap override */

sparql-component .nav-tabs>li>a {
  cursor: default;
}

label {
  margin-bottom: 0px;
}

.alert {
  margin-bottom: 0px;
}

/* class for positioning the close "x" in a multiline dismissible alert at the top right corner */
.alert-multiline.alert-dismissible {
  position: relative
}

.alert-multiline.alert-dismissible>.close {
  position: absolute;
  top: 4px;
  right: 6px;
}

.tab-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 0px;
  padding: 0px;
}

.tab-pane {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-height: 0px;
  padding: 4px;
}

.tab-pane.active {
  display: flex !important;
}

.card-header-tabs {
  margin-bottom: -6px;
}

.card-header-tabs.nav-tabs>li>a {
  padding: 6px;
}

ul.nav-tabs {
  padding-left: 3px;
  padding-top: 3px;
}

.nav-tabs>li>a {
  font-size: 14px;
  padding: 8px;
}

.nav-item-splitted .btn-group>.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #007bff;
  font-size: 14px;
  margin-bottom: -1px;
  padding: 8px;
}

.nav-item-splitted .btn-group>.btn:hover {
  border: 1px solid;
  border-color: #e9ecef #e9ecef #dee2e6;
  color: #0056b3;
}

.nav-item-splitted .btn-group:not(:first-child)>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.nav-item-splitted .btn-group:not(:last-child)>.btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.nav-link>span {
  cursor: pointer;
}

.nav-tabs .nav-link:not(.active):not(:hover) {
  color: #495057;
}

.nav-tabs .nav-link.active:not(:hover) {
  color: #007bff;
}

.card-header {
  padding: 6px 8px;
}

.card-body {
  padding: 6px;
}

.card-footer {
  padding: 6px;
}

/*
    When a card header contains a button or a toolbar with size sm, its height grow at 41.5px
    This style forces the height of a header that doesn't contain buttons and it's useful when it needs to be aligned 
    to another card which its header contains buttons (otherwise the headers height would be different causing an ugly effect).
 */
.card-header-btn-sm {
  min-height: 41px;
  display: flex;
  align-items: center;
}

.dropdown-item {
  padding: 3px 10px;
}

.dropdown-toggle.dropdown-no-arrow::after {
  display: none;
}

.modal-dialog {
  width: 600px;
  max-width: 600px;
}

.modal-full.modal-dialog {
  width: 95% !important;
  max-width: 95% !important;
}

.modal-lg {
  width: 900px !important;
  max-width: initial;
}

.modal-xl {
  width: 1140px !important;
  max-width: initial;
}

/* Following modal classe overrides are in order to avoid that modals exceed window height */
// .modal-header {
//     display: block;
// }
// .modal-title {
//     display: inline-block
// }
.modal-body {
  display: flex;
  flex-flow: column;
  min-height: 0;
}

// .modal-footer {
//     display: block;
//     text-align: right;
// }

/* 
The following rules ensure that the dialogs fill (at max) up to 95% of the video height (95vh).
In order to let the content of the modal fill the available space (independently from its content), invoke UIUtils.setFullSizeModal()
*/
ngb-modal-window.modal {
  /* .modal selector is added in order to increse the specifity of the rule 
        and override the display: block of the d-block class applied to ngb-modal-window */
  display: flex !important;
  flex-flow: column;
  min-height: 0;
  min-width: 0;
}

.modal-content {
  display: flex !important;
  flex-flow: column;
  min-height: 0;
  min-width: 0;
}

.modal-content>* {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.modal-dialog {
  margin: 15px auto;
  display: flex !important;
  flex-flow: column;
  flex: 1;
  min-height: 0;
  min-width: 0;
}

/* reduce font size of item in dropdown with size sm */
.btn-group-sm .dropdown-item {
  font-size: .875rem;
}


/* Apply the same border of the input fields */
.btn-outline-secondary {
  border-color: #ced4da;
}

.dropdown-menu-sm {
  padding: .125rem 0 !important;
}

.dropdown-menu-sm>.dropdown-divider {
  margin: .125rem 0 0 !important;
}

.popover {
  max-width: 500px;
}

.popover-body {
  max-height: 200px;
  overflow-y: auto;
}


/* Chrome, Safari, Edge, Opera */
input.no-spinners::-webkit-outer-spin-button,
input.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number].no-spinners {
  -moz-appearance: textfield;
  appearance: textfield;
}

.form-check-input {
  margin-top: .35rem;
}


/* === Resource View START === */

/*
I preferred to move styles here because by centralizing them in a 
single file (e.g. resource-view.component.css) would have required to 
import it in any component inside resource view
*/

.renderer-row {
  padding: 3px;
}

.renderer-row:hover {
  background-color: #e5f3ff;
}

.section-header {
  font-size: 1rem;
}

.section-description {
  font-size: .875rem;
  line-height: 1;
}

.property-label {
  min-width: 250px;
  font-weight: bold;
  font-size: .875rem;
  padding: 1px;
  padding-top: 3px;
  /* in order to align propLabel and value, this needs to be the sum of the padding-top of value-renderer and .property-value */
}

.property-value-col {
  flex: 1;
}

.property-value {
  display: flex;
  flex: 1;
  padding: 1px;
}

.property-value:hover {
  background-color: #d3ebff;
}

/* 
Don't know why, this doesn't work
.property-value .property-value:hover
I had to create a dedicated class
*/
.property-value-nested:hover {
  /* nested property-value, in case of collection member list */
  background-color: #c5e4fd;
}

value-renderer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2px 4px;
}

.inferred {
  background-color: #eff0ff
}

.imported {
  background-color: #ffffee
}

resource-view value-renderer rdf-resource {
  font-size: 15px;
}

/* === Resource View END === */

.ctrl-container .treeNode rdf-resource,
.ctrl-container value-renderer.clickable,
.ctrl-container .ctrl-cursor {
  cursor: copy;
}

.shift-container .treeNode rdf-resource,
.shift-container value-renderer.clickable,
.shift-container .shift-cursor {
  cursor: alias !important;
}



.callout {
  padding: 1.25rem;
  --bs-link-color-rgb: var(--callout-link);
  --bs-code-color: var(--callout-code-color);
  color: var(--callout-color, inherit);
  background-color: var(--callout-bg, var(--bs-gray-100));
  border-left: 0.3rem solid var(--callout-border, var(--bs-gray-300));
}

.callout-info {
  --callout-color: var(--bs-info-text-emphasis);
  --callout-bg: var(--bs-info-bg-subtle);
  --callout-border: var(--bs-info-border-subtle);
}

.callout-warning {
  --callout-color: var(--bs-warning-text-emphasis);
  --callout-bg: var(--bs-warning-bg-subtle);
  --callout-border: var(--bs-warning-border-subtle);
}

.callout-danger {
  --callout-color: var(--bs-danger-text-emphasis);
  --callout-bg: var(--bs-danger-bg-subtle);
  --callout-border: var(--bs-danger-border-subtle);
}

.min-w-0 {
  min-width: 0px;
}

.min-h-0 {
  min-width: 0px;
}