<div class="container my-3">

  <h1>{{'SEARCH.GLOBAL_SEARCH'|translate}}</h1>

  <div class="input-group mb-2">
    <input type="text" class="form-control" [(ngModel)]="searchString" (keydown.enter)="searchKeyHandler()" [placeholder]="'COMMONS.ACTIONS.SEARCH'|translate">
    <button class="btn btn-info" (click)="search()" [disabled]="!searchString || loading">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <div class="d-flex align-items-center justify-content-between mb-2">

    <div class="d-flex align-items-center">
      <span class="text-body-secondary">{{'SEARCH.FILTERS'|translate}}: </span>

      <div class="btn-group btn-group-sm ms-3" ngbDropdown autoClose="outside" (openChange)="onDatasetFilterOpen($event)">
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>{{'DATASETS.DATASETS'|translate}}</button>
        <div class="dropdown-menu dataset-filter-dropdown" ngbDropdownMenu>
          <div class="d-flex align-items-center">
            <span style="flex: 1;">{{'SEARCH.ONLY_OPEN'|translate}}</span>
            <button #openProjBtn class="btn btn-xs btn-outline-light text-dark ms-3" (click)="toggleOpenProjectFilter(); openProjBtn.blur()">
              <i class="far" [ngClass]="openProjectFilter ? 'fa-check-square' : 'fa-square'"></i>
            </button>
          </div>
          <div class="dropdown-divider"></div>
          <div class="d-flex align-items-center">
            <span style="flex: 1;">
              {{'SEARCH.ONLY_IN_FAVORITES'|translate}}
              ({{datasetFilterFavorites.length}})
            </span>
            <button #inFavBtn class="btn btn-xs btn-outline-light text-dark ms-3" (click)="toggleOnlyInFavorites(); inFavBtn.blur()">
              <i class="far" [ngClass]="activeDatasetsFilterType == 'favorites' ? 'fa-check-circle' : 'fa-circle'"></i>
            </button>
          </div>
          <div class="d-flex align-items-center">
            <span style="flex: 1;">
              {{'SEARCH.ONLY_IN_DATASETS'|translate}}...
              ({{datasetFilterSelection.length}})
            </span>
            <button class="btn btn-xs btn-light ms-2" (click)="editProjectsFilter()">
              <i class="fas fa-edit"></i>
            </button>
            <button #inProjBtn class="btn btn-xs btn-outline-light text-dark ms-3" (click)="toggleOnlyInProjects(); inProjBtn.blur()">
              <i class="far" [ngClass]="activeDatasetsFilterType == 'selection' ? 'fa-check-circle' : 'fa-circle'"></i>
            </button>
          </div>
          <div class="d-flex align-items-center">
            <span style="flex: 1;">
              {{'SEARCH.ONLY_IN_GROUPS'|translate}}...
              ({{datasetFilterGroups.length}})
            </span>
            <button class="btn btn-xs btn-light ms-2" (click)="editSearchGroups()">
              <i class="fas fa-edit"></i>
            </button>
            <button #inGroupsBtn class="btn btn-xs btn-outline-light text-dark ms-3" (click)="toggleOnlyInGroups(); inProjBtn.blur()">
              <i class="far" [ngClass]="activeDatasetsFilterType == 'groups' ? 'fa-check-circle' : 'fa-circle'"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="btn-group btn-group-sm ms-3" ngbDropdown autoClose="outside">
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>{{'COMMONS.LANGUAGE.LANGUAGES'|translate}}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item d-flex align-items-center" (click)="setAllLanguagesFilter()">
            <span style="flex: 1;">{{'SEARCH.ANY_LANGUAGE'|translate}}</span>
            <i *ngIf="anyLangFilter" class="fas fa-check"></i>
          </button>
          <div class="dropdown-divider"></div>
          <button *ngFor="let l of languagesFilter" class="dropdown-item d-flex align-items-center" (click)="activateLanguageFilter(l)">
            <span style="flex: 1;">{{l.lang}}</span>
            <i *ngIf="l.active" class="fas fa-check"></i>
          </button>

          <div class="dropdown-divider"></div>
          <button class="dropdown-item d-flex align-items-center" (click)="editLangList()">{{'SEARCH.EDIT_LANGS.EDIT_LANGS'|translate}}</button>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="btn-group btn-group-sm ms-3" ngbDropdown autoClose="outside">
        <button class="btn btn-light dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle>
          <i class="fas fa-cog"></i>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <h6 class="dropdown-header">{{'SEARCH.SETTINGS.STRING_MATCH_MODE'|translate}}</h6>
          <button *ngFor="let mode of stringMatchModes" class="dropdown-item" (click)="searchMode = mode; storeSettings()">
            <b class="me-2" style="display: inline-block; width: 24px;">{{stringMatchModesMap[mode].symbol}}</b>
            <span>{{stringMatchModesMap[mode].labelTranslationKey|translate}}</span>
            <span *ngIf="searchMode == mode" class="fas fa-check ms-2"></span>
          </button>

          <div class="dropdown-divider"></div>

          <button class="dropdown-item" (click)="searchInLocalName = !searchInLocalName; storeSettings()">
            {{'SEARCH.SETTINGS.SEARCH_IN_LOCAL_NAME'|translate}} <span *ngIf="searchInLocalName" class="fas fa-check ms-2"></span>
          </button>
          <button class="dropdown-item" (click)="caseSensitive = !caseSensitive; storeSettings()">
            {{'Case sensitive'|translate}} <span *ngIf="caseSensitive" class="fas fa-check ms-2"></span>
          </button>
        </div>
      </div>
    </div>

  </div>


  <div *ngIf="loading" class="spinner-border text-info"></div>

  <ng-container *ngIf="!loading && groupedSearchResults && filteredRepoIds">
    <!-- No results found -->
    <h5 *ngIf="filteredRepoIds.length == 0" class="text-secondary">{{'SEARCH.NO_RESOURCE_FOUND_FOR'|translate}} '{{lastSearch}}'</h5>
    <!-- Results found -->
    <ng-container *ngIf="filteredRepoIds.length != 0">
      <div class="d-flex mb-1">
        <div style="flex: 1;">
          <h5 class="text-secondary" style="display: inline;">
            {{resultsCount}}
            {{'SEARCH.X_MATCHES_IN_N_DATASETS.0'|translate}}
            {{filteredRepoIds.length}}
            {{'SEARCH.X_MATCHES_IN_N_DATASETS.1'|translate}}
          </h5>
          <h6 *ngIf="excludedResultsCount > 0" class="text-secondary ms-1" style="display: inline;">
            (
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.0'|translate}}:
            {{excludedResultsCount}}
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.1'|translate}}
            {{excludedRepoCount}}
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.2'|translate}}.
            <button class="btn btn-link btn-xs mb-1" (click)="toggleOpenProjectFilter()">{{'SEARCH.DISABLE_FILTER'|translate}}</button>
            )
          </h6>
        </div>

        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPAND_ALL'|translate" (click)="expandAll()">
              <i class="fas fa-expand-arrows-alt"></i>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.COLLAPSE_ALL'|translate" (click)="collapseAll()">
              <i class="fas fa-compress-arrows-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card vbox mt-1">
        <div class="card-body vbox scrollableContainer">
          <search-resultset *ngFor="let repoId of filteredRepoIds" [results]="groupedSearchResults[repoId]" [accessible]="accessibleMap[repoId]" class="grouped-search-result"></search-resultset>
        </div>
      </div>
    </ng-container>
  </ng-container>


</div>