<div [style]="'width: calc(100%' + (legend ? ' - 250px' : '') + '); min-height: 200px'">
    <ngx-charts-bar-vertical
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [maxXAxisTickLength]="40"
        [legend]="false"
        [activeEntries]="activeEntries"
        [scheme]="colorScheme"
        (dblclick)="onDoubleClick()"
        (select)="onSelect($event)"
        (activate)="onActivate($event.value)"
        (deactivate)="onDeactivate()">
    </ngx-charts-bar-vertical>
</div>

<series-chart-legend *ngIf="legend" style="width: 250px;"
    [chartData]="chartData" [colorScheme]="colorScheme" [activeEntries]="activeEntries" [showValue]="showLegendValue"
    (activate)="onActivate($event)" (deactivate)="onDeactivate()"></series-chart-legend>