<!-- <div [ngStyle]="{'width': 'calc(100% - 250px'}"> -->
<div [ngStyle]="{'width': 'calc(100% - 50px'}">
    <ngx-charts-line-chart
        [results]="chartData"
        [xAxis]="true"
        [yAxis]="true"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [trimXAxisTicks]="false"
        [legend]="false"
        [scheme]="colorScheme"
        (dblclick)="onDoubleClick()"
        (select)="onSelect($event)">

        <ng-template #tooltipTemplate let-model="model">
            <span class="tooltip-label">{{model.series}}</span>
            <span class="tooltip-label">{{model.name}}</span>
            <span class="tooltip-val">{{model.value.toLocaleString()}}</span>
        </ng-template>
        
    </ngx-charts-line-chart>
</div>

<!-- <div style="width: 250px;">
    <div class="p-2" style="background: #eee;">
        <div class="legend-entry" style="display: flex; align-items: center; width: 230px; height: 20px; font-size: 12px; margin: 0.5rem;">
            <ng-container *ngIf="selectedData">
                <div style="cursor: pointer; flex: 1;">
                    <div class="ellipsable" [title]="selectedData.name">
                        {{selectedData.name}}
                    </div>
                    <div class="ellipsable">
                        {{selectedData.value.toLocaleString()}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->