<div [style]="'width: calc(100%' + (legend ? ' - 250px' : '') + ');'">
    <ngx-charts-pie-chart
        [results]="chartData"
        [legend]="false"
        [labels]="false"
        [doughnut]="doughnut"
        [activeEntries]="activeEntries"
        [scheme]="colorScheme"
        (dblclick)="onDblClick($event)"
        (activate)="onActivate($event.value)"
        (deactivate)="onDeactivate()">
    </ngx-charts-pie-chart>
</div>

<series-chart-legend *ngIf="legend" style="width: 250px;"
    [chartData]="chartData" [colorScheme]="colorScheme" [activeEntries]="activeEntries" [showValue]="showLegendValue"
    (activate)="onActivate($event)" (deactivate)="onDeactivate()"></series-chart-legend>