<div style="width: 250px; overflow-y: auto;">
    <div class="p-2" style="background: #eee;">
        <div *ngFor="let d of chartData" class="legend-entry" (mouseover)="onActivate(d)" (mouseout)="onDeactivate()">
            <span class="fas fa-stop me-2" [ngStyle]="{ 'color': colorHelper.getColor(d.name) }"></span>
            <span class="legend-label ellipsable" [ngClass]="{ 'active': isLabelActive(d) }" [title]="d.name">
                {{d.name}} 
                <ng-container *ngIf="showValue">({{d.value}})</ng-container>
            </span>
        </div>
    </div>
</div>