<div class="card vbox">
  <div class="card-body vbox">


    <div class="vbox">
      <expandable-alert class="mb-2">
        <p>
          The retrieve query for this kind of view needs to retrieve the single value to render.
        </p>
        <p>
          The query must contain these placeholders:
        </p>
        <ul>
          <li *ngFor="let v of retrievePlaceholdersInfo">
            <code>${{v.id}}</code>: {{v.descrTranslationKey|translate}};
          </li>
        </ul>
      </expandable-alert>

      <div class="vbox">
        <yasgui #retrieveYasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
      </div>

    </div>


    <div class="d-flex align-items-center mt-3">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>

</div>