<div class="card vbox">
  <div class="card-body vbox">


    <div class="vbox">
      <expandable-alert class="mb-2">
        <p>
          This view can be used to represent tabular data in ResourceView.
          Each row of the table represents the description of a value of the triggering property.
          The fields to be represented for each row are determined by the Retrieve query.
          You can define arbitrary variables <code>?<i>field</i>_value</code> where <i>field</i> will be used also as header of the column.
        </p>
        <p>
          The query must retun:
        </p>
        <ul>
          <li>All the above mentioned field variables;</li>
          <li>The variable representing the object of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).</li>
        </ul>
        <p>
          The query must also contain these placeholders:
        </p>
        <ul>
          <li *ngFor="let v of retrievePlaceholdersInfo">
            <code>${{v.id}}</code>: {{v.descrTranslationKey|translate}};
          </li>
        </ul>
      </expandable-alert>

      <div class="vbox">
        <yasgui [query]="retrieveEditor.query" (querychange)="onRetrieveChanged($event)" [readonly]="readonly" [hideButtons]="true"></yasgui>
      </div>

      <div class="d-flex align-items-center mt-2">
        <label class="text-nowrap">{{'CUSTOM_VIEWS.MODELS.VECTOR.DETECTED_FIELDS'|translate}}:</label>
        <div class="form-control ms-2">
          <code *ngFor="let f of retrieveFields" class="me-2">{{f}}</code>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center mt-3">
      <label class="text-nowrap">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      <select class="form-select ms-2" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
        <option *ngFor="let v of availableViews" [value]="v.id">
          {{v.translationKey|translate}}
        </option>
      </select>
    </div>

  </div>

</div>