<div class="card vbox">
  <div class="card-body vbox p-2">

    <expandable-alert class="mb-2" [innerHTML]="infoHtmlSafe"></expandable-alert>

    <div class="row mb-2">
      <div class="col-2">
        <label class="col-form-label">{{propListLabelTranslationKey|translate}}</label>
      </div>
      <div class="col-10">
        <inline-resource-list-editor [resources]="properties" [role]="RDFResourceRolesEnum.property" [ordered]="true" [allowDuplicates]="allowDuplicates" (changed)="onPropertiesChanged($event)">
        </inline-resource-list-editor>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-2">
        <label class="col-form-label">{{'CUSTOM_VIEWS.SUGGESTED_VIEW'|translate}}:</label>
      </div>
      <div class="col-10">
        <select class="form-select" [(ngModel)]="suggestedView" [disabled]="availableViews.length == 1" (ngModelChange)="emitChanges()">
          <option *ngFor="let v of availableViews" [value]="v.id">
            {{v.translationKey|translate}}
          </option>
        </select>
      </div>
    </div>

  </div>
</div>