<ngb-toast *ngFor="let toast of toastService.toasts" 
  [class]="toast.options?.toastClass" [autohide]="true" [delay]="toast.options?.delay || 4000" [animation]="true"
  (hidden)="toastService.remove(toast)">

  <ng-template ngbToastHeader>
    <div class="me-auto">
      <ng-container *ngIf="toast.title">
        <b style="font-size: 13px;">
          {{ toast.title }}
        </b>
      </ng-container>
    </div>
  </ng-template>

  <div [class]="toast.options?.textClass" style="font-size: 12px;">
    {{ toast.message }}
  </div>

</ngb-toast>