<div class="table-responsive">
    <table class="table table-sm table-borderless small">
        <colgroup>
            <col style="width: 1%">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td nowrap><label>Source dataset:</label></td>
                <td>{{sourceProject.getName(rendering)}}</td>
            </tr>
            <tr>
                <td nowrap><label>Target dataset:</label></td>
                <td>{{alignmentLink.linkset.getTargetDatasetShow(rendering)}}</td>
            </tr>
            <tr>
                <td nowrap><label>Mapping count:</label></td>
                <td>{{alignmentLink.linkset.linkCount}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="border-top">
                    Show the <a (click)="showMappings(); false" href>mappings list</a>
                </td>
            </tr>   
        </tfoot>
    </table>
</div>