<div class="card vbox">
  <div class="card-header">
    <div class="hbox">
      <div class="btn-toolbar" style="flex: 1;">
      </div>
      <div class="btn-toolbar float-end">
        <button class="btn btn-light btn-sm" [ngClass]="{active: rendering}" (click)="rendering=!rendering" [title]="'COMMONS.RENDERING'|translate">
          <i class="fas fa-font"></i>
        </button>
        <button class="btn btn-light btn-sm ms-1" [ngClass]="{active: showPercentage}" (click)="showPercentage=!showPercentage" [title]="'ALIGNMENTS.ACTIONS.SHOW_PERCENTAGE'|translate">
          <i class="fas fa-percent"></i>
        </button>
        <button class="btn btn-light btn-sm ms-1" (click)="snapshot()" [title]="'GRAPHS.ACTIONS.EXPORT_SNAPSHOT'|translate">
          <i class="fas fa-camera"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body hbox">
    <!-- <alignment-graph class="vbox" [graph]="graph" [rendering]="rendering" [showPercentage]="showPercentage" (elementSelected)="onElementSelected($event)"></alignment-graph> -->
    <alignment-graph class="vbox" [graph]="graph" [rendering]="rendering" [showPercentage]="showPercentage" (nodeSelected)="onNodeSelected($event)" (linkSelected)="onLinkSelected($event)"></alignment-graph>

    <div class="vbox ms-1" style="flex: initial; width: 400px;">
      <div class="card vbox">
        <div *ngIf="selectedNode" class="card-header">
          <div class="btn-toolbar float-end">
            <div class="btn-group btn-group-sm">
              <button type="button" class="btn btn-light" [ngClass]="{ active: selectedNode.fixed }" [title]="'GRAPHS.ACTIONS.FIX_NODE_POSITION'|translate" (click)="fixNode()" [disabled]="!selectedNode">
                <span class="fas fa-lock"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body vbox">
          <ng-container *ngIf="selectedNode">
            <dataset-details-panel *ngIf="selectedNode.isRegisteredDataset" [dataset]="selectedNode.res.getValue()"></dataset-details-panel>
            <div *ngIf="!selectedNode.isRegisteredDataset" class="alert alert-warning">
              {{'ALIGNMENTS.MESSAGES.NOT_REGISTERED_DATASET_GRAPH_NODE'|translate}}
            </div>
          </ng-container>
          <alignment-details-panel *ngIf="selectedLink" [alignmentLink]="selectedLink" [rendering]="rendering"></alignment-details-panel>
        </div>
      </div>

      <force-control-panel [(ngModel)]="forces" (ngModelChange)="onForceChange()" class="mt-1"></force-control-panel>

    </div>
  </div>
</div>