<div class="card vbox">
  <div class="card-body scrollableContainer">
    <fieldset [disabled]="disabled">
      <table class="table table-borderless table-sm">
        <colgroup>
          <col style="width: 1%">
          <col>
        </colgroup>
        <tbody>
          <tr nowrap>
            <td><label>{{'COMMONS.TITLE'|translate}}:</label></td>
            <td>
              <div class="d-flex">
                <div style="flex: 1;">
                  <input *ngIf="dataset.titles.length == 0" class="form-control form-control-sm" disabled>
                  <lang-string-editor *ngFor="let d of dataset.titles; let i = index; let first=first" [(ngModel)]="dataset.titles[i]" [ngClass]="{ 'mt-1': !first }" size="sm" [disabled]="true"></lang-string-editor>
                </div>
                <button *ngIf="dataset.nature != 'PROJECT' && mdrUpdateAuthorized" class="btn btn-sm btn-light ms-2" style="align-self: center;" (click)="editTitles()">
                  <span class="fas fa-pencil-alt"></span>
                </button>
              </div>
            </td>
          </tr>
          <tr nowrap>
            <td><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.IDENTITY'|translate}}:</label></td>
            <td>
              <input class="form-control form-control-sm" [ngModel]="dataset?.identity.getIRI()" disabled>
            </td>
          </tr>
          <tr>
            <td nowrap><label>{{'DATASETS.ATTR.URI_SPACE'|translate}}:</label></td>
            <td>
              <input class="form-control form-control-sm" [ngModel]="dataset?.uriSpace" disabled>
            </td>
          </tr>
          <tr nowrap>
            <td><label>{{'COMMONS.DESCRIPTION'|translate}}:</label></td>
            <td>
              <div class="d-flex">
                <div style="flex: 1;">
                  <input *ngIf="dataset.descriptions.length == 0" class="form-control form-control-sm" disabled>
                  <lang-string-editor *ngFor="let d of dataset.descriptions; let i = index; let first=first" [(ngModel)]="dataset.descriptions[i]" [ngClass]="{ 'mt-1': !first }" size="sm" [disabled]="true"></lang-string-editor>
                </div>
                <button *ngIf="dataset.nature != 'PROJECT' && mdrUpdateAuthorized" class="btn btn-sm btn-light ms-2" style="align-self: center;" (click)="editDescriptions()">
                  <span class="fas fa-pencil-alt"></span>
                </button>
              </div>
            </td>
          </tr>
          <ng-container *ngIf="dataset.nature != 'ABSTRACT'">
            <tr>
              <td><label>{{'METADATA.METADATA_REGISTRY.DATASET_METADATA.DEREFERENCIATION_SYSTEM'|translate}}:</label></td>
              <td>
                <ng-container *ngIf="dataset.nature == 'PROJECT'; then derefSystemReadonly; else derefSystemEditable"></ng-container>
                <ng-template #derefSystemReadonly>
                  <input class="form-control form-control-sm" [ngModel]="dereferenciationNormalized" disabled>
                </ng-template>
                <ng-template #derefSystemEditable>
                  <input-editable type="select" [options]="dereferenciationValues" [value]="dereferenciationNormalized"
                    (valueEdited)="updateDerefSystem($event)" [readonly]="!mdrUpdateAuthorized">
                  </input-editable>
                </ng-template>
              </td>
            </tr>
            <tr>
              <td><label>{{'DATASETS.ATTR.SPARQL_ENDPOINT'|translate}}:</label></td>
              <td>
                <ng-container *ngIf="dataset.nature == 'PROJECT'; then sparqlEndpointReadonly; else sparqlEndpointEditable"></ng-container>
                <ng-template #sparqlEndpointReadonly>
                  <input class="form-control form-control-sm" [ngModel]="dataset.sparqlEndpoint.id" disabled>
                </ng-template>
                <ng-template #sparqlEndpointEditable>
                  <div class="d-flex align-items-center">
                    <input-editable style="flex: 1; margin-right: 4px;" [value]="dataset.sparqlEndpoint.id"
                      (valueEdited)="updateSparqlEndpoint($event)" [allowEmpty]="true" [readonly]="!mdrUpdateAuthorized">
                    </input-editable>
                    <div class="form-check ms-2">
                      <input class="form-check-input" id="aggregationCheck" type="checkbox" [(ngModel)]="sparqlLimitations" (ngModelChange)="updateSparqlLimitations()"
                        [disabled]="!mdrUpdateAuthorized">
                      <label class="form-check-label" for="aggregationCheck">
                        {{'METADATA.METADATA_REGISTRY.DATASET_METADATA.NO_AGGREGATION'|translate}}
                        <span class="fas fa-info-circle ms-2"
                          [title]="'METADATA.METADATA_REGISTRY.DATASET_METADATA.NO_AGGREGATION_INFO'|translate">
                        </span>
                      </label>
                    </div>
                  </div>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>