<div cdkDrag class="vbox" cdkDragRootElement=".modal-content" cdkDragBoundary=".modal">
    <div class="modal-header" cdkDragHandle>
        <h5 class="modal-title">{{title}}</h5>
    </div>
    <div class="modal-body vbox">
        
        <div *ngIf="message" class="alert alert-warning mb-2">
            {{message}}
        </div>

        <dataset-list-panel (projectSelected)="selectProject($event)" [onlyOpen]="onlyOpen"></dataset-list-panel>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" (click)="ok()" [disabled]="!selectedProject">Ok</button>
        <button class="btn btn-light btn-sm" (click)="cancel()">{{'COMMONS.ACTIONS.CANCEL'|translate}}</button>
    </div>
</div>