/*
Here I extended the CSS rules of the default theme in codemirror.css
(https://codemirror.net/lib/codemirror.css) with further rules for each keyword of the manchester syntax
*/

.cm-quantifier { color: #9c0cb2; font-weight: bold; } /* some, value, ... */
.cm-conjuction { color: #0c965f; font-weight: bold; } /* and, or, ... */
.cm-facet { color: #05a; } /* minLength, pattern, ... */
.cm-builtinDatatype { color: #085; } /* integer, decimal, ... */
.cm-characteristic { color: #0075ba; font-weight: bold; } /* Functional, InverseFunctional */
.cm-bracket { color: #997; }
.cm-frame { color: #757575; font-weight: bold; } /* AnnotationProperty:, Class:, ... */
.cm-section { color: #001abc; font-weight: bold; } /* Annotations:, SubClassOf:, ... */
.cm-boolean { color: #219 } /* atom */

/* these are used for hints window*/
.quantifier { color: #9c0cb2; font-weight: bold; } /* some, value, ... */
.conjuction { color: #0c965f; font-weight: bold; } /* and, or, ... */
.facet { color: #05a; } /* minLength, pattern, ... */ 