<div *ngIf="showIcon" class="rdfResourceIcon">
  <ng-container *ngIf="language; then flagBlock; else iconBlock"></ng-container>
  <ng-template #flagBlock>
    <lang-item *ngIf="showLang" [language]="language" [disabled]="!isExplicit" [showName]="false" [showTag]="false"></lang-item>
  </ng-template>
  <ng-template #iconBlock>
    <img [src]="imgSrc" [title]="natureTooltip">
  </ng-template>
</div>
<span [title]="valueTooltip" [class]="'rdfResourceText' + renderingClass">

  <ng-container *ngIf="isManchExpr; else notManchExprBlock">
    <manchester-expr [resource]="resource.asAnnotatedBNode()"></manchester-expr>
  </ng-container>

  <ng-template #notManchExprBlock>
    <ng-container *ngIf="literalWithLink">
      <ng-container *ngFor="let s of splittedLiteral; let even=even">
        <span *ngIf="even">{{s}}</span>
        <a *ngIf="!even" [href]="s" target="_blank">{{s}}</a>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!literalWithLink">
      <span class="renderingText">{{renderingLabel}}</span>
    </ng-container>
  </ng-template>

</span>