:host {
  min-height: 16px;
  max-width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 2px;
}

.rdfResourceIcon {
  height: 16px;
  display: flex;
  flex: none;
  align-items: center;
  min-height: 0;
  min-width: 0;
}

.rdfResourceText {
  border: 1px solid transparent;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

.renderingText {
  /* 
  inline-block break inheritance of text-decoration-underline class, 
  so when clickable-values are rendered with widget+underlined, the underline is not displayed.
  I don't remember why inline-block has been added. For the moment remove it
  */
  // display: inline-block;
  line-height: initial;
  white-space: pre-wrap;
}

/**
when this class is applied to the component, e.g.
<rdf-resource class="ellipsis-y-2">
the textual content of the widget, if exceeds 2 lines, is truncated with ellipsis
*/
:host.ellipsis-y-2 .rdfResourceText span {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}