<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2 gap-2">
      <div class="clickable" (click)="collapsed = !collapsed">
        <img src="./assets/images/icons/arrow.png" class="py-1" [ngClass]="{'arrow-right': collapsed}">
      </div>
      <div class="d-flex mb-0 mw-100" style="min-width: 0;">
        <a [routerLink]="" (click)="goToDataset()" class="fw-bold ellipsable d-inline-block" [ngClass]="{ disabled : !accessible }" [title]="repo.id">
          {{getDatasetLabel()}}
        </a>
      </div>
      <span class="text-body-secondary">({{results.length}})</span>
      <span *ngIf="repo.visibility == 'AUTHORIZED'" class="badge text-bg-warning ms-auto">Staging</span>
    </div>
    <ng-container *ngIf="!collapsed">
      <div *ngFor="let result of results; let last=last" class="border-top pt-3 pb-2 px-2">
        <translation-result [result]="result" [accessible]="accessible"></translation-result>
      </div>
    </ng-container>
  </div>
</div>