<div class="container my-3">

  <h1>{{'TRANSLATION.TRANSLATION'|translate}}</h1>

  <div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchString" (keydown.enter)="searchKeyHandler()" [placeholder]="'TRANSLATION.TRANSLATE'|translate">
    <button class="btn btn-info" (click)="translate()" [disabled]="!searchString || loading">
      <i class="fas fa-play"></i>
    </button>
  </div>

  <div class="d-flex mt-2">
    <div style="width: 47%;">
      <label>{{'TRANSLATION.SOURCE_LANGS'|translate}}</label>
      <div class="d-flex align-items-center">
        <div class="hbox tile-group overflow-auto flex-nowrap" style="height: calc(3em + 2px);">
          <div *ngFor="let l of sourceLangs; let index = index;" class="d-flex align-items-center">
            <span class="tile">
              <span>({{l.tag}}) {{l.name}}</span>
              <span class="far fa-times-circle ms-1 clickable" (click)="removeLang(sourceLangs, index)"
                onmouseover="this.classList.remove('far'); this.classList.add('fas')"
                onmouseout="this.classList.remove('fas'); this.classList.add('far')">
              </span>
            </span>
          </div>
        </div>
        <button class="btn btn-light btn-sm ms-1" (click)="editSourceLangs()">
          <span class="fas fa-pencil-alt"></span>
        </button>
      </div>
    </div>
    <div class="d-flex align-items-end mx-auto">
      <button class="btn btn-light mb-1" (click)="switchLangs()" [disabled]="sourceLangs.length == 0 && targetLangs.length == 0">
        <i class="fas fa-exchange-alt"></i>
      </button>
    </div>
    <div style="width: 47%;">
      <label>{{'TRANSLATION.TARGET_LANGS'|translate}}</label>
      <div class="d-flex align-items-center">
        <div class="hbox tile-group overflow-auto flex-nowrap" style="height: calc(3em + 2px);">
          <div *ngFor="let l of targetLangs; let index = index;" class="d-flex align-items-center">
            <span class="tile">
              <span>({{l.tag}}) {{l.name}}</span>
              <span class="far fa-times-circle clickable ms-1" (click)="removeLang(targetLangs, index)"
                onmouseover="this.classList.remove('far'); this.classList.add('fas')"
                onmouseout="this.classList.remove('fas'); this.classList.add('far')">
              </span>
            </span>
          </div>
        </div>
        <button class="btn btn-light btn-sm ms-1" (click)="editTargetLangs()">
          <span class="fas fa-pencil-alt"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center my-2">
    <span class="text-body-secondary">{{'COMMONS.OPTIONS'|translate}}: </span>
    <div class="d-flex align-items-center ms-4" style="gap: 1rem;">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="includeClosedDatasets" (ngModelChange)="updateProjectFilter()">
          {{'TRANSLATION.INCLUDE_CLOSED_DATASETS'|translate}}
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" [(ngModel)]="caseSensitive" (ngModelChange)="onCaseSensitiveChange()">
          {{'TRANSLATION.CASE_SENSITIVE'|translate}}
        </label>
      </div>
    </div>
  </div>



  <div *ngIf="loading" class="spinner-border text-info"></div>

  <ng-container *ngIf="!loading && groupedResults">
    <!-- No results found -->
    <h5 *ngIf="filteredRepoIds.length == 0" class="text-secondary">{{'SEARCH.NO_RESOURCE_FOUND_FOR'|translate}} '{{lastSearch}}'</h5>
    <!-- Results found -->
    <ng-container *ngIf="filteredRepoIds.length != 0">
      <div class="d-flex align-items-center my-2">
        <div style="flex: 1;">
          <h5 class="text-secondary" style="display: inline;">
            {{resultsCount}}
            {{'SEARCH.X_MATCHES_IN_N_DATASETS.0'|translate}}
            {{filteredRepoIds.length}}
            {{'SEARCH.X_MATCHES_IN_N_DATASETS.1'|translate}}
          </h5>
          <h6 *ngIf="excludedResultsCount > 0" class="text-secondary ms-1" style="display: inline;">
            (
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.0'|translate}}:
            {{excludedResultsCount}}
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.1'|translate}}
            {{excludedRepoCount}}
            {{'SEARCH.X_HIDDEN_IN_N_DATASETS.2'|translate}}.
            <button class="btn btn-link btn-xs mb-1" (click)="disableClosedProjectFilter()">{{'SEARCH.DISABLE_FILTER'|translate}}</button>
            )
          </h6>
        </div>

        <div class="btn-toolbar">
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.EXPAND_ALL'|translate" (click)="expandAll()">
              <i class="fas fa-expand-arrows-alt"></i>
            </button>
            <button class="btn btn-light" [title]="'COMMONS.ACTIONS.COLLAPSE_ALL'|translate" (click)="collapseAll()">
              <i class="fas fa-compress-arrows-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card vbox mt-1">
        <div class="card-body vbox scrollableContainer">
          <translation-resultset *ngFor="let repoId of filteredRepoIds" [results]="groupedResults[repoId]" [accessible]="accessibleMap[repoId]" class="grouped-result"></translation-resultset>
        </div>
      </div>
    </ng-container>


  </ng-container>


</div>